<ul class="bxslider">
    <li>
        <table cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td>
                            <div>
                                <i class="icon"><img alt="for the mind" data-src="http://cdn2.hubspot.net/hubfs/2422193/pictures/for-the-mind.png"></i>
                            </div>
                        </td>
                        <td>&nbsp;</td>				
                    </tr>
                    <tr>
                        <td>For the mind</td>
                        <td>&nbsp;</td>				
                    </tr>
                    <tr>
                        <td>Trainings &amp; Conferences<br>
                        Knowledge sharing<br>
                        Library</td>
                        <td>&nbsp;</td>				
                    </tr>
                </tbody>
        </table>
    </li>
    <li>
    <table cellpadding="0" cellspacing="0">
            <tbody>
                <tr>				
                    <td>
                        <div>
                            <i class="icon"><img alt="for the body" data-src="http://cdn2.hubspot.net/hubfs/2422193/pictures/for-the-body.png"></i>
                        </div>
                    </td>				
                </tr>
                <tr>				
                    <td>For the body</td>
                    <td>&nbsp;</td>				
                </tr>
                <tr>				
                    <td>Mlitisport<br>
                    Private healthcare<br>
                    Fresh fruits</td>
                    <td>&nbsp;</td>				
                </tr>
            </tbody>
    </table>
    </li>
    <li>
    <table cellpadding="0" cellspacing="0">
            <tbody>
                <tr>				
                    <td>
                        <div>
                            <i class="icon"><img alt="for the soli" data-src="http://cdn2.hubspot.net/hubfs/2422193/pictures/for-the-soli.png"></i>
                        </div>
                    </td>				
                </tr>
                <tr>				
                    <td>For the soli</td>
                    <td>&nbsp;</td>				
                </tr>
                <tr>				
                    <td>Team retreats<br>
                    Chillout room<br>
                    Sport activities</td>
                    <td>&nbsp;</td>				
                </tr>
            </tbody>
    </table>
    </li>
    <li>
    <table cellpadding="0" cellspacing="0">
            <tbody>
                <tr>				
                    <td>
                        <div>
                            <i class="icon"><img alt="inlab-icon" data-src="https://cdn2.hubspot.net/hubfs/2422193/pictures/inlab-icon2.png"></i>
                        </div>
                    </td>
                </tr>
                <tr>				
                    <td>InLab</td>
                </tr>
                <tr>				
                    <td>Internal Innovations Development Program<br>
                    Get paid to bring your ideas to life!</td>
                </tr>
            </tbody>
    </table>
    </li>
</ul>