<ul class="bxslider">
    <li>              
                    <div>
                        <i class="icon"><img alt="for the mind" data-src="http://cdn2.hubspot.net/hubfs/2422193/pictures/for-the-mind.png"></i>
                    </div>
                    <div>
                        For the mind
                      </div>   			
                    
                    <div>
                        Trainings &amp; Conferences<br>
                        Knowledge sharing<br>
                        Library
                      </div> 
    </li>
    <li>         
                        <div>
                            <i class="icon"><img alt="for the body" data-src="http://cdn2.hubspot.net/hubfs/2422193/pictures/for-the-body.png"></i>
                        </div>
                    			
                
                	<div>			
                    For the body
                     </div>			
                
                	<div>			
                    Mlitisport<br>
                    Private healthcare<br>
                    Fresh fruits
                     </div>			
                
    </li>
    <li>
              
                        <div>
                            <i class="icon"><img alt="for the soli" data-src="http://cdn2.hubspot.net/hubfs/2422193/pictures/for-the-soul.png"></i>
                        </div>
                  	<div>		
                    For the soul
                     </div>			
                	<div>		
                    Team retreats<br>
                    Chillout room<br>
                    Sport activities
                     </div>
    </li>
    <li>            
                        <div>
                            <i class="icon"><img alt="inlab-icon" data-src="https://cdn2.hubspot.net/hubfs/2422193/pictures/inlab-icon2.png"></i>
                        </div>
                <div>				
                    InLab
                 </div>
                <div>				
                    Internal Innovations Development Program<br>
                    Get paid to bring your ideas to life!
                 </div>
            
    
    </li>
</ul>