@font-face {
    font-family: bariol-bold;
    src: url('http://cdn2.hubspot.net/hubfs/2422193/fonts/bariol_bold-webfont.woff2') format('woff2'),
         url('http://cdn2.hubspot.net/hubfs/2422193/fonts/bariol_bold-webfont.woff') format('woff'),
         url('http://cdn2.hubspot.net/hubfs/2422193/fonts/bariol_bold-webfont.ttf') format('truetype');
}

@font-face {
    font-family: bariol-regular;
    src: url('http://cdn2.hubspot.net/hubfs/2422193/fonts/bariol_regular-webfont.woff2') format('woff2'),
         url('http://cdn2.hubspot.net/hubfs/2422193/fonts/bariol_regular-webfont.woff') format('woff'),
         url('http://cdn2.hubspot.net/hubfs/2422193/fonts/bariol_regular-webfont.ttf') format('truetype');
}

@font-face {
    font-family: bariol-light;
    src: url('http://cdn2.hubspot.net/hubfs/2422193/fonts/bariol_light-webfont.woff2') format('woff2'),
         url('http://cdn2.hubspot.net/hubfs/2422193/fonts/bariol_light-webfont.woff') format('woff'),
         url('http://cdn2.hubspot.net/hubfs/2422193/fonts/bariol_light-webfont.ttf') format('truetype');
}
