@brand-primary:         #0098da; // #337ab7
@brand-success:         #ffcc00;
@brand-info:            #4cb5e4;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;


@brand-background: #fff;

.fp-tableCell {
  & > * {
    height: 100%;
    & > * {
      height: 100%;
    }
  }
}

@icon-size: 32px;

@flexible-gray: rgb(251, 251, 255);
@honest-gray: rgb(78, 90, 98);
@imagination-blue: rgb(0, 152, 218);
@innovator-blue: #00557A;

@imagination-blue-hover: lighten(@imagination-blue, 10%);

@empowering-yellow: rgb(255, 204, 0);
@empowering-yellow-faded: fade(@empowering-yellow, 50%);

@medium-gray: #ecf0f1;
@text-color: @honest-gray;

@btn-primary-color:              #fff;

@hover-dark: #2c3e50;
