@button-hover-height: 100%;
@button-hover-time: 0.2s;
@header-btn-margin: 0 0.3em;
@header-btn-padding: 1.2em;
@font-color-transition-time: 0.5s;
@header-font-size: .8em;
@header-max-width: 80em;
