@widget-text-fontsize: 24px;
@widget-main-row-fontsize: 2.25em;
@widget-word-count: 7;
@widget-span-animation-time: 0.5s;
@widget-span-animation-delay: 0.2s;

@widget-path-width: 2;

@widget-text-animation-delay: 0.7s;
@widget-carousel-animation-delay: 1.7s;
@widget-input-dash-array: 1800;
@widget-stroke-dash-array: 200;

@widget-carousel-height: 34px;
@widget-carousel-width: 1100px;
@widget-element-hover-height: 7%;
