.i13m-about-main-container {
  position: relative;
  width: 100%;
}

.i13m-about-main-background {
  .i13m-background-image-container();
  .i13m-standard-mask(50%);
  z-index: -1;
}

.i13m-about-main-content {
  .i13m-flex(column);
  text-transform: uppercase;
  height: 100%;
  text-align: center;
  h1,
  h2 {
    font-size: 4em;
    margin: 0;
  }
}

.i13m-about-main-text {
  padding: 1.5em;
}

.i13m-about-story {
  color: #fff;
  .i13m-background {
    .i13m-background-image-container();
    img {
      -webkit-filter: opacity(20%) contrast(150%);
      filter: opacity(20%) contrast(150%);
    }
  }
  .i13m-content {
    z-index: 2;
  }
  .bx-controls-direction {
    .i13m-flex(row);
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    .bx-prev,
    .bx-next {
      cursor: pointer;
      color: @empowering-yellow;;
      font-size: 2.6em;
      text-decoration: none;
      display: block;
      padding: 1.2em 0.5em;
      background-color: rgba(45, 45, 45, 0.7);
      -webkit-transition: color 0.2s ease-in-out;
      transition: color 0.2s ease-in-out;
      &:hover {
        color: darken(@empowering-yellow, 30%);
      }
    }
    .bx-prev {
      -webkit-transform: translateX(50%);
      transform: translateX(50%);
    }
    .bx-next {
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }
  .bx-pager {
    .i13m-bx-pager-row(#fff, @empowering-yellow);
    .i13m-flex(row);
    bottom: 4em;
    left: 0;
  }
  .i13m-about-story-carousel {
    height: 100%;
    width: 100%;
  }
  .bx-wrapper {
    position: relative;
    height: 100%;
    // * {
    //   padding: 0;
    //   margin: 0;
    // }
  }

  .bx-controls {
    // height: 100% !important;
    width: 100%;
    position: absolute;
    top: 0;
    .i13m-flex(row);
  }

  .bx-viewport {
    height: 100% !important;
  }
}

.bxslider-story {
  li {
    font-size: 1.9em;
    text-transform: uppercase;
    text-align: center;
    padding: 3em;
    box-sizing: border-box;
    // font-family: bariol-bold;
    line-height: 1.3;
    height: 100%;
    .i13m-flex(column);
    p {
      max-width: 50em;
      margin: 2em auto;
    }
  }
}

.i13m-about-board {
  .i13m-background {
    .i13m-background-image-container();
    background-color: #eff0f3;
    z-index: -1;
  }
  .i13m-content {
    color: @honest-gray;
    flex-direction: row;
    font-size: .9em;
  }
}


.i13m-about-board-board {
  .i13m-flex(column);
  margin-top: 3em;
}

.i13m-about-board-top,
.i13m-about-board-bottom {
  .i13m-flex(row);
  > div {
    box-sizing: border-box;
    margin: 1em 4em;
  }
}

.i13m-about-board-header {
  img {
    width: 170px;
    cursor: pointer;
  }
}

.i13m-about-board-info {
  text-align: center;
  font-family: bariol-bold;
  width: 170px;
}

.i13m-about-board-name {
  margin: 1em 0 0 0;
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: .8px;
}

.i13m-about-board-post {
  color: @imagination-blue;
  margin: .3em 0 0 0;
  letter-spacing: .5px;
}

.i13m-home-board-modal {
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 1.5em;
  box-sizing: border-box;
  font-size: 2em;
  line-height: 1.3em;
  top: 0;
  .i13m-flex(column);
  justify-content: flex-start;
  align-items: flex-start;
  .i13m-modal-close {
    font-size: 1em;
    &:before,
    &:after {
      color: @imagination-blue;
    }
  }
}

#i13m-about-board-bottom3 {
    background-position:0 50%;
}

.i13m-home-board-modal-content {
  .i13m-flex(column);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: .85em;
  h5 {
    margin: .7em 0 0 0;
    color: @imagination-blue;
    font-size: 1.1em;
    letter-spacing: 2px;
  }
  h6 {
    margin: 0 0 .85em 0;
    padding: 0 0 .85em 0;
    letter-spacing: 2px;
    position: relative;
    &:after {
      content: ' ';
      display: block;
      position: absolute;
      background-color: @empowering-yellow;
      width: 3em;
      height: 3px;
      border-radius: 3px;
      bottom: 0;
      left: 0;
    }
  }
  p {
    font-size: .8em;
    letter-spacing: .8px;
    line-height: 1.2;
  }
  div {
    max-width: 30em;
  }
}

.i13m-about-awards-awards {
  .i13m-flex(row);
  width: 100%;
  height: 100%;
  img {
    margin: 0 5em;
  }
}

.i13m-about-awards {
  .awards {
    display: none;
  }
}

.i13m-about-values-content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  .i13m-page-header {
    z-index: 999;
  }
}

.i13m-about-values-carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  * {
    margin: 0;
    padding: 0;
  }
}

.i13m-about-values-container {
  position: relative;
  width: 100%;

  .bx-wrapper,
  .bx-viewport {
    position: relative;
    height: 100% !important;
    width: 100%;
    top: 0;
    left: 0;
    border: none !important;
  }

  .bx-pager {
    .i13m-bx-pager-column(#fff, @empowering-yellow);
  }
}

.bxslider-values {
  height: 100% !important;
  z-index: -1;
  li {
    height: 100% !important;
    width: 100% !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .i13m-flex(column);
    .i13m-text();
  }
}

.i13m-about-mission {
  .i13m-content {
    color: @honest-gray;
    .i13m-text();
  }
  h6 {
    text-align: center;
  }
}

.i13m-about-vision {
  .i13m-background {
    .i13m-standard-mask(30%);
  }
  .i13m-content {
    color: @honest-gray;
    .i13m-text();
  }
}

.i13m-about-press {
  .i13m-content {
    color: @honest-gray;
    flex-direction: row;
    > div {
      width: 590px;
      h3 {
        font-size: 2em;
        margin: .2em 0;
      }
      h4 {
        font-size: 1.8em;
        margin: .2em 0;
      }
      div {
        font-size: 1.25em;
        margin: 1.5em 0;
        p {
          margin: .2em 0;
        }
        h5 {
          font-family: bariol-bold;
          text-transform: uppercase;
          margin: .2em 0;
        }
      }
    }
  }
}

.i13m-about-resources {
  .i13m-content {
    color: @honest-gray;
    flex-direction: row;
    > div {
      width: 600px;
    }
    > div:first-of-type {
      .i13m-flex(column);
      align-items: flex-start;
      font-size: 1.7em;
      h6 {
        margin: 0;
        font-size: 1.2em;
      }
      p {
        margin: .6em 0;
        width: 19em;
        line-height: 1;
      }
      a {
        font-size: .8em;
        text-transform: uppercase;
        width: 5.5em;
        text-align: center;
        margin-bottom: 2em;
      }
    }
  }
}

.i13m-about-policy-modal {
  .i13m-modal();
  font-size: 1.3em;
  .i13m-about-policy-modal-content {
    padding: 3em 2em 1em;
    li {
      margin: 1em 0;
    }
  }
}

.i13m-about-policy-modal-close {
  .i13m-modal-close();
  &:hover {
    &:before {
      color: @hover-dark;
    }
  }
}
