.i13m-booster-header {
  // margin-top: -56px;
  overflow: hidden;
  height: 400px;
  // margin: 2em 0 0 0;
  .i13m-booster-latest-container {
    position: relative;
    z-index: 1;
    .i13m-flex(column);
    .bxslider {
      margin: 0;
    }
    .i13m-booster-header-background {
      height: 400px;
      width: 100%;
      z-index: 1;

      .i13m-flex(column);
      align-items: flex-start;
      .i13m-booster-header-content {
        .i13m-center();
        padding: 2em;

        .i13m-flex(column);
        align-items: flex-start;
        text-align: left;

        h3 {
          font-size: 3em;
          color: #fff;
          text-transform: uppercase;
        }
        h4 {
          color: @imagination-blue;
          margin: 0;
          font-size: 1.9em;
        }
        p {
          color: #fff;
          font-size: 1.4em;
          margin: 0;
          text-overflow: ellipsis;
          width: 100%;
          display: inline-block;
          overflow: hidden;
          line-height: 1.2em;
          word-wrap: break-word;
          max-height: 3.6em;
        }
        .i13m-next-button {
          margin: 1.5em 0 0 0;
          .i13m-horizontal-button();
          background-color: #fff;
          color: @honest-gray;
          text-transform: uppercase;
          font-size: 1.31em;
        }
      }
    }
  }
}

.i13m-booster-body {
  margin-top: 30px;
  .grid-item {
    text-align: left;
    background-color: #fff;
    border: 1px solid @medium-gray;
    padding: 1em;
    width: 455px;
    margin-bottom: 30px;
    &:after {

    }
    .i13m-booster-post-header {
      position: relative;
      > iframe {
        max-width: 100%;
        height: 256px;
      }

    }

    > p {
      border-top: 1px solid @medium-gray;
      line-height: 1.4;
      padding-top: 1em;
      color: #a1b1bc;
      font-size: 1em;
      text-overflow: ellipsis;
      width: 100%;
      display: inline-block;
      overflow: hidden;
      word-wrap: break-word;
      max-height: 4.2em;
    }
  }

  .bxslider-post {
    margin-top: 0;
    li {
      margin-top: 0;
      div {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 253px;
      }
    }
  }

}

.i13m-booster-post-title {
  color: @hover-dark;
  display: block;
  margin: 0.6em 0 0.4em 0;
  font-size: 1.9em;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
}
.i13m-booster-post-author {
  display: block;
  color: #a1b1bc;
}
.i13m-booster-link-title {
  display: block;
  padding: 0.5em 0.75em;
  color: #fff;
  font-size: 2.3em;
  background: #21c2f8 url(http://cdn2.hubspot.net/hubfs/2422193/pictures/booster-link.png) right bottom no-repeat;
  text-align: left;
  line-height: 1.5;
  text-decoration: none;
}
.i13m-booster-link-web {
  display: block;
  padding: 0.75em 1.7em;
  color: #fff;
  background: #21c2f8;
  font-weight: 700;
  border-top: 1px solid #fff;
  text-decoration: none;
  text-align: left;
}
.i13m-booster-link-title,
.i13m-booster-link-web {
  &:hover {
    text-decoration: underline;
  }
}

.i13m-booster-post-social {
  padding: 1em 0 0 0;
  border-top: 1px solid @medium-gray;
  .i13m-flex(row);
  width: 100%;
  justify-content: space-between;;
  a {
    text-decoration: none;
    color: #a1b1bc;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  div {
    border-right: 1px solid @medium-gray;
    height: 1.15em;
  }
}

.i13m-booster-pager {
  width: 100%;
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  .i13m-flex(row);
  a {
    border-radius: 30px;
    background-color: darkgray;
    margin: 0.5em;
    padding: 0.5em;
    line-height: 0.5em;
    display: inline-block;
    &.active {
      background-color: #fff;
    }
  }
}

.i13m-booster-post-social {
  .i13m-social-tooltip-content {
    display: none;
  }
}

.i13m-social-tooltip-content {
  margin: -16px -10px;
  overflow: hidden;
  ul {
    list-style: none;
    .i13m-flex(row);
    justify-content: space-between;
    font-size: 1.5em;
    padding: 0;
    a {
      color: @medium-gray;
      &:hover {
        color: darken(@medium-gray, 10%);
        text-decoration: none;
      }
    }
  }
}

.blog-section {
  .i13m-center();
  background-color: transparent;
  max-width: 79.55em;
}

#hs_cos_wrapper_ITMAGINATION_Booster_post_template_EN,
#hs_cos_wrapper_ITMAGINATION_Booster_post_template_PL {
  .i13m-booster-post-header {
    background-color: #fff;
    border: 1px solid #ecf0f1;
    padding: 1em;
    position: relative;
    > iframe {
      max-width: 982.4px;
    }
  }
}

.i13m-booster-navigation-buttons {
  .i13m-flex(row);
  justify-content: space-between;
  padding: 2em 0;
  border-bottom: 1px solid #ecf0f1;
  a {
    .i13m-horizontal-button();
    background-color: #fff;
    border: 1px solid #ecf0f1;
    text-transform: uppercase;
    color: @hover-dark;
    &:focus,
    &:active {
      text-decoration: none;
      background-color: @hover-dark;
    }
  }
}


.bxslider-post {
  margin-top: 0;
  li {
    margin-top: 0;
    div {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 400px;
    }
  }
}

.i13m-booster-read-more {
  .i13m-horizontal-button();
  display: inline-block;
  background-color: @hover-dark;
  color: #fff;
  margin: 1em 0;
  text-transform: uppercase;
  &:hover {
    background-color: @imagination-blue;
  }
}

.i13m-booster-post-contents {
  text-align: left;
  > span {
    color: @honest-gray;
    font-size: 1.3em;
    > p {
      line-height: 1.4;
    }
    > *:first-child {
      p:first-of-type {
        color: #32475b;
        font-size: 1.3em;
        line-height: 1.5;
        font-weight: 700;
      }
    }
    > p:first-child {
      color: #32475b;
      font-size: 1.3em;
      line-height: 1.5;
      font-weight: 700;
    }
    > pre {
      font-size: .75em;
    }
    blockquote {
      padding: 2em 3em;
      border-left: 10px solid #21c2f8;
      background: #fff;
      line-height: 1.4;
      strong {
        display: block;
        font-size: 1.8em;
      }
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        padding-left: 1em;
        text-indent: -.7em;
        &:before {
          content: '\f0c8';
          font-family: FontAwesome;
          color: @imagination-blue;
          font-size: .7em;
          position: relative;
          left: -.5em;
          top: -.2em;
        }
      }
    }
    h3 {
      color: #32475b;
      font-size: 1.7em;
      font-weight: 700;
    }
    img {
      cursor: zoom-in;
      max-width: 100%;
    }
  }
}
.i13m-booster-social {
  text-align: left;
  .tags, .share {
    margin:1.5em 0;
    color:#a1b1bc;
    border:1px solid #ecf0f1;
    overflow:auto;
    line-height: 50px;
    font-size: 1.2em;
  }
  .tags {
    margin:0;
    font-size: 1.3em;
  }
  .tags:before {
    display:inline-block;
    width:50px;
    height:50px;
    margin-right:1em;
    float:left;
    font-family: FontAwesome;
    content: "\f02c";
    background-color: #34495e;
    line-height: 50px;
    text-align: center;
    color: #fff;
  }
  .share:before {
    display:inline-block;
    width:50px;
    height:50px;
    margin-right:1em;
    float:left;
    font-family: FontAwesome;
    content: "\f1e0";
    background-color: #21c2f8;
    line-height: 50px;
    text-align: center;
    color: #fff;
  }
  .share {
    a {
      text-decoration: none;
      color:#a1b1bc;
      font-size: 1.3em;
      margin: 0.5em;
      transition: color 0.15s ease-in-out;
      &:hover {
        color: @imagination-blue;
      }
    }
  }
}

.i13m-booster-author {
  margin:2em 0 1em 0;
  background:#f5f7f8;
  border:1px solid #ecf0f1;
  text-align: left;
  img {
    width:100px;
    height:100px;
    float:left;
    margin:1em 1em 0;
    background:#a1b1bc;
    border:2px solid #fff;
    box-shadow:0 0 5px rgba(0,0,0,0.5);
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
  }
  strong {
    margin-top:1em;
    display:block;
    color: @hover-dark;
    font-size:1.1em;
  }
  p {
    padding:0 1em;
    color:#a1b1bc;
  }
  &:after {
    display:block;
    clear:both;
    height:5px;
    border-top:1px solid #ecf0f1;
    background:#fff;
    content:"";
  }
}


.i13m-booster-related {
  h3 {
    font-size: 2em;
  }
  .i13m-booster-related-container {
    .i13m-flex(row);
    justify-content: flex-start;
    align-items: flex-start;
    .related-post-item {
      width: calc(~"25% - 16px");
      margin: 0 8px;
      .i13m-booster-header-background {
        width:100%;
        height:200px;
      }
      .related-title {
        font-size:1.3em;
        font-weight:bold;
        margin: 1em 0;
        a {
          color: @hover-dark;
          text-decoration: none;
        }
      }
      .related-author {
        display:block;
        margin-bottom:1em;
        padding-bottom:1em;
        color:#a1b1bc;
        border-bottom:1px solid #ecf0f1;
      }
      .related-summary {
        p {
          color:#a1b1bc;
          line-height: 1.2em;
          display: inline-block;
          overflow: hidden;
          word-wrap: break-word;
          max-height: 3.6em;
          overflow: hidden;
        }
        display:block;
        margin-bottom:1em;
        padding-bottom:2em;
        max-height: 3.6em;
        min-height: 3.6em;
        border-bottom:1px solid #ecf0f1;
      }
      .i13m-booster-read-more {
        background: #fff;
        color:@hover-dark;
        border:1px solid @medium-gray;
        &:hover {
          background:#171d22;
          border-color:#171d22;
          color:#fff;
        }
      }
    }
  }
}

.i13m-booster-header-background {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.i13m-booster-header-background-left,
.i13m-booster-header-background-right {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 120%;
  width: 70%;
  top: 50%;
  position: absolute;
  z-index: -199;
  -webkit-filter: blur(12px) brightness(40%);
  filter: blur(12px) brightness(40%);
}

.i13m-booster-header-background-left {
  left: 0;
  -webkit-transform: translate(-33%, -50%);
  transform: translate(-33%, -50%);
}

.i13m-booster-header-background-right {
  right: 0;
  -webkit-transform: translate(33%, -50%);
  transform: translate(33%, -50%);
}

.related-post-item {
  .i13m-booster-header-background {
    &:before,
    &:after {
      display: none;
    }
  }
}

.i13m-booster-post-gallery {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  img {
    border-style: none;
    background-color: #fff;
    border: 4em solid #fff;
    max-width: 90%;
  }
  .bx-controls {
    .i13m-flex(column);
  }
  .bx-controls-direction {
    .i13m-flex(row);
    justify-content: space-between;
    width: 95%;
    position: absolute;
    top: 50%;
    font-size: 4em;
    > a {
      text-decoration: none;
      color: #fff;
    }
  }
}

.i13m-booster-post-gallery-container {
  margin-top: 100px;
  max-height: calc(~"100% - 100px");
}

.i13m-booster-post-gallery-close {
  .i13m-modal-close();
  top: 3.5em !important;
  right: 1.5em !important;
  z-index: 9999;
  &:hover {
    &:before {
      color: @imagination-blue;
    }
  }
}

.i13m-booster-contact-form {
  .hs-form fieldset.form-columns-1 .hs-input[type="text"],
  .hs-form fieldset.form-columns-1 .hs-input[type="email"] {
    width:100%;
  }

  h6 {
    font-size: 1.7em;
    margin: 1em 0;
    text-align: center;
  }
  h3 {
    .i13m-center();
    // margin: 2.5em auto 2em;
    margin: 0;
    // font-size: 1.7em;
    // color: #858586;
    // font-weight: 400;
    // font-family: bariol-light;
  }

  > span {
    .i13m-center();
    padding: 0;
    display: block;
    .hs-form {
      fieldset.form-columns-2 {
        .hs-form-field {
          width: calc(~"50% - 5px");
          &:not(:first-child) {
            margin-left: 10px;
          }
        }
      }
    }

    form {
      fieldset.form-columns-1 {
        .hs-input {
          &:not(name^="consent_") {
            width: 100%;
          }
        }
      }
      margin: 0;
      fieldset {
        margin-right: -8px !important;
      }
      // fieldset {
      //   margin-left: 24px !important;
      //   > div:last-child {
      //     > div {
      //       margin-right: 24px !important;
      //     }
      //   }
      // }
      fieldset,
      > div {
        max-width: 80.5em;
        margin: 1.1em 0;
        input,
        select,
        textarea {
          width: 100%;
          box-sizing: border-box;
          padding: 0.9em 0.6em;
          background-color: #fff;
          border: 1px solid #ddd;
          -webkit-border-radius: 4px;
          border-radius: 4px;
          font-size: 1.1em;
          outline: none;
        }
        textarea {
          height: 11.5em;
        }
        input[type="submit"] {
          background-color: @imagination-blue;
          color: #fff;
          text-transform: uppercase;
          font-weight: 700;
          cursor: pointer;
          &:hover {
            background-color: @hover-dark;
          }
        }
        > div {
          > label {
            display: block;
            float: right;
            font-size: 1.5em;
            font-weight: 700;
            color: #f43718;
            -webkit-transform: translateX(5px);
            transform: translateX(5px);
          }
          // &:not(:last-of-type) {
          //   label {
          //     display: none !important;
          //   }
          // }
        }
      }
      // .hs_submit {
      //   .actions {
      //     margin-right: 24px;
      //     margin-left: 24px;
      //   }
      // }
    }
  }
}

#disqus_thread {
  border-bottom: 2px solid #e7e9ee;
  padding-bottom: 2em;
}

.i13m-booster-previous-button[disabled="true"],
.i13m-booster-next-button[disabled="true"] {
  pointer-events: none;
  color: lightgray;
}

.i13m-booster-previous-button {
  i {
    margin: 0 .5em 0 0;
  }
}

.i13m-booster-next-button {
  i {
    margin: 0 0 0 .5em;
  }
}
