.i13m-careers-search-background {
  background-image: -webkit-linear-gradient(rgba(0, 152, 218, 0.3),rgba(0, 152, 218, 0.3)),-webkit-linear-gradient(rgba(211,211,211,0.9) 0%,rgba(0,0,0,0) 50%),url(http://cdn2.hubspot.net/hubfs/2422193/pictures/career-teamwork-synergy.jpg);
  background-image: linear-gradient(rgba(0, 152, 218, 0.3),rgba(0, 152, 218, 0.3)),linear-gradient(rgba(211,211,211,0.9) 0%,rgba(0,0,0,0) 50%),url(http://cdn2.hubspot.net/hubfs/2422193/pictures/career-teamwork-synergy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.i13m-careers-main-search {
  .i13m-center();
  display: flex;
  margin: 1.5em auto;
  input[type="text"],
  button {
    line-height: normal;
    outline: none;
    &:focus,
    &:hover,
    &:active {
      outline:none;
    }
  }
  input[type="text"] {
    width:90%;
    float:left;
    margin:0;
    padding:0.9em 0.6em;
    font-size:1.3em;
    border:0;
    border-radius: 4px 0 0 4px;
  }
  button {
    width:10%;
    float:left;
    margin:0;
    padding:0.9em 0.6em;
    font-size:1.3em;
    border:0;
    border-radius: 0 4px 4px 0;
    background-color:#fff;
    span {
      color: @imagination-blue;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      &:hover {
        color: @imagination-blue-hover;
      }
    }
  }
}
.i13m-careers-search-content {
  .i13m-flex(column);
  height: 100%;
  h1 {
    color: #fff;
    letter-spacing: -0.5px;
    font-size: 3em;
    margin: 3em 0 .1em;
    strong {
      font-family: bariol-bold;
    }
  }
  h2 {
    color: #fff;
    font-size: 1.45em;
    .i13m-center();
    max-width: 50.75em;
    display: block;
    height: 40px;
    margin-top: 0;
    text-align: center;
    margin-bottom: 0;
    font-weight: 400;
    p {
      margin: 0;
      span {
        line-height: 1.5em;
      }
    }
  }
}
.i13m-careers-search-container {
  font-size: 0.95em;
  height: 40em;
  position: relative;


}
.i13m-careers-main-content {
  height: 100%;
  .careers-main-fill {
    width: 100%;
    height: 29px;
    left: 0;
    bottom: 0;
    position: absolute;
    background-color: #ecf0f1;
    margin-bottom: -29px;
  }
  .i13m-careers-separator-container {
    background-color: @imagination-blue;
    div {
      .i13m-center();
      display: table;
      p {
        margin: 1em 0;
        font-size: 1.7em;
        color: #fff;
        text-align: center;
        &:nth-child(2) {
          margin-bottom: 0;
        }
        &:nth-child(3) {
          margin-top: 0;
        }
      }
    }
  }
}
.i13m-careers-main-container {
  position: relative;
  width: 100%;

}

.i13m-careers-latest-container {
  position: relative;
  width: 100%;
  height: 100%;
  .i13m-background {
    background-color: @medium-gray;
    .i13m-background-image-container();
    z-index: -1;
  }

  .i13m-content {
    justify-content: space-around;
    color: @imagination-blue;
    padding-bottom: 64.5px;

    .i13m-careers-latest-body {
      min-height: 278px;
      height: 100%;
      width: 100%;
      .i13m-flex(column);
      padding-bottom: 2em;

      .i13m-careers-latest-carousel {
        &:after {
          clear:both;
          display: block;
          content: ' ';
        }
        &.test-ab {
          flex-direction: column;
        }
        width: 100%;
        position: relative;
        .i13m-flex(row);

        .bx-wrapper {
          height: 278px !important;
          .bx-viewport {
            height: 278px !important;
            .i13m-job-post {
              .i13m-flex(row);
            }
          }
        }
        &:not(.test-ab) {
          button {
            .i13m-button();
            padding: 0 .3em;
            color: @imagination-blue;
            font-size: 4em;

            &:hover {
              color: @imagination-blue-hover;
            }
          }
        }
      }
    }
  }
}

.i13m-careers-recruitment-widget {
  .i13m-content {
    font-size: .75em;
  }
}

.i13m-careers-recruitment-background {
  .i13m-background-image-container();
  .i13m-standard-mask(60%);
  z-index: -1;
}
.i13m-careers-recruitment-text-title {
  font-size: 3.75em;
  line-height: 1;
  margin: 0;
  opacity: 0;
}
.i13m-careers-recruitment-text-subtitle {
  font-size: 1.875em;
  margin-top: 0;
  opacity: 0;
}
.i13m-careers-recruitment-text-container {
  max-width: 55em;
  text-align: left;
  padding: 1.5em .9375em .5em;
}
.i13m-careers-recruitment-text {
  .i13m-center();
  max-width: 122em;
}
.i13m-careers-recruitment-animation-left-glue,
.i13m-careers-recruitment-animation-right-glue {
  width: 3.5em;
}
.i13m-careers-recruitment-animation-smalldot {
  padding: 0 1.6em;
  div {
    border: 0.2em solid #fff;
    border-radius: 0.2em;
  }
}
.i13m-careers-recruitment-animation-dot {
  padding: 0 1.4em;
  div {
    border: 0.5em solid #fff;
    border-radius: 0.5em;
  }
}
.i13m-careers-recruitment-animation-horizontal-glue {
  height: 1em;
}
.i13m-careers-recruitment-animation-texts {
  td {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2em;
  }
}
.i13m-careers-recruitment-animation {
  color: #fff;
  margin: 2em;
  table {
    margin: 0 auto;
    td {
      opacity: 0;
    }
  }
}

.i13m-careers-recruitment-footer {
  .i13m-center();
  font-size: 1.9em;
  text-transform: uppercase;
  text-align: center;
  font-family: bariol-bold;
  color: @empowering-yellow-faded;
  opacity: 0;
}
.i13m-careers-recruitment-container {
  width: 100%;
  position: relative;
  color: #fff;
  overflow: auto;

  .i13m-content {
    width: 100%;
    height: ~"calc(100% - 50px)";
    .i13m-flex(column);
    justify-content: space-around;
    padding-top: 12em;
  }
}

.i13m-careers-recruitment-animation-done {
  div {
    background: @imagination-blue;
    font-size: 3em;
    border-radius: 50%;
    width: 3.15em;
    height: 3.15em;
    .i13m-flex(row);
  }
}

.i13m-careers-recruitment-animation-number {
  font-size: 4.5em;
  div {
    .i13m-flex(row);
    width: 2em;
    height: 2em;
    border: 0.05em solid #fff;
    border-radius: 50%;
    box-sizing: border-box;
  }
}

.i13m-careers-itmw-facts-container {
  width: 100%;
  position: relative;
  color: #fff;

  .i13m-content {
    width: 100%;
    height: 100%;
    .i13m-flex(column);
    justify-content: space-around;
    text-align: center;
  }
}
.i13m-careers-itmw-facts-text {
  .i13m-center();
  & > p {
    margin: 0;
    font-size: 1.5em;
  }
}
.i13m-careers-itmw-facts-table {
  td {
    border: none;
    vertical-align: middle;
    width: 3em;
  }
  tr:nth-child(1) {
    font-size: 4.5em;
    font-family: bariol-light;
    line-height: 1;
  }
}
.i13m-careers-itmw-perks-text {
  .i13m-center();
  p {
    font-size: 1.5em;
    text-align: center;
    margin: 0;
  }
}

.i13m-careers-itmw-perks-container {
  width: 100%;
  position: relative;
  color: #fff;

  .i13m-content {
    width: 100%;
    height: 100%;
    .i13m-flex(column);
    justify-content: space-around;
  }
}
.i13m-careers-itmw-perks-table {
  font-size: 1.125em;
  margin: 2em 0;
  tr:nth-child(1) {
    td {
      height: 1.5em;
      div {
        position: relative;
        height: 6em;
        &:before {
          position: absolute;
          left: 0;
          content: ' ';
          z-index: -1;
          height: 51%;
          width: 100%;
          background-color: #fff;
          bottom: -1%;
        }

        i {
          margin: 0;
          position: absolute;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          img {
            background-color: @imagination-blue;
            border: 8px solid #fff;
            border-radius: 99px;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
          }
        }
      }
    }
  }
  tr:nth-child(2) {
    font-family: bariol-bold;
    td:nth-child(odd) {
      color: @hover-dark;
      background-color: #fff;
      vertical-align: middle;
      height: 3.5em;
    }
  }
  tr:nth-child(3) {
    td:nth-child(odd) {
      color: #a1b1bc;
      background-color: #fff;
      vertical-align: top;
      height: 6em;
    }
  }

  td {
    border: none;
    font-size: 1.125em;
    text-align: center;
    width: 18em;
  }
  td:nth-child(even) {
    background-color: transparent;
    width: 1em;
  }
}

.i13m-careers-itmw-people-background {
  .i13m-background-image-container();
  z-index: -1;
  background-color: #fff;
}
.i13m-careers-itmw-people-container {
  width: 100%;
  position: relative;
  color: @imagination-blue;
  overflow: auto;
  .i13m-text {
    .i13m-text-absolute();
    top: 10em;
    width: 100%;
    p {
      font-size: 1.5em;
      text-align: center;
      margin: 0;
    }
  }

  .i13m-content {
    max-height: 860px;
    width: 100%;
    height: 100%;
    .i13m-flex(column);
    justify-content: space-around;

  }
}
.i13m-careers-itmw-people-people {
  .i13m-flex(row);
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  flex-wrap: wrap;
  width: 800px;
}
.i13m-careers-itmw-people-person {
  .i13m-flex(column);
  align-items: flex-start;
  margin: 0 1em 1em;
  img {
    width: 360px;
  }
  strong {
    margin-top: 1em;
    text-transform: uppercase;
    color: @hover-dark;
  }
}
.i13m-careers-read {
  text-align: center;
  line-height: 160px;
  color: #fff;
  z-index: 99;
  opacity: 0;
  position: absolute;
  text-decoration: none;
  background-color: rgba(100, 190, 240, .5);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  font-size: 1.8em;
  color: #fff;
  font-family: bariol-bold;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
  &:hover {
    opacity: 1;
  }
}
.i13m-careers-itmw-people-image-container {
  position: relative;
  img {
    height: 161px;
  }
}
.i13m-careers-itmw-people-row {
  .i13m-flex(row);
  width: 100%;
  justify-content: space-between;
  .i13m-careers-itmw-people-column {
    .i13m-flex(column);
    align-items: flex-start;
  }
}

.i13m-career-story-modal (@url) {
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.75),rgba(255, 255, 255, 0.75)),url(~"@{url}");
  background-image: linear-gradient(rgba(255, 255, 255, 0.75),rgba(255, 255, 255, 0.75)),url(~"@{url}");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 3em;
  left: 0;
  top: 0;
  box-sizing: border-box;
  font-size: 2em;
  line-height: 1.3em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  color: @honest-gray;


  .i13m-career-story-modal-name {
    font-style: normal;
    text-transform: uppercase;;
    font-size: 1.2em;
    font-family: bariol-bold;
  }

  .i13m-career-story-modal-job {
    color: @imagination-blue;
    margin-bottom: 1em;
  }

  .i13m-career-story-modal-text {
    font-style: italic;
    &:before {
      content: '\201c';
    }
    &:after {
      content: '\201d';

    }
  }
}

.i13m-career-story-modal1 {
  .i13m-career-story-modal('http://cdn2.hubspot.net/hubfs/2422193/pictures/content-manager.jpg');
}

.i13m-career-story-modal2 {
  .i13m-career-story-modal('http://cdn2.hubspot.net/hubfs/2422193/pictures/financial-specialist.jpg');
}

.i13m-career-story-modal3 {
  .i13m-career-story-modal('http://cdn2.hubspot.net/hubfs/2422193/pictures/cloud-architect.jpg');
}

.i13m-career-story-modal4 {
  .i13m-career-story-modal('http://cdn2.hubspot.net/hubfs/2422193/pictures/quality-auditor.jpg');
}

.i13m-careers-itmw-success-container {
  color: #fff;
  overflow: auto;
  .i13m-career-success-table {
    display: none;
  }
  width: 100%;
  .i13m-background {
    z-index: -1;
    .i13m-background-image-container();
  }

  .i13m-content {
    width: 100%;
    height: 100%;
    .i13m-flex(column);
  	transition: 0.6s;
  	transform-style: preserve-3d;
  }
}

.i13m-careers-itmw-success-text {
  .i13m-center();
  margin: 0 auto 4em;
  p {
    font-size: 1.5em;
    text-align: center;
    margin: 0;
  }
}

.i13m-careers-itmw-success-content-front,
.i13m-success-control {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

.i13m-careers-itmw-success-content-front {
  width: 100%;
  height: 100%;
  z-index: 2;
  transform: rotateY(0deg) translate3d(0,0,0);
  .i13m-flex(column);
  &.test-ab {
    transform: rotateY(180deg) translate3d(0,0,0);
    z-index: 1;
  }
}

.i13m-success-control {
  transform: rotateY(180deg) translate3d(0,0,0);
  z-index: 1;
  &.test-ab {
    z-index: 2;
    transform: rotateY(0deg) translate3d(0,0,0);
  }
}
.i13m-suceess-widget {
  .i13m-flex(column);
  width: 100%;
}
.i13m-success-more, .i13m-round-more {
  .i13m-button();
  z-index: 98;
  padding: 1em;
  cursor: pointer;
  text-transform: uppercase;
  color: @hover-dark;
  font-family: bariol-bold;
  font-size: 1.3em;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #fff;
  &:hover {
    .i13m-button-hover();
  }
}

.i13m-careers-itmw-initiatives-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  color: @imagination-blue;
  .i13m-background {
    background-color: @medium-gray;
    .i13m-background-image-container();
    z-index: -1;
  }

  .i13m-content {
    width: 100%;
    height: 100%;
    padding-top: 10em;
    -webkit-transform: scale(.85);
    transform: scale(.85);
    .i13m-flex(column);
    justify-content: space-around;
    .i13m-careers-itmw-initiatives-text {
      opacity: 0;
      .i13m-center();
      max-width: 79.75em;
      p {
        font-size: 1.5em;
        text-align: center;
        margin: 0;
      }
    }
    .i13m-careers-itmw-initiatives-animation {
      table {
        table-layout: fixed;
        td {
          font-size: 1.4em;
          color: @honest-gray;
          font-family: bariol-bold;
          &.i13m-careers-initiatives-svg-td {
            div {
              position: relative;
            }
          }
          .i13m-careers-itmw-initiatives-caption {
            margin: 0 0.5em;
            opacity: 0;
            white-space: nowrap;
            margin-left: -100%;
            margin-right: -100%;
            text-align: center;
          }
          svg {
            margin: -1em 0;
            &.i13m-careers-initiatives-logo {
              opacity: 0;
              margin-top: -2.25em;
              margin-bottom: -3.2em;
            }
            &.i13m-careers-initiatives-stroke {
              display: block;
              margin: 0 auto;
              path {
                stroke: @honest-gray;
                stroke-width: 2;
                stroke-linejoin: round;
                fill: none;
                stroke-dasharray: @initiative-input-dash-array;
                stroke-dashoffset: @initiative-input-dash-array;
                -webkit-transition: stroke-dashoffset 0.2s linear;
                transition: stroke-dashoffset 0.2s linear;
              }
            }
            &.i13m-careers-initiatives-circle {
              opacity: 0;
              margin: 0 auto;
              position: absolute;
              left: 0;
              top: 0;
              -webkit-filter: drop-shadow(0 0 3px @honest-gray);
              filter: drop-shadow(0 0 3px @honest-gray);
              circle {
                stroke: none;
                fill: #fff;
              }
            }
          }
        }
        .i13m-careers-itmw-initiatives-dot {
          width: 26px;
          > div {
            opacity: 0;
            border: 1px solid @imagination-blue;
            border-radius: 1em;
            > div {
              background-color: @imagination-blue;
              padding: 0.43em;
              border-radius: 1em;
              border: 3px solid @medium-gray;
            }
          }
        }
      }
    }
    .i13m-initiatives-mobile {
      display: none;
    }
  }
}

.i13m-left-button,
.i13m-left-button {
  .referral {
    display: none;
  }
}

.i13m-career-faq-modal {
  .i13m-modal();
  border-top: 6em solid #3097D2;
  > * {
    width: 45%;
    margin: .5em 2em;
    font-size: 1.3em;
  }
  > p:first-child {
    margin-top: 0;
    strong {
      font-size: 2em;
    }
  }
}

.i13m-careers-offers-search {
  margin-top: 6em;
  position: relative;
  color: @honest-gray;
  min-height: 39.025px;
  width: @careers-offers-width;
  .i13m-flex(row);
  justify-content: space-between;
  > input,
  .awesomplete {
    margin: 0 16px;
    width: 30%;
    box-sizing: border-box;
  }

  input {
    padding: 0.9em 0.6em;
  }

  .awesomplete:nth-last-child(2) {
    padding-right: 0;
  }

  .awesomplete {
    & > input {
      box-sizing: border-box;
      width: 100%;
      padding: 0.9em 0.6em;
    }
    & > ul {
      background-color: #fff;
      margin: 0;
      border-radius: 0;
      z-index: 3;
      &:before {
        display: none;
      }
    }
    mark {
      background-color: @imagination-blue;
      color: #fff;
    }
  }

  input,
  .awesomplete > input {
    border: 1px solid lightgray;
    &:active,
    &:focus,
    &:hover {
      outline: none;
    }
  }

  .i13m-careers-offers-search-button,
  .i13m-careers-offers-city-button,
  .i13m-careers-offers-specialization-button {
    position: absolute;
    overflow: hidden;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    .i13m-button();
    background-color: lightgray;
    color: @honest-gray;
    span {
      line-height: 1.7em;
    }
  }

  .i13m-careers-offers-specialization-button {
    z-index: 2;
    right: 2.55%;
  }
  .i13m-careers-offers-city-button {
    right: 36%;
  }
}
.i13m-careers-offers-container {
  position: relative;
  height: calc(~"100% - 127.25px");
  width: 100%;
  color: @imagination-blue;
  .i13m-background {
    background-color: #ecf0f1;
    .i13m-background-image-container();
    z-index: -1;
  }
  .i13m-content {
    width: 100%;
    height: 100%;
    .i13m-flex(column);
    justify-content: flex-start;
    .i13m-page-header {
      margin-top: 0;
    }
    .i13m-careers-offers-list {
      .i13m-flex(row);
      width: 848px;
      overflow: hidden;
      align-items: flex-start;
      justify-content: flex-start;
      align-content: flex-start;
      max-width: @careers-offers-width;
      margin: 0 auto;
      -webkit-flex-flow: row wrap;
      -moz-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      flex-wrap: wrap;
      .i13m-careers-offer {
        position: relative;
        margin: 16px;
      }
    }
  }
}

.i13m-careers-offers-space-container {
  position: relative;
  width: 100%;
  height: 300px;
  .i13m-careers-offers-space-background {
    background-color: #fff;
    .i13m-background-image-container();
    z-index: 1;
  }
}

.i13m-career-back-home {
  .i13m-button();
  width: @icon-size;
  height: @icon-size;
  font-size: @icon-size;
  background-color: #fff;
  color: @honest-gray !important;
  font-family: bariol-bold;
  position: absolute;
  left: 0;
  top: @icon-size / 2;
  text-align: center;
  text-decoration: none;
  display: table-cell;
  vertical-align: middle;
  box-sizing: border-box;
  line-height: 2 * @icon-size / 3;
  svg {
    g {
      path {
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }
    }
  }
  &:hover,
  &:active,
  &:focus,
  &:visited {
    text-decoration: none;
    outline: none;
  }
  &:hover {
    svg {
      g {
        path {
          fill: @imagination-blue;
          stroke: @imagination-blue;
        }
      }
    }
  }
}

.i13m-careers-offer {
  width: @careers-offer-size;
  margin-top: 16px;
  margin-bottom: 16px;
  box-sizing: content-box;
  .i13m-careers-offer-header {
    background-color: #fff;
    .i13m-careers-offer-link {
      .i13m-flex(column);
      color: @hover-dark;
      text-decoration: none;
      height: @careers-offer-size;
      overflow-y: hidden;
      display: block;
      .i13m-careers-offer-title {
        width: @careers-offer-size;
        box-sizing: border-box;
        padding: 0.5em;
        font-size: 1.2em;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        height: @careers-offer-size;
      }
      .i13m-careers-offer-apply {
        height: @careers-offer-size;
        background-color: @imagination-blue;
        .i13m-flex(row);
        display: none;
        & > div {
          padding: 0.5em;
          border: 1px solid #fff;
          font-size: 1.2em;
          color: #fff;
        }
      }
    }
  }

  .i13m-careers-offer-details {
    background-color: @hover-dark;
    overflow: hidden;
    padding: 1em;
    p {
      margin: 0 auto;
      font-size: .86em;
      text-align: left;
    }
    .i13m-careers-offer-title {
      display: none;
      color: #ccc;
    }
    .i13m-careers-offer-city {
      font-family: bariol-bold;
      color: #fff;
    }
    .i13m-careers-offer-salary {
      color: #fff;
      min-height: 12px;
      font-style: italic;
      &:after {
        content: ' ';
      }
    }
    .i13m-careers-offer-additional {
      display: none;
    }
  }
}

.i13m-job-post {
  list-style: none;
}

.i13m-careers-latest-button-container {
  padding: 1.5em;
  .i13m-careers-latest-all {
    .i13m-button();
    padding: 1em;
    text-transform: uppercase;
    color: @hover-dark;
    font-family: bariol-bold;
    font-size: 1.3em;
    background: #fff;
    border-radius: 4px;
    &:hover {
      .i13m-button-hover();
    }
  }
}

.i13m-careers-itmw-success-container {
	perspective: 1000px;
}

.i13m-success-control {
	transform: rotateY(180deg);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  .i13m-flex(row);
  background-color: rgba(25, 160, 221, 0.8);
  img {
    border: 1px solid #fff;
    -webkit-transform: scale(.8);
    transform: scale(.8);
  }
  h5,
  h6 {
    color: #fff;
    font-family: bariol-light;
  }
  h5 {
    font-size: 2.1em;
    margin-bottom: .07em;
  }
  h6 {
    margin-top: 0;
    font-size: 1.4em;
  }
}

.i13m-success-control-close, .i13m-round-control-close {
  .i13m-modal-close();
  &:before {
    margin-right: -.12em;
  }
  &:after {
    margin-left: -.12em;
  }
  &:hover {
    &:before,
    &:after {
      color: @hover-dark;
    }
  }
}

.i13m-success-control-person {
  .i13m-flex(column);
  cursor: pointer;
  padding-top: 2%;
  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.i13m-success-graphic {
  .i13m-flex(row);
}

.i13m-success-graphic-person {
  .i13m-flex(column);
  font-family: bariol-light;
  h5 {
    font-size: 3.5em;
    margin: 0;
  }
  h6 {
    font-size: 1.7em;
    margin: .07em;
  }
}

.i13m-success-carousel {
  width: 100%;
  .i13m-flex(row);
  position: relative;
}

.i13m-success-years-container {
  height: 5px;
  background-image: -webkit-linear-gradient(rgba(39, 245, 204, 1), rgba(33, 194, 248, 1));
  background-image: linear-gradient(rgba(39, 245, 204, 1), rgba(33, 194, 248, 1));
  .i13m-flex(row);
  border-radius: 1em;
}

.i13m-success-year-container {
  .i13m-flex(column);
  width: 15em;
  position: relative;
  &.active {
    .i13m-success-dot {
      -webkit-transform: scale(1.25) translate(-40%,-40%);
      transform: scale(1.25) translate(-40%,-40%);
      &:before {
        opacity: 1;
      }
    }
    .i13m-success-year {
      opacity: 1;
      -webkit-transform: scale(1.25);
      transform: scale(1.25);
      margin-top: -7em;
      &:after {
        -webkit-transform: scale(1.25) translateX(-40%);
        transform: scale(1.25) translateX(-40%);
      }
    }
  }
}

.i13m-success-year {
  margin-top: -6em;
  padding: .5em 1.5em;
  background-color: @hover-dark;
  border-radius: 2px;
  position: relative;
  opacity: 0.8;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  &:after {
    content: ' ';
    position: absolute;
    border-color: #2c3e50 transparent;
    border-width: 5px 5px 0;
    border-style: solid;
    width: 0;
    bottom: -4px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

.i13m-success-dot {
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  background: #fff;
  box-shadow: 0 0 1px #fff;
  position: absolute;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  &:after {
    content: ' ';
    border-radius: 50%;
    height: 1em;
    width: 1em;
    display: block;
    border: 1px solid @imagination-blue;
    position: absolute;
    left: 50%;
    margin-left: -.5em;
    box-sizing: border-box;
    top: 50%;
    margin-top: -.5em;
  }
  &:before {
    content: '\f063';
    position: absolute;
    color: #21c2f8;
    left: 50%;
    margin-left: -.5em;
    margin-top: 1.2em;
    font-size: 2em;
    font-family: FontAwesome;
    opacity: 0;
  }
}

.i13m-succes-graphic-glue {
  width: 5em;
}

.i13m-success-text-container {
  .i13m-center();
  position: relative;
  .i13m-flex(column);
  height: 15em;
  margin: 0;
  max-width: 90em;

  > div {
    width: 100%;
    position: absolute;
    font-size: 1.7em;
    font-family: bariol-light;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    &.active {
      opacity: 1;
    }
  }
}

.i13m-careers-recruitment-mobile {
  display: none;
}

.i13m-job-recommend-form {
  &.individual {
    .i13m-job-recommend-close {
      display: none;
    }
  }
}

.i13m-careers-itmw-referral-widget {
  > div {
    > span {
      height: calc(~"100% - 124.25px")
    }
  }
  .i13m-background {
    background-color: #fff;
  }
  .i13m-content {
    overflow: auto;
  }
  .i13m-content,
  .i13m-page-header {
    color: @imagination-blue;
  }
  .i13m-text {
    font-size: 1.3em;
    text-align: center;
    margin: 0 0 3em;
    opacity: 0;
    p {
      margin: .5em 0;
    }
  }
  .i13m-careers-referral-story {
    width: 100%;
    min-width: 100%;
    max-height: 37.5vh;
    overflow: hidden;
    .i13m-flex(row);
    > div {
      position: relative;
      max-width: 33.4%;
      min-width: 33.4%;
      opacity: 0;
      > p {
        position: absolute;
        text-align: center;
        left: 50%;
        margin: 0;
        color: #fff;
        font-family: bariol-bold;
        font-size: 2em;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 9;
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          top: auto;
          bottom: 50%;
        }
      }
      > div {
        .i13m-standard-mask(60%);
        position: relative;
        > img {
          min-width: 100%;
          max-width: 100%;
          z-index: 8;
          position: relative;
        }
        > div {
          z-index: 5;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      &:nth-child(2),
      &:nth-child(3) {
        &:before {
          content: '\f105';
          font-family: FontAwesome;
          background-color: @imagination-blue;
          color: @empowering-yellow;
          font-size: 3em;
          position: absolute;
          top: 50%;
          left: 0;
          z-index: 30;
          -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
          border-radius: 50%;
          width: 50px;
          height: 50px;
          .i13m-flex(row);
        }
      }
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        &:nth-child(2),
        &:nth-child(3) {
          &:before {
            top: auto !important;
            bottom: 50% !important;
          }
        }
      }
    }
  }
}

.i13m-referral-faq-link {
  .i13m-horizontal-button();
  padding: .7em 3em;
  opacity: 0;
  background-color: @imagination-blue;
  color: #fff;
  transform: translateY(-50%);
  z-index: 20;
}
