.i13m-clio-main {
  .i13m-background {
    .i13m-standard-mask(30%);
  }
  h1 {
    text-transform: uppercase;
    font-size: 6em;
    .i13m-bottom-separator();
    padding-bottom: .25em;
    margin-bottom: .25em;
    font-family: bariol-bold;
    &:after {
      width: .7em;
    }
  }
  h2 {
    color: @imagination-blue;
    font-family: bariol-light;
    margin: 0;
    max-width: 60em;
    text-align: center;
    p {
      &:first-child {
        font-size: 3em;
      }
      &:last-child {
        font-size: 2.5em;
      }
    }
  }
}

.i13m-clio-characteristics {
  color: #fff;
  h4 {
    .i13m-bottom-separator();
    padding-bottom: .65em;
    margin-bottom: .65em;
    &:after {
      width: 1.5em;
    }
  }
  .i13m-text-absolute {
    font-size: 1.8em;
    line-height: 1.4em;
  }
  .i13m-text {
    text-align: center;
    h3 {
      font-size: 3.5em;
    }
    p {
      text-align: center;
      font-size: 1.6em;
      word-break: break-word;
      max-width: 78.75em;
      margin: 1.5em 0;
      line-height: 2em;
    }
  }
}

.i13m-clio-processes {
  .i13m-background {
    .i13m-standard-mask(30%);
    img {
      top: 0%;
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
    }
  }
  color: @imagination-blue;
  h4 {
    .i13m-bottom-separator();
    padding-bottom: .65em;
    margin-bottom: .65em;
    &:after {
      width: 1.5em;
    }
  }
  h5 {
    text-transform: uppercase;
    font-size: 3em;
    text-align: center;
    margin: .8em;
  }
  .i13m-text-absolute {
    font-size: 1.8em;
    line-height: 1.4em;
  }
  .i13m-text {
    div {
      margin-top: 1em;
      max-width: 45em;
      p {
        margin: 0;
      }
    }
  }
  .i13m-data {
    display: none;
  }
}

.i13m-clio-processes-buttons {
  display: table;
  box-sizing: border-box;
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 1.2em;
  &.i13m-button-group {
    a {
      border-right: none;
      display: table-cell;
    }
  }
  &.i13m-button-group-vertical {
    a {
      border-bottom: none;
      display: block;
    }
    display: none;
  }
  a {
    display: table-cell;
    background: none;
    font-size: 1em;
    padding: 1em;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    vertical-align: middle;
    border: 1px solid @imagination-blue;
    width: 11.2em;
    box-sizing: border-box;
    text-align: center;
    &:last-child {
      border-right: 1px solid @imagination-blue;
      border-bottom: 1px solid @imagination-blue;
    }
    &:hover,
    &.selected {
      color: #fff;
      background-color: @imagination-blue;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }
  }
}

.i13m-clio-architecture {
  color: #fff;
  table {
    border-collapse: collapse;
  }
  .i13m-clio-architecture-model {
    text-transform: uppercase;
    font-size: .9em;
    .i13m-flex(column);
    position: relative;
    .top {
      .i13m-flex(column);
      justify-content: space-between;
      font-size: 2em;
      height: 30em;
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
      margin-top: -4em;
      div {
        width: 15em;
        padding: 1em .2em;
        margin: .2em;
        box-sizing: border-box;
        text-align: center;
      }
      p {
        position: absolute;
        bottom: -8%;
        left: 28%;
      }
    }
    .bottom {
      .i13m-flex(column);
      font-size: 1.5em;
      width: 40em;
      margin-top: -9.8em;
      position: relative;
      div {
        padding: .5em .2em;
        text-align: center;
        margin: 0.2em;
        width: 39.6em;
        box-sizing: border-box;
      }
      p {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        position: absolute;
        right: -12%;
        top: 39%;
      }
    }
    div {
      border: 2px dashed #fff;
      div {
        border: 2px dotted #fff;
      }
    }
  }
}

.i13m-clio-performance {
  .i13m-background {
    .i13m-standard-mask(30%);
  }
  color: @imagination-blue;
  h4 {
    .i13m-bottom-separator();
    padding-bottom: .65em;
    margin-bottom: .65em;
    &:after {
      width: 1.5em;
    }
  }
  .i13m-text-absolute {
    font-size: 1.8em;
    line-height: 1.4em;
  }

  .bx-controls-direction {
    .i13m-flex(row);
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    .bx-prev,
    .bx-next {
      cursor: pointer;
      color: @empowering-yellow;;
      font-size: 2.6em;
      text-decoration: none;
      display: block;
      padding: 1.2em 0.5em;
      background-color: rgba(45, 45, 45, 0.7);
      -webkit-transition: color 0.2s ease-in-out;
      transition: color 0.2s ease-in-out;
      &:hover {
        color: darken(@empowering-yellow, 30%);
      }
    }
    // .bx-prev {
    //   -webkit-transform: translateX(50%);
    //   transform: translateX(50%);
    // }
    // .bx-next {
    //   -webkit-transform: translateX(-50%);
    //   transform: translateX(-50%);
    // }
  }
  .bxslider-performance {
    padding: 0;
    margin: 0;
    li {
      text-align: center;
      h5 {
        font-size: 3em;
        text-transform: uppercase;
        margin: 0;
      }
      p {
        font-size: 1.8em;
        margin: .3em;
      }
    }
  }
  .bx-wrapper,
  .bx-viewport {
    width: 100% !important;
    height: 100% !important;
  }
  .bx-pager {
    .i13m-bx-pager-row (lighten(@imagination-blue, 50%), @imagination-blue);
  }
}

.i13m-clio-trust {
  h4 {
    .i13m-bottom-separator();
    padding-bottom: .65em;
    margin-bottom: .65em;
    &:after {
      width: 1.5em;
    }
  }
  .i13m-background {
    background-color: #fff;
  }
  .i13m-separator {
    background-color: #4e5a62;
    color: #fff;
    p {
      max-width: 45em;
    }
    a {
      background-color: #fff;
      color: @honest-gray;
    }
  }
}

.i13m-clio-trusted {
  .i13m-flex(row);
  width: 100%;
  height: 100%;
  img {
    margin: 0 5em;
  }
}

.i13m-clio-contact {
  h3,
  h4 {
    color: @imagination-blue;
  }
}

.i13m-clio-performance-carousel {
  .i13m-flex(row);
  justify-content: space-between;
  .i13m-left-button {
    position: relative;
    margin-left: 2em;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .i13m-right-button {
    position: relative;
    margin-right: 2em;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

.i13m-clio-processes-modal {
  background-color: rgba(255, 255, 255, 0.85);
  font-size: .7em;
  .i13m-modal-close {
    &:before,
    &:after {
      color: @imagination-blue;
    }
  }
  .i13m-text.i13m-processes.modal {
    overflow-y: scroll;
    .i13m-flex(column);
  }

  .i13m-right-button,
  .i13m-left-button {
    &.trust {
      display: none;
    }
  }
}
