.i13m-competitions-header-background {
  height: 300px;
  min-height: 300px;
}

.i13m-competitions-header-content {
  height: 100%;
  width: 100%;
  color: #fff;
  overflow: auto;
  .i13m-flex(column);
  max-width: 78.75em;
  margin: 0 auto;
  > * {
    margin: 0;
  }
  h1 {
    font-size: 4em;
    text-transform: uppercase;
  }
  h2 {
    font-size: 2em;
    font-weight: normal;
    text-align: center;
    max-width: 20em;
  }
}

.i13m-competitions-form {
  > h3 {
    .i13m-underlined-header();
    &:before {
      width: 2em;
    }
  }
  form {
    input:not([name^="consent_"]),
    textarea,
    select,
    select > option {
      margin: 0.3em 0 1.5em 0;
      box-sizing: border-box;
      padding: 0.9em 0.6em;
      background: #fff;
      border: 1px solid #ddd;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      font-size: 1.1em;
      width: 100% !important;
      &[type=submit] {
        margin: 1em 0 2em 0;
        padding: 1.2em 1em;
        font-family: bariol-bold;
        background: @imagination-blue;
        color: #fff;

        text-transform: uppercase;
        border: 0;
        &:hover {
          position: relative;
          top: -1px;
        }
      }

    }
    textarea {
      height: 7em;
    }
     div {
      > label {
        > span {
          font-size: 1.1em;
          letter-spacing: 0.07em;
          font-family: bariol-bold;
          &[data-reactid] {
            text-transform: uppercase;
            font-weight: 500;
          }
          &.hs-form-required {
            display: inline-block;
            margin-left: .2em;
            color: @imagination-blue;
          }
        }
      }
      > ul {
        margin-top: -1em;
      }
    }
  }
}
