#i13m-contact-main-container {
  position: relative;
  .i13m-flex(column);
  width: 100%;
  height: 100%;
  .i13m-page-header {
    display: none;
  }
}

.i13m-contact-offices-mobile {
  display: none;
}

.i13m-contact-main-background-container {
  width: 100%;
  height: 100%;
  padding: 10vh;
  left: 0;
  top: 0;
  background-color: @brand-info;
  box-sizing: border-box;
  position: absolute;
}

#i13m-contact-main-background {
  background-image: url(http://cdn2.hubspot.net/hubfs/2422193/pictures/world-map.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: @brand-info;
  background-position: center;
  width: 100%;
  height: 100%;
  z-index: -99;
}

#i13m-map-img {
  max-width:100%;
}

.i13m-map-tooltip {
  width:1.689vh;
  height:1.689vh;
  display:inline-block;
  background:#3da6d5;
  border:5px solid #1d2235;
  box-shadow:2px 7px 10px rgba(0,0,0,0.25);
  position:absolute;
  -webkit-border-radius:99px;
  -moz-border-radius:99px;
  border-radius:99px;
  cursor:pointer;
}

#i13m-map-tooltips {
  .i13m-map-tooltip {
    p {
      font-size: 1.3em;
      text-transform: uppercase;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%);
      color: @hover-dark;
      text-shadow: 0 0 1px @hover-dark;
      // text-shadow: -2px 0 4px @hover-dark, 0 2px 4px @hover-dark, 2px 0 4px @hover-dark, 0 -2px 4px @hover-dark;
      -webkit-transition: opacity 0.3s ease-in-out;
      transition: opacity 0.3s ease-in-out;
    }
  }
}
#i13m-map-tooltip-poland {
  .i13m-map-tooltip-small {
    p {
      font-size: 1em;
      text-transform: uppercase;
      position: absolute;
      left: 50%;
      top: 100%;
      transform: translateX(-50%);
      color: @hover-dark;
      text-shadow: 0 0 1px @hover-dark;
      // text-shadow: -2px 0 4px @hover-dark, 0 2px 4px @hover-dark, 2px 0 4px @hover-dark, 0 -2px 4px @hover-dark;
    }
  }
}

.i13m-map-tooltip-small {
  .i13m-map-tooltip();
  width: 1.267vh;
  height: 1.267vh;
  position: absolute;
  &.warsaw {
    width:1.689vh;
    height:1.68vh;
    left: 58%;
    top: 41%;
  }
  &.lublin {
    top: 54%;
    left: 75%;
  }
  &.plock {
    top: 33%;
    left: 47%;
  }
  &.cracow {
    top: 69%;
    left: 53%;
  }
  &.wroclaw {
    top: 55%;
    left: 25%;
  }
  &.gdynia {
    top: 7%;
    left: 38%;
  }
}

#i13m-map #i13m-map-tooltip-boston,
#i13m-map #i13m-map-tooltip-poland {
  display: none;
}

#i13m-map-tooltip-poland {
  background-image: url(//cdn2.hubspot.net/hubfs/2422193/pictures/poland-map.png);
  position: relative;
  overflow: hidden;
  width: 331px;
  height: 314px;
  #i13m-map-tooltip-warsaw,
  #i13m-map-tooltip-lublin,
  #i13m-map-tooltip-plock,
  #i13m-map-tooltip-cracow,
  #i13m-map-tooltip-wroclaw,
  #i13m-map-tooltip-gdynia {
    display: none;
  }
}

.i13m-contact-form {
  padding-right: 5em;
  > h3 {
    .i13m-underlined-header();
  }
  form {
    input,
    textarea,
    select,
    select > option {
      margin: 0.3em 0 1.5em 0;
      box-sizing: border-box;
      padding: 0.9em 0.6em;
      background: #fff;
      border: 1px solid #ddd;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      font-size: 1.1em;
      width: 100% !important;
      &[type=submit] {
        margin: 1em 0 2em 0;
        padding: 1.2em 1em;
        font-family: bariol-bold;
        background: @imagination-blue;
        color: #fff;

        text-transform: uppercase;
        border: 0;
        &:hover {
          position: relative;
          top: -1px;
        }
      }

    }
    textarea {
      height: 7em;
    }
    fieldset,
    .hs-dependent-field {
      > div {
        > label {
          > span {
            font-size: 1.1em;
            letter-spacing: 0.07em;
            font-family: bariol-bold;
            &[data-reactid] {
              text-transform: uppercase;
              font-weight: 500;
            }
            &.hs-form-required {
              display: inline-block;
              margin-left: .2em;
              color: @imagination-blue;
            }
          }
        }
        > ul {
          margin-top: -1em;
        }
      }
    }
  }
}

.i13m-contact-info-container {
  .i13m-center();
  .i13m-flex(row);
  text-align: left;
  justify-content: space-between;
  align-items: flex-start;

  font-size: 0.8em;

  > section {
    width: 50%;
  }

  .i13m-contact-info {
    padding-left: 5em;
    > h2 {
      .i13m-underlined-header();
    }
    h4 {
      display: block;
      height: 0;
      margin: 1em 0;
      font-size: 1.17em;
      text-transform: uppercase;
      font-family: bariol-bold;
      letter-spacing: 0.07em;
    }
    p {
      text-align: justify;
      font-size: 1.4em;
      display: block;
      font-weight: 500;
      margin: 1.6em 0 2em 0;
    }
    a {
      &:first-child {
        text-decoration: none;
        color: @imagination-blue;
      }
    }
  }
}

.i13m-contact-contact {
  .i13m-page-header {
    height: auto;
    h3 {
      margin: 0;
    }
  }
}

@media screen and (max-width: 1366px) {
  .i13m-contact-contact {
    .i13m-container {
      font-size: .85em;
    }
  }
}

.i13m-contact-modal-open {
  display: none;
}
