@baseBlue: #0098da;

.i13m-navi {display: none;}


.eb-h2 {
    position: absolute;     
    color:#fff;
    background-color:rgba(0, 0, 0, 0.1);        
    cursor: pointer;       
        span {
            color: #ffcc00; 
        }
}

.eb-header {
    position:relative;
    width:100%;
    height:400px;
    text-align:right;
    background: @baseBlue;
    img {margin-right:10%;}
    h2 {
        .eb-h2();       
        font-size:3em;
        bottom:7%;
        right:29%;       
        line-height: 0.9em;
        padding:0.2em 0.2em;
    }
}
.eb-header-mobile {
    display:none;
    img {
        max-width: 100%;
    }
}
.eb-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #fbfbff;
}
.eb-wrapper {
    background: #fff;
    margin: 3em auto;
    max-width:820px;
    padding:4em;
    border:1px solid #dddddd;
    h2,h3 {
        margin:0;
        color: @baseBlue;
    }
    h2 {font-size:4em;font-weight: normal}
    h3 {
        font-size:2.8em;
        font-weight:bold;       
    }
    h4 {
        font-size:2em;
        font-weight: normal
    }
    .spacer {
        width: 6em;
        height: 0.4em;
        background: #ffcc00;
        border-radius: 3px;
        margin-top: 1em;
        margin-bottom:2em;
    }
    
    p {
        font-size:1.3em;
        color: #353535;
    }
}
.eb-inside {
    display: flex;
    justify-content: space-between;
    padding-top:3em;
}
.thankyou,.thankyou2 {        
        font-size:1.5em;
        color: @baseBlue;        
    }
.thankyou2 {
    display:none;  
    margin-top:-3em;  
    margin-bottom:2em;
}
.eb-left-column {
    width:50%;    
    img {
        width:300px;
        max-width:100%;
    }    
}
.eb-right-column {
    width:50%;
    padding-top:2em;    
        .hs-form-field {
            position: relative;
            height:4em;
            margin-bottom:3.5em;
            label {
                position: absolute;
                right:-1%;
                bottom:-1%;
                color:red;
                font-size:1.3em;
            }
        }    
        form {
            input {
                width:95%;
                height: 50px;
                padding-left:0.3em;
                border-radius: 4px;
                border:1px solid #dddddd;
                font-size:1.3em;
            }
        }
    ul.inputs-list {
        list-style: none;
    }
    label.hs-form-booleancheckbox-display {
        bottom:-45%;
        color:inherit;
        font-size:1.1em;
    }
    input[name=newsletter_ok],input[name=handlowe_ok],input[name=newsletter_ok2],input[name=handlowe_ok2] { 
        width:0.7em;
        height:0.7em;
        margin-right: 0.3em;

    }
    div.hs_handlowe_ok,div.hs_handlowe_ok2 {
        height: 2em !important;
    }

    .hs-button {
        width:97%;
        border:none;
        background: @baseBlue;
        text-align:center;
        padding: 0 1em;
        font-size:1.5em;
        color:#fff;       
        cursor: pointer; 
    }    
}
.eb-right-column label.hs-form-booleancheckbox-display {
    text-align: left;
    font-size: .95em;
    line-height: 1.1em;
}

@media (max-width:838px) {
    .eb-inside {
        flex-direction: column;
        .eb-right-column, .eb-left-column {
            width:100%;
            text-align: center;
        }
        .thankyou {display: none;}
        .thankyou2 {            
            display:block;
        }
    }
     .eb-right-column .thankyou {
        margin-left:auto;   
    }
}
@media (min-width:500px) and (max-width:840px){
    .eb-right-column .hs-form-field {
        height:3em;
    }
}

@media (max-width:768px){
    .eb-header {display: none;}
    .eb-header-mobile {
        display: block;
        position: relative;
        margin: auto;
        h2 {
            .eb-h2();
            font-size:2.5em;            
            right:15%;
            bottom:14%;
            padding:0 0.5em;
        }
    }
    .eb-wrapper {
        margin: 3em .5em;
        h2 {font-size:2.5em;}
        h3 {font-size: 1.8em;}
    }   
    
}
@media (max-width:434px){
    .eb-right-column .hs-form-field {
        height:5.5em;
    }
    .eb-right-column .hs-form-field label {
        right: -3%;        
    }
    
}

@media (max-width:573px){
    .eb-right-column label.hs-form-booleancheckbox-display {
            font-size:.9em;
    }
}

@media (max-width:375px){
   .eb-header-mobile h2 {
       font-size:1.8em;
   }    
}