.i13m-error-page {
  #fullpage > .section:first-child {
    height:100vh !important;
  }
  .body-container-wrapper {
    padding-top: 0;
  }
  .i13m-background {
    .i13m-background-image-container();
    img {
      top: 0;
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      opacity: .15;
    }
  }
  .i13m-content {
    > div {
      .i13m-center();
      .i13m-flex(column);
      align-items: flex-start;
      color: #fff;
      * {
        height: auto;
        margin: 0;
      }
      h1 {
        font-size: 15em;
        margin-top: -1.3em;
        font-family: bariol-bold;
      }
      h2 {
        font-size: 4em;
        text-transform: uppercase;
        max-width: 9em;
        text-align: left;
        line-height: 0.9;
        margin: .4em 0;
      }
      > p {
        font-size: 1.5em;
      }
      a {
        color: @empowering-yellow;
        font-family: bariol-bold;
        cursor: pointer;
        text-decoration: none;
      }
    }
    > span {
      width: 100%;
    }
  }
  .i13m-last-section {
    .fp-tableCell {
      > span:first-child {
        margin-top: -17px;
      }
    }
  }
  .i13m-footer {
    .span6 {
      a {
        height: 18px;
      }
    }
  }
  #i13m-header {
    background-color: transparent;
    svg {
      g {
        path {
          fill: #fff !important;
        }
      }
    }
  }
  .i13m-menu-container {
    .nav-btn,
    .language-btn {
      color: #fff;
    }
    .nav-btn {
      &:before {
        background-color: #fff;
      }
      &:hover,
      &.nav-btn-selected {
        color: @imagination-blue;
      }
    }
    .i13m-services-menu,
    .i13m-innovations-menu {
      background-color: #fff;
      a {
        color: @imagination-blue;
      }
    }
  }
  .i13m-navi {
    display: none;
  }
}
