#fullpage {
  > .section {
    &:first-child {
      height: 100vh;
    }
  }
}

html {
  font-size: 80%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: @brand-background;
  font-family: bariol-regular;
  color: @honest-gray;
}

table {
  border: none;
}

.fp-tableCell {
  & > .hs_cos_wrapper {
    display: block;
  }
}

.i13m-page-header {
  overflow: hidden;
}

.i13m-bx-pager (@color, @activeColor) {
  position: absolute;
  .bx-pager-item {
    margin: 2em 1em;
    a {
      color: transparent;
      position: relative;
      text-align: center;
      &:before {
        content: '\f111';
        position: absolute;
        left: 50%;
        font-family: FontAwesome;
        color: @color;
        -webkit-transition: color 0.3s ease-in-out;
        transition: color 0.3s ease-in-out;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 2em;
      }
      &.active {
        &:before {
          color: @activeColor;
        }
      }
    }
  }
}

.i13m-bx-pager-row (@color, @activeColor) {
  .i13m-bx-pager(@color, @activeColor);
  .i13m-flex(row);
  bottom: 4em;
  width: 100%;
  left: 0;
}

.i13m-bx-pager-column (@color, @activeColor) {
  .i13m-bx-pager(@color, @activeColor);
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header-container-wrapper,
.header-container {
  height: 0 !important;
  .row-fluid-wrapper {
    height: 0 !important;
    > .row-fluid {
      height: 0 !important;
      > .span12.widget-span.widget-type-custom_widget {
        max-height: 0;
        height: 0 !important;
        min-height: 0 !important;
      }
    }
  }
}

.i13m-flex (@direction) when (@direction = column) {
  // -js-display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  flex-direction: @direction;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-box-align: center;
  -ms-box-pack: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.i13m-flex (@direction) when (@direction = row) {
  // -js-display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  flex-direction: @direction;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-box-align: center;
  -ms-box-pack: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.i13m-center {
  width: 100%;
  max-width: 78.75em;
  margin: 0 auto;
  clear: both;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  text-align: center;
  box-sizing: border-box;
}

.i13m-button {
  border: none;
  background-color: transparent;
  text-decoration: none;
  outline: none;
  cursor: pointer;

  &:active {
    box-shadow: none;
  }
}

.i13m-horizontal-button {
  .i13m-button();
  border-radius: 4px;
  padding: .7em 1.5em;
  font-size: 1.3em;
  font-family: bariol-bold;
  border: 1px solid transparent;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  &:hover {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    .i13m-button-hover();
  }
}

.i13m-button-group {
  > * {
    .i13m-horizontal-button();
    border-radius: 0;
    &:first-child {
      border-radius: 4px 0 0 4px;
    }
    &:last-child {
      border-radius: 0 4px 4px 0;
    }
    &:only-child {
      border-radius: 4px !important;
    }
  }
}

.i13m-button-group-vertical {
  > * {
    .i13m-horizontal-button();
    border-radius: 0;
    &:first-child {
      border-radius: 4px 4px 0 0;
    }
    &:last-child {
      border-radius: 0 0 4px 4px;
    }
    &:only-child {
      border-radius: 4px !important;
    }
  }
}

.i13m-button-dark {
  .i13m-horizontal-button();
  background-color: @hover-dark;
  color: #fff;
  &:hover {
    background-color: lighten(@hover-dark, 15%);
  }
}

.i13m-button-blue {
  .i13m-horizontal-button();
  background-color: @imagination-blue;
  color: #fff;
  &:hover {
    background-color: @hover-dark;
  }
}

.i13m-button-yellow {
  .i13m-horizontal-button();
  background-color: @empowering-yellow;
  color: #fff;
  &:hover {
    background-color: darken(@empowering-yellow, 15%);
  }
}

.i13m-footer {
  padding:0.3em 0;
  background:#1a1c27;
  color:#a1b1bc;
  width: 100%;
  // position: absolute;
  bottom: 0;
}
.i13m-footer p {
  font-size:0.94em;
  display: block;
  margin: 1em 0;
  text-align: justify;
  line-height: 1.7;
}
.i13m-footer ul {margin:1em 0; padding:0; float:right; list-style-type:none;}
.i13m-footer ul li {display:inline-block; padding:0 0.3em;}
.i13m-footer .ico {display:inline-block; height:18px; background:url(http://cdn2.hubspot.net/hubfs/2422193/pictures/social-media-icons.png) 0 0 no-repeat;}
.i13m-footer .ico.facebook {width:20px; background-position:2px 0;}
.i13m-footer .ico.twitter {width:20px; background-position:-30px 0;}
.i13m-footer .ico.tumblr {width:20px; background-position:-62px 0;}
.i13m-footer .ico.vimeo {width:20px; background-position:-94px 0;}
.i13m-footer .ico.linkedin {width:20px; background-position:-125px 0;}
.i13m-footer .ico.dribble {width:20px; background-position:-158px 0;}
.i13m-footer .ico.instagram {width:20px; background-position:-190px 0;}
.i13m-footer .ico.rss {width:20px; background-position:-222px 0;}
.i13m-footer .ico.youtube {width:20px; background-position:-242px 0;}

.i13m-footer .ico.facebook:hover {width:20px; background-position:2px -18px;}
.i13m-footer .ico.twitter:hover {width:20px; background-position:-30px -18px;}
.i13m-footer .ico.tumblr:hover {width:20px; background-position:-62px -18px;}
.i13m-footer .ico.vimeo:hover {width:20px; background-position:-94px -18px;}
.i13m-footer .ico.linkedin:hover {width:20px; background-position:-125px -18px;}
.i13m-footer .ico.dribble:hover {width:20px; background-position:-158px -18px;}
.i13m-footer .ico.instagram:hover {width:20px; background-position:-190px -18px;}
.i13m-footer .ico.rss:hover {width:20px; background-position:-222px -18px;}
.i13m-footer .ico.youtube:hover {width:20px; background-position:-242px -18px;}

.i13m-footer .row-fluid {
  max-width: 73.125em;
  margin: 0 auto;
}

// fullPage.js hack
.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell{
    height: auto !important;
}

.i13m-background-image-container {

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: hidden;

    & > img {
      position: absolute;
      top: 50%;
      left: 50%;

      width: auto;
      height: auto;

      max-height: none;
      max-width: none;

      min-height: 100%;
      min-width: 100%;

      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
}

.i13m-background-image-container-slide {
  > div {
    .i13m-background-image-container();
    position: relative;
    > img {
      min-width: none;
      height: none;
    }
  }
}

.i13m-modal {
  width: 100% !important;
  height: 100%;
  border-radius: 0 !important;
  padding: 0;
  color: #fff;
  background-image: url(http://cdn2.hubspot.net/hubfs/2422193/pictures/imagine-it-done.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  .i13m-flex(column);
  justify-content: flex-start;
  box-sizing: border-box;
  -webkit-flex-flow: column wrap;
  -moz-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  flex-wrap: wrap;
  height: 100%;
}

.i13m-modal-close {
  position: absolute;
  background: none !important;
  color: transparent;
  text-indent: 0 !important;
  text-align: center;
  line-height: normal;
  font-size: 2em;
  top: 0.5em !important;
  right: 0.5em !important;
  width: 2em !important;
  height: 2em !important;
  cursor: pointer;
  z-index: 9999;
  &:before {
    content: '\f00d';
    cursor: pointer;
    font-family: FontAwesome;
    font-size: 2em;
    color: #fff;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
  }
  &:hover,
  &:active,
  &:focus {
    color: transparent;
    text-decoration: none;
    &:before,
    &:after {
      color: @hover-dark !important;
    }
  }
  i:before {
    content: ' ';
  }
}

.i13m-close {
  text-align: center;
  line-height: normal;
  font-size: 2em;
  cursor: pointer;
  &:before {
    content: '\f00d';
    cursor: pointer;
    font-family: FontAwesome;
    font-size: 2em;
    color: #fff;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
  }
  &:hover,
  &:active,
  &:focus {
    color: transparent;
    text-decoration: none;
    &:before,
    &:after {
      color: @hover-dark !important;
    }
  }
}

.jquery-modal {
  padding: 0 !important;
  z-index: 1000 !important;
  overflow: hidden !important;
}

.i13m-page-header {
  text-align: center;
  font-size: .9em;
  h3 {
    font-size: 1.5em;
    margin: 1.5em 0 0;
    padding: 1em 0 0;
    font-weight: normal;
    text-transform: uppercase;
  }
  h4 {
    font-weight: normal;
    font-size: 3.75em;
    margin: 0;
  }
}

.i13m-button-hover {
  background-color: @hover-dark;
  color: #fff;
  border: 1px solid transparent;
  text-decoration: none;
}

.i13m-sprite-button {
  .i13m-flex(row);
  i {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 34px;
    background-image: url(http://cdn2.hubspot.net/hubfs/2422193/pictures/sprites.png);
  }
}

.i13m-previous-button {
  .i13m-sprite-button();
  i {
    margin-right: .5em;
    -webkit-transform: scale(.45);
    transform: scale(.45);
    background-position: -20px 0;
  }
  &:hover {
    i {
      background-position: -20px -34px;
    }
  }
}

.i13m-light-blue-down {
  .i13m-sprite-button();
  .i13m-flex(row);
  i {
    display: inline-block;
    background-repeat: no-repeat;
  }
}

.i13m-next-button {
  .i13m-sprite-button();
  i {
    margin-left: .5em;
    -webkit-transform: scale(.45);
    transform: scale(.45);
    background-position: -40px 0;
  }
  &:hover {
    i {
      background-position: 0 -34px;
    }
  }
}

.i13m-grey-left-button {
  .i13m-sprite-button();
  i {
    margin-left: .5em;
    -webkit-transform: scale(.45);
    transform: scale(.45);
    background-position: -40px 0;
  }
  &:hover {
    i {
      background-position: -40px -34px;
    }
  }
}

.i13m-grey-right-button {
  .i13m-sprite-button();
  i {
    margin-left: .5em;
    -webkit-transform: scale(.45);
    transform: scale(.45);
    background-position: 0 0;
  }
  &:hover {
    i {
      background-position: 0 -34px;
    }
  }
}

.i13m-round-back-button {
  background-image: url(http://cdn2.hubspot.net/hubfs/2422193/pictures/sprites.png);
  width: 55px;
  height: 55px;
  z-index: 99;
  background-position: 0px -68px;
  left: 15%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 50%;
  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.i13m-round-social-button {
  background-image: url(http://cdn2.hubspot.net/hubfs/2422193/pictures/sprites.png);
  cursor: pointer;
  width: 55px;
  height: 55px;
  z-index: 99;
  background-position: -55.5px -67.5px;
  left: 15%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 50%;
  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.i13m-main-container {
  position: relative;
  width: 100%;
}

.i13m-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.i13m-content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  .i13m-flex(column);
  box-sizing: border-box;
  z-index: 1;
  padding-top: 6em;
  &.headerless {
    padding-top: 0;
  }
}

.i13m-background {
  z-index: -1;
  .i13m-background-image-container();
}

.i13m-background-lightgrey1 {
  .i13m-background();
  background-color: #f9fafb;
}

.i13m-text-grey {
  .i13m-text();
  color: #a1b1bc;
}

.i13m-tile-5x2 {
  .i13m-flex(row);
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  flex-wrap: wrap;
  height: 30vw;
  width: 100%;
  position: relative;
  margin-top: 8em;
  > div:not(.i13m-home-portfolio-modal) {
    width: 20%;
    height: 50%;
    -webkit-transition: background-color 0.4s ease-in-out;
    transition: background-color 0.4s ease-in-out;
    > div {
      -webkit-transition: background-color 0.4s ease-in-out;
      transition: background-color 0.4s ease-in-out;
    }
    &:nth-of-type(1),
    &:nth-of-type(2),
    &:nth-of-type(5),
    &:nth-of-type(8),
    &:nth-of-type(9) {
      background-color: #eaeaea;
    }
    &:nth-of-type(3),
    &:nth-of-type(7),
    &:nth-of-type(10) {
      background-color: #999;
    }
    &:nth-of-type(4),
    &:nth-of-type(6) {
      background-color: #ccc;
    }
    p {
      box-sizing: border-box;
    }
    .i13m-project-title {
      display: inline-block;
      color: #222533;
      padding: 1.5em 1.5em 0 1.5em;
      font-weight: bold;
      font-size: 1.1em;
      -webkit-transition: color 0.4s ease-in-out;
      transition: color 0.4s ease-in-out;
    }
    .i13m-project-category {
      display: block;
      padding: 0 1.7em 1em 1.7em;
      margin-top: 0.5em;
      color: #0096d9;
      border-bottom: 1px solid #3b495d;
    }
    .i13m-project-description {
      width: 100%;
      padding: 0.5em 1.8em;
      text-align: left;
      color: #444;
      font-size: 0.9em;
      line-height: 1.5em;
      -webkit-transition: color 0.4s ease-in-out;
      transition: color 0.4s ease-in-out;
      max-height: 5em;
      text-overflow: ellipsis;
      display: inline-block;
      overflow: hidden;
      word-wrap: break-word;
    }
    > .i13m-round-button-container {
      cursor: pointer;
      width: 3.5em;
      height: 3.5em;
      border-radius: 50%;
      background: none;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      .i13m-flex(row);
      > a {
        .i13m-round-button();
        text-decoration: none;
      }
      &:first-of-type {
        float:left;
        margin: 0 .5em 0 1.5em;
        > a {
          background-color: #fff;
        }
      }
      &:last-of-type {
        > a {
          background-color: @imagination-blue;
          color: #fff;
        }
      }
      border: 1px solid transparent;
      &:hover {
        border: 1px #fff solid;
      }
    }
    &:hover {
      background-color: #222533;
      -webkit-transition: background-color 0.1s ease-in-out;
      transition: background-color 0.1s ease-in-out;
      .i13m-project-title {
        color: #fff;
        -webkit-transition: color 0.1s ease-in-out;
        transition: color 0.1s ease-in-out;
      }
      .i13m-project-description {
        color: #a1b1bc;
        -webkit-transition: color 0.1s ease-in-out;
        transition: color 0.1s ease-in-out;
      }
    }
  }
  .i13m-home-portfolio-modal {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: @imagination-blue;
    color: #fff;
    > div {
      height: 100%;
      box-sizing: border-box;
      font-size: 2em;
      font-family: bariol-light;
      padding: 2em;
      .i13m-flex(column);
      justify-content: flex-end;
      align-items: flex-start;
      .i13m-project-title {
        font-size: 1.5em;
        font-family: bariol-regular;
      }
      .i13m-project-category {
        border-bottom: 1px solid #fff;
        padding-bottom: 1em;
        width: 100%;
      }
      .i13m-project-description {
        font-style: italic;
      }
    }
  }
}

.i13m-plus {
  a {
    width: 100%;
    font-size: 10em;
    height: 100%;
    .i13m-flex(row);
    text-decoration: none;
    color: @imagination-blue;
  }
}

.i13m-round-button {
  box-sizing: border-box;
  border-radius: 50%;
  .i13m-flex(row);
  width: 3em;
  height: 3em;
}

.i13m-horizontal-buttons {
  .i13m-flex(row);
}

.i13m-underlined-header {
  color: @imagination-blue;
  position: relative;
  font-size: 2em;
  margin: 1em 0 2.3em 0;
  &:before {
    position: absolute;
    content: ' ';
    width: 15%;
    height: .15em;
    bottom: -50%;
    left: 0;
    background-color: @empowering-yellow;
  }
}

.body-container-wrapper {
  padding-top: 72px;
  .row-depth-1.row-number-1 {
    > .row-fluid {
      > .widget-span {
        > .cell-wrapper {
          > .hs_cos_wrapper {
            position: relative;
          }
        }
      }
    }
  }
}

.i13m-bottom-separator {
  padding-bottom: .85em;
  margin-bottom: .85em;
  position: relative;
  &:after {
    content: ' ';
    display: block;
    position: absolute;
    background-color: @empowering-yellow;
    width: 3em;
    height: 3px;
    border-radius: 3px;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

.i13m-text {
  h6 {
    margin: 0;
    font-size: 3em;
    text-transform: uppercase;
    font-family: bariol-bold;
    .i13m-bottom-separator();
  }
  div {
    font-size: 1.85em;
    text-align: center;
    line-height: 1.3;
    max-width: 31.5em;
  }
}

.i13m-last-section {
  .fp-tableCell {
    > span:first-child {
      position: relative;
      display: block;
      height: calc(~"100% - 53.25px");
    }
  }
}



.i13m-updates-content {
  .i13m-flex(column);
}

.i13m-updates-grid {
  .i13m-flex(row);
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  flex-wrap: wrap;
  max-width: 900px;
  height: 640px;
  overflow: hidden;
  align-content: flex-start;
  .grid-item {
    box-sizing: border-box;
    width: 280px;
    height: 300px;
    margin: 10px;
    .i13m-flex(column);
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: 0 0 5px #eee;
    .i13m-update-header,
    .i13m-update-header-alt {
      h5,
      div {
        &:first-child {
          text-transform: uppercase;
          font-family: bariol-bold;
          margin: .2em 0 .7em 0;
          max-height: 1.1em;
          overflow: hidden;
          max-width: 100%;
        }
      }
    }
    .i13m-update-header {
      div {
        &:first-child {
          text-align: center;
        }
      }
    }
    > a {
      text-decoration: none;
      color: #0098da;
      font-family: bariol-bold;
    }
  }
  .i13m-updates-image {
    display: block;
    width: 100%;
    height: 150px;
    min-height: 150px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .i13m-update-header,
  .i13m-update-header-alt {
    .i13m-flex(column);
    box-sizing: border-box;
    padding: 1em;
    width: 100%;
  }
  .i13m-update-header-alt {
    align-items: flex-start;
    padding: 0em 1em 0px;
  }
  .i13m-update-summary {
    color: #a1b1c1;
    padding: 1em;
    font-family: bariol-bold;
    max-height: 2.4em;
    overflow: hidden;
    p {
      margin: 0;
    }
  }
  .i13m-update-subheader {
    .i13m-flex(row);
    color: @imagination-blue;
    font-size: 0.87em;
    span {
      padding: 0 0 0 .4em;
      &:nth-child(2) {
        margin: 0 .2em;
      }
    }
  }
}

.i13m-updates-view {
  .i13m-horizontal-button();
  background-color: @imagination-blue;
  color: #fff;
  text-transform: uppercase;
  margin: 1em 0;
}

.i13m-pagination-button {
  font-family: bariol-bold;
  border: 1px solid lightgray;
  background-color: #fff;
  color: lightgray;
  padding: 6px;
  width: 36px;
  margin: 0 2px;
  font-size: 16px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

  &:not(.i13m-pagination-separator-button) {
    &:hover,
    &:active,
    &:focus {
      outline: none;
      background-color: @imagination-blue-hover;
      border: 1px solid @imagination-blue-hover;
      color: #fff;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }

    cursor: pointer;
  }
}

.i13m-pagination-current-page {
  background-color: @imagination-blue;
  border: 1px solid @imagination-blue;
  color: #fff;
}

.i13m-pagination-separator-button {
  pointer-events: 'none';
}

.i13m-pagination-controls {
  margin-top: 1em;
  height: 36px;
  > * {
    cursor: pointer;
  }
}

.i13m-separator {
  z-index: 99;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  .i13m-flex(row);
  font-size: 1.7em;
  line-height: 1;
  text-align: center;
  word-wrap: break-word;
  p {
    max-width: 50em;
    margin: 1em;
  }
  .mobile {
    display: none;
  }
  a {
    text-transform: uppercase;
    .i13m-horizontal-button();
    padding: .5em;
    font-size: 1em;
  }
}

.i13m-blue-separator {
  .i13m-separator();
  background-color: @imagination-blue;
  color: #fff;
  a {
    background-color: #fff;
    color: @imagination-blue;
  }
}

.i13m-white-separator {
  .i13m-separator();
  background-color: #fff;
  color: @imagination-blue;
  a {
    background-color: @imagination-blue;
    color: #fff;
  }
}

.i13m-imagine-background {
  background-image: url(https://cdn2.hubspot.net/hubfs/2422193/pictures/imagine-it-done.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

.i13m-text-absolute {
  top: 9em;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  text-align: center;
}

.i13m-standard-mask (@opacity) {
  img {
    opacity: unit(@opacity) / 100;
    -webkit-filter: contrast(90%);
    filter: contrast(90%);
  }
}

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.i13m-booster-header-background,
.i13m-job-header-row {
  #i13m-social-tooltip {
    display: none;
  }
}

#i13m-social-tooltip {
  .i13m-flex(row);
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  a {
    color: fade(@medium-gray, 80%);
    font-size: 2em;
    text-decoration: none;
    padding: .2em;
    -webkit-transition: color 0.4s ease-in-out;
    transition: color 0.4s ease-in-out;
    &:hover {
      color: fade(@medium-gray, 90%);
      text-decoration: none;
      -webkit-transition: color 0.2s ease-in-out;
      transition: color 0.2s ease-in-out;
    }
  }
}

.tooltipster-bottom {
  .tooltipster-box {
    background-color: transparent !important;
    box-shadow: none !important;
  }
  .tooltipster-arrow {
    display: none !important;
  }
}

.i13m-directional-button {
  font-size: 32px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: fade(@honest-gray, 20%);
  color: @innovator-blue;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  font-family: FontAwesome;
  z-index: 99;
  border-radius: 50%;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 40px;
  &:after,
  &:before {
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  &:hover {
    &:after,
    &:before {
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      color: @empowering-yellow;
    }
  }
  &.negative {
    background-color: fade(@flexible-gray, 50%);
    &:hover {
      background-color: fade(@flexible-gray, 80%);
    }
  }
  &.disabled {
    pointer-events: none;
  }
}

.i13m-left-button {
  .i13m-directional-button();
  left: calc(~"40px - -2%");
  &:before {
    content: '\f104';
  }
  &.disabled {
    &:before,
    &:after {
      color: fade(@honest-gray, 50%);
    }
  }
}

.i13m-right-button {
  .i13m-directional-button();
  right: calc(~"40px - -2%");
  &:after {
    content: '\f105';
  }
  &.disabled {
    &:before,
    &:after {
      color: fade(@honest-gray, 50%);
    }
  }
}

.i13m-up-button {
  .i13m-directional-button();
  &:before {
    content: '\f106';
  }
}

.i13m-arrow-right-button {
  .i13m-directional-button();
  &:before {
    content: '\f061';
  }
}

.i13m-doubleup-button {
  .i13m-directional-button();
  &:before {
    content: '\f102';
  }
}

.i13m-down-button {
  .i13m-directional-button();
  &:after {
    content: '\f107';
  }
}

::-ms-clear {
  display: none;
}

.hs-error-msgs {
  display: none !important;
}
// .hs-error-msgs {
//   list-style: none;
//   position: absolute;
//   background: fade(@honest-gray, 90%);
//   font-size: 1.2em;
//   color: #fff;
//   padding: .6em;
//   left: 50%;
//   border-radius: 4px;
//   bottom: 0;
//   -webkit-transform: translate(-50%, 100%);
//   transform: translate(-50%, 100%);
//   z-index: 99;
//   &:before {
//     content: ' ';
//     position: absolute;
//     border-color: fade(@honest-gray, 90%) transparent;
//     border-width: 0 5px 5px;
//     border-style: solid;
//     width: 0;
//     top: -5px;
//     left: 50%;
//   }
//   label {
//     white-space: nowrap;
//     a {
//       color: @imagination-blue !important;
//     }
//   }
// }

.hs-form-field {
  position: relative;
}

.invalid.error {
  box-shadow: 0 0 7px #f43718;
  border: 1px solid #f43718 !important;
}

.i13m-linkedin {
text-decoration: none;
  &:before {
    content: '\f08c';
    font-family: FontAwesome;
    cursor: pointer;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    color: @honest-gray;
    font-size: 1em;
    text-decoration: none;
  }
  &:hover {
  text-decoration: none;
    &:before {
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      color: @imagination-blue;
      text-decoration: none;
    }
  }
}

.i13m-customer-logo {
  width: 150px;
  height: 150px;
  display: block;
  background-image: url(//cdn2.hubspot.net/hubfs/2422193/pictures/logos.png);
  background-repeat: no-repeat;
  &.audatex {
    background-sition-x: 25px 15px;
  }
  &.axa {
    background-sition-x: 25px -135px;
  }
  &.bauer {
    background-position: -125px 15px;
  }
  &.bayer {
    background-position: -2675px 15px;
  }
  &.bgz {
    background-position: -125px -135px;
  }
  &.cdp {
    background-position: -275px 15px;
  }
  &.creditagricole {
    background-position: -275px -135px;
  }
  &.danone {
    background-position: -425px 15px;
  }
  &.db {
    background-position: -425px -135px;
  }
  &.dnb {
    background-position: -575px 15px;
  }
  &.ds360 {
    background-position: -575px -135px;
  }
  &.edf {
    background-position: -725px 15px;
  }
  &.eiffage {
    background-position: -725px -135px;
  }
  &.eurofins {
    background-position: -875px 15px;
  }
  &.gddkia {
    background-position: -875px -135px;
  }
  &.igt {
    background-position: -1025px 15px;
  }
  &.ing {
    background-position: -1025px -135px;
  }
  &.innogy {
    background-position: -1175px 15px;
  }
  &.intrum {
    background-position: -1175px -135px;
  }
  &.kp {
    background-position: -1325px 15px;
  }
  &.krd {
    background-position: -1325px -135px;
  }
  &.lot {
    background-position: -1475px 15px;
  }
  &.mars {
    background-position: -1475px -135px;
  }
  &.mbank {
    background-position: -1625px 15px;
  }
  &.medicover {
    background-position: -1625px -135px;
  }
  &.naspers {
    background-position: -1775px 15px;
  }
  &.nfg {
    background-position: -2675px -135px;
  }
  &.play {
    background-position: -1775px -135px;
  }
  &.pramerica {
    background-position: -1925px 15px;
  }
  &.proservice {
    background-position: -1925px -135px;
  }
  &.provident {
    background-position: -2075px 15px;
  }
  &.pwpw {
    background-position: -2075px -135px;
  }
  &.raiffeisen {
    background-position: -2225px 15px;
  }
  &.skanska {
    background-position: -2225px -135px;
  }
  &.tikkurila {
    background-position: -2375px 15px;
  }
  &.tvn {
    background-position: -2375px -135px;
  }
  &.volvo {
    background-position: -2525px 15px;
  }
  &.wardynski {
    background-position: -2525px -135px;
  }
}


#fullpage {
  font-size: .9em;
  > .section {
    position: relative;
  }
}

@supports (-ms-ime-align:auto) {
  ::-webkit-input-placeholder {
    color: inherit;
    opacity: 1 !important;
  }
}

.i13m-bracket(@color, @width) {
  border-bottom: @color solid 2px;
  width: @width;
  height: @width / 5;
  position: relative;
  &:after {
    content: ' ';
    width: @width;
    height: @width / 5;
    display: block;
    position: absolute;
    top: 100%;
    border-top: @color solid 2px;
  }
}

.i13m-right-bracket(@color, @width) {
  .i13m-bracket(@color, @width);
  border-radius: 0 0 0 @width / 5;
  border-left: @color solid 2px;
  &:after {
    left: 90%;
    border-radius: 0 @width / 5 0 0;
    border-right: @color solid 2px;
  }
}

.i13m-left-bracket(@color, @width) {
  .i13m-bracket(@color, @width);
  border-radius: 0 0 @width / 5 0;
  border-right: @color solid 2px;
  &:after {
    right: 90%;
    border-radius: @width / 5 0 0 0;
    border-left: @color solid 2px;
  }
}

.i13m-left-bracket-white-md {
  .i13m-left-bracket(#fff, 2.5em);
}

.i13m-right-bracket-white-md {
  .i13m-right-bracket(#fff, 2.5em);
}

body.recommend,
body.competitions {
  .body-container-wrapper,
  .footer-container-wrapper {
    .row-fluid-wrapper.row-depth-1.row-number-1 {
      background-color: #f9fafb;
    }
  }
  .body-container-wrapper {
    background-color: #f9fafb;
    min-height: calc(~"100vh - 153.5px");
  }
  .i13m-navi,
  .i13m-cookie-info {
    display: none;
  }
}

body.ifrs {
  .i13m-navi {
    display: none;
  }
}

div[class^="hs_consent_"] {
  .inputs-list {
    list-style: none;
    padding: 0;
    margin-top: 0;
    label {
      .i13m-flex(row);
      justify-content: inherit;
    }
  }
  input {
    width: 1em;
    flex-shrink: 0;
    margin-right: 1em;
  }
  .hs-form-required {
    position:absolute;
    right:0;
    font-size: 1.5em;
    font-weight: 700;
    color: #f43718;
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
}

.row-fluid [class*="span"] {
  min-height: 0 !important;
}

.i13m-scroll {
  position: fixed;
  z-index: 99;
  right: 2em;
  bottom: 2em;
}
