.i13m-hamburger {
  display: none;
}

.i13m-menu-container {
  z-index: 99;
  > span {
    float: right;
    > div {
      float: left;
    }
  }
}

.header-btn {
  .i13m-button();
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  line-height: 72px;
  height: 100%;
  padding: 0 @header-btn-padding;
  font-size: @header-font-size;
  // margin: @header-btn-margin;
  color: @text-color;
  &:hover {
    &:before {
      height: @button-hover-height;
    }
  }

  &:before {
    position: absolute;
    left: 0;
    content: " ";
    height: 0%;
    width: 100%;
    background-color: @brand-primary;
    -webkit-transition: all @button-hover-time ease-out;
    transition: all @button-hover-time;
  }
}

.nav-btn {
  .header-btn();

  &:before {
    z-index: -1;
    top: 0;
  }

  &.nav-btn-highlighted {
    color: @brand-primary;
  }

  &.nav-btn-selected {
    color: @btn-primary-color;
    &:before {
      height: 100%;
    }
  }

  &:hover {
    color: #fff;
  }
}

.language-btn {
  .header-btn();
  &:nth-last-child(3) {
    margin-left: 1em;
  }

  &:before {
    bottom: 20%;
    height: 0;
    background-color: @brand-success;
  }

  &:hover {
    &:before {
      height: 4%;
      background-color: fade(@brand-success, 50%) !important;
    }
  }

  &.language-btn-selected {
    &:before {
      height: 4%;
      background-color: @brand-success;
    }
  }
}

#i13m-header {
  position: relative;
  transition: top 0.2s ease-in-out;
  z-index: 198;
  font-size: 1.25em;
  height: 72px;
  background: rgba(255, 255, 255, 1);
  > .row-fluid {
    max-width: @header-max-width;
    margin: 0 auto;
    height: 100%;
  }
}

.i13m-logo-container,
.i13m-menu-container {
  height: 100%;
  span {
    height: 100%;
  }
}
.i13m-logo-container {
  > span {
    -webkit-box-pack: end;
  }
}
.i13m-careers-logo {
  margin-left: 3em;
  cursor: pointer;
}

#i13m-logo {
  position: absolute;
  top: 0;
  left: 0;
}

.i13m-logo {
  width: 200px;
  height: 72px;
}

.i13m-services-menu,
.i13m-innovations-menu {
  z-index: 5000;
  position: absolute;
  padding: 1em 1.3em;
  background-color: @imagination-blue;
  a {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    width: 15em;
    padding: .4em 1em;
    position: relative;
    &:before {
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      &:before {
        content: ' ';
        background-color: @empowering-yellow;
        width: 20px;
        height: 3px;
        display: block;
        position: absolute;
        left: -1.3em;
        top: calc(50% - 3px);
      }
    }
  }
}

.i13m-navi {
  .i13m-hide-tablet();
  a {
    cursor: pointer;
    opacity: 1;
    position: absolute;
    z-index: 99;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    right: 1%;
    height: 40px;
    -webkit-transition: all 0.4s ease-in-out;
    top: auto !important;
    &.i13m-back-to-top {
      bottom: 170px;
      p {
        color: lighten(@honest-gray, 20%);
        opacity: 0;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%,-175%);
        width: 54px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        -webkit-transition: opacity 0.4s ease-in-out;
        transition: opacity 0.4s ease-in-out;
      }
      &:hover {
        p {
          opacity: 1;
          -webkit-transition: opacity 0.2s ease-in-out;
          transition: opacity 0.2s ease-in-out;
        }
      }
    }
    &.i13m-one-up {
      bottom: 125px;
    }
    &.i13m-one-down {
      bottom: 80px;
    }
  }
}

.i13m-scroll-down {
  background-image: url(http://cdn2.hubspot.net/hubfs/2422193/pictures/sprites.png);
  width: 35px;
  height: 21px;
  background-position: -257px -164px;
  left: 50%;
  bottom: 4%;
  opacity: 0;
  z-index: 999;
  -webkit-transform: translateX(-50%) rotate(180deg);
  transform: translateX(-50%) rotate(180deg);
  position: absolute;
}

.i13m-cookie-info {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  left: 0;
  z-index: 999999;
  box-sizing: border-box;
  > div {
    .i13m-flex(row);
    justify-content: space-between;
    > div {
      .i13m-flex(column);
      padding: 1em;
      font-size: 1.4em;
      width: 100%;
      box-sizing: border-box;
      align-items: flex-start;
      p {
        margin: 0;
        &:first-child {
          font-family: bariol-bold;
          text-transform: uppercase;
        }
        a {
          text-decoration: none;
          color: #fff;
          font-family: bariol-bold;
        }
      }
    }
    > a {
      margin-right: 1em;
    }
  }
  img {
    height: 100px;
    width: 145.45px;
  }
  p {
    display: inline-block;
  }
  .i13m-cookie-text {
    color: #fff;
  }
}
