.i13m-home {
  .i13m-page-header {
    h3 {
      color: @honest-gray;
    }
    h4 {
      color: @imagination-blue;
    }
  }
  .i13m-main-text {
    display: none;
  }
}

.i13m-home-main-container {
  position: relative;
  width: 100%;
  height: 100%;

  .i13m-home-main-background {
    .i13m-background-image-container();
    img {
      position: absolute;
    }
  }

  .i13m-widget {
    color: @honest-gray;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: relative;
    .i13m-flex(row);

    .i13m-widget-table {
      .i13m-hide-tablet();
      table-layout: fixed;
      td {
        // border: 1px solid red;
        position: relative;
      }
      margin: 0 auto;
      .i13m-widget-text-container {
        text-align: center;
        padding-bottom: 0.8em;
        & > span {
          text-shadow: 0px 0px 20px @honest-gray;
          font-size: @widget-text-fontsize * 1.5;
          opacity: 0;
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
          margin: 0 .05em;
        }
      }

      .i13m-widget-main-row {
        .i13m-widget-single-glue {
          width: 0;
        }
        .i13m-widget-input-container {
          position: relative;
          input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            border: none;
            color: @honest-gray;
            background: transparent;
            outline: none;
            font-size: @widget-main-row-fontsize;
            text-shadow: 0px 0px 0.5px @honest-gray;
          }
          svg {
            .i13m-widget-svg();
            margin: -5px auto;
          }
        }
        td {
          height: 90px;
          .i13m-widget-link {
            .i13m-directional-button();
            top: auto;
            background-color: @imagination-blue;
            color: #fff;
            &:before {
              content: '\f105';
            }
          }
          span {
            font-size: @widget-main-row-fontsize;
            padding: 20px;
            opacity: 0;
            text-shadow: 0px 0px 20px @honest-gray;
            & .i13m-widget-animation {
              opacity: 0;
              -webkit-filter: blur(50px);
              filter: blur(50px);
            }
          }
          a {
            .i13m-button();
            color: @honest-gray;
            opacity: 0;
            cursor: default;
          }
        }
      }

    }
  }
}

.i13m-widget-carousel-container {
  line-height: 34px;

    button {
      cursor: pointer;
      i {
        font-size: .5em;
        color: @honest-gray;
      }
    }
}

.i13m-widget-carousel {

  min-width: @widget-carousel-width;
  min-height: @widget-carousel-height;
  font-size: @widget-text-fontsize;

}

.i13m-widget-element {
  cursor: pointer;
  text-transform: uppercase;
  text-shadow: 0px 0px 0.5px @honest-gray;
  &:before {
    position: absolute;
    left: 0;
    content: " ";
    height: 0%;
    width: 100%;
    -webkit-transition: height @button-hover-time ease-out;
    transition: height @button-hover-time;
    bottom: 0;
    height: 0;
    background-color: @brand-success;
  }

  &:hover {
    &:before {
      height: @widget-element-hover-height;
      background-color: fade(@brand-success, 50%) !important;
    }
  }
}

.i13m-widget-carousel,
.i13m-widget-button-left,
.i13m-widget-button-right {
  opacity: 0;
}

.i13m-widget-stroke {
  svg {
    .i13m-widget-svg();
    stroke-dasharray: @widget-stroke-dash-array;
    stroke-dashoffset: @widget-stroke-dash-array;
    margin: 0 auto;
    display: block;
  }
}

.i13m-widget-imagine,
.i13m-widget-animation {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.i13m-widget-button-left,
.i13m-widget-button-right {
  .i13m-button();
  background-color: transparent;
  font-size: @widget-text-fontsize * 2;
  box-sizing: border-box;
  font-family: bariol-bold;
}

.i13m-widget-svg {
  stroke: @honest-gray;
  stroke-width: @widget-path-width;
  stroke-linejoin: round;
  fill: none;
  display: block;
  stroke-dasharray: @widget-input-dash-array;
  stroke-dashoffset:  @widget-input-dash-array;
}

.i13m-home-contact {
  .i13m-page-header {
    background-color: #4cb5e4;
    h3,
    h4 {
      color: #fff;
      &.mobile {
        display: none;
      }
    }
  }
  .i13m-content {
    justify-content: flex-start;
    padding-top: 9.5em;
  }
  .i13m-contact-offices-mobile {
    display: none !important;
  }
}


// -container {
//   height: calc(~"100% - 53.25px");
//   width: 100%;
//   position: relative;
//   .i13m-flex(column);
//   justify-content: flex-start;
//   .i13m-page-header {
//     background-color: @brand-info;
//     margin: 0;
//     h3, h4 {
//       margin: 0;
//       color: #fff;
//     }
//     h3 {
//       padding: 1.5em 0 0;
//     }
//   }
// }

.i13m-home-map {
  margin-top: -10px;
  .i13m-map-tooltip {
    height: 1vh;
    width: 1vh;
  }
  .i13m-contact-main-background-container {
    padding: 1vh;
    top: 0;
    left: 0;
  }
}

.i13m-home-contact-form {
  width: 100%;
  > span {
    .i13m-center();
    display: block;
    form {
      fieldset {
        > div {
          &:not(:first-child) {
            width: calc(~"33.3333% - 10px") !important;
            margin-left: 10px !important;
          }
        }
      //   margin-left: 24px !important;
      //   > div {
      //     > div {
      //       margin-right: 24px !important;
      //     }
      //   }
        margin-right: -8px !important;
        &.form-columns-3 {
          .hs-form-field {
            width: 33.3333%;
          }
        }
      }
      fieldset,
      > div {
        max-width: 76.75em;
        margin: 1.1em 0;
        input,
        select,
        textarea {
          width: 100% !important;
          box-sizing: border-box;
          padding: 0.9em 0.6em;
          background-color: #fff;
          border: 1px solid #ddd;
          -webkit-border-radius: 4px;
          border-radius: 4px;
          font-size: 1.1em;
          outline: none;
        }
        textarea {
          height: 7em;
        }
        input[type="submit"] {
          background-color: #a1b1bc;
          color: #fff;
          text-transform: uppercase;
          font-weight: 700;
          cursor: pointer;
          &:hover {
            background-color: @hover-dark;
          }
        }
        > div {
          > label {
            display: block;
            float: right;
            font-size: 1.5em;
            font-weight: 700;
            color: #f43718;
            -webkit-transform: translateX(5px);
            transform: translateX(5px);
          }
          // &:not(:last-of-type) {
          //   label {
          //     display: none !important;
          //   }
          // }
        }
      }
      .hs_submit {
        margin: 0 !important;
        // .actions {
        //   margin-right: 24px;
        //   margin-left: 24px;
        // }
      }
    }
  }
}

.i13m-home-latest {
  > div {
    > span {
      > div {
        width: 100%;
        > span {
          width: 100%;
        }
      }
    }
  }
}

.i13m-home-portfolio {
  .i13m-text {
    color: @honest-gray;
    font-size: 1.3em;
    .i13m-text-absolute();
    top: 6em;
    margin: 1em 0 0;
    font-weight: 500
  }
}

.i13m-home-portfolio-container2 {
  padding: 9em 0 0 0;
  margin: 0;
  .i13m-flex(column);
  -webkit-flex-flow: column wrap;
  -moz-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  list-style: none;
  .i13m-customer-logo {
    &.skanska {
      height: 60px;
      background-position-y: -196px;
    }
    &.danone {
      height: 60px;
      width: 100px;
      background-size: 2000%;
      background-position: -296px -12px;
    }
    &.bayer {
      height: 60px;
      background-size: 1800%;
      width: 80px;
      background-position: -1364px 0px;
    }
    &.nfg {
      height: 60px;
      background-position-y: -180px;
    }
    &.naspers {
      height: 60px;
      background-position: -1780px -30px;
    }
  }

  li {
    border: 3px solid #fff;
    box-sizing: border-box;
    width: 33.333%;
    height: 50%;
    border: 3px solid #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 140%;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    color: #fff;
    .i13m-plus {
      width: 100%;
      height: 100%;
      position: relative;
      box-sizing: border-box;
      padding: 1em 0 0 0;
      > p,
      > div {
        margin: 0;
      }
      a {
        position: absolute;
        top: 66.66%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
      }
    }
    > a {
      display: block;
      width: 100%;
      height: 100%;
      cursor: pointer;
      position: relative;
      padding: 2em 0 .5em 0;
      img {
        max-width: 170px;
        max-height: 60px;
        margin: 0 0 0 1.7em;
        &.danone {
          margin: -1.6em 0 .5em 1.3em;
        }
        &.bayer {
          margin: -1em 0 1.5em 1.1em;
        }
        &.skanska {
          margin: 0 0 2.2em 1.7em;
        }
        &.nfg {
          margin: 0 0 2em 1.7em;
        }
      }
    }
    // &:last-child {
    //   height: 50%;
    //   width: 33.333%;
    // }
    &:hover {
      background-size: 150%;
      -webkit-filter: opacity(90%);
      filter: opacity(90%);
    }
  }
  .i13m-project-category {
    display: block;
    padding: 0 1.7em 1em 1.7em;
  }
  .i13m-project-division {
    display: block;
    .i13m-bottom-separator();
    padding: 0 1.7em 1.2em;
    margin-bottom: 1.2em;
    margin-top: -1.5em;
    &:after {
      left: 0;
      -webkit-transform: translateX(0);
      transform: translateX(0);
      margin-left: 1.7em;
    }
  }
  .i13m-project-description {
    width: calc(~"100% - 40px");
    padding: .5em 1.8em;
    text-align: left;
    line-height: 1.5em;
    -webkit-transition: color 0.4s ease-in-out;
    transition: color 0.4s ease-in-out;
    display: inline-block;
    box-sizing: border-box;
    margin-top: -2.2em;
    > *:not(:first-child) {
      display: none;
    }
  }
}

.i13m-home-portfolio-modal.i13m-portfolio-story5 > div {
  .i13m-customer-logo.naspers {
    background-position: -1775px -30px;
    height: 170px;
  }
}

// .i13m-home-portfolio-table {
//   border-collapse: collapse;
//   width: 100%;
//   height: 100%;
//   tr {
//     height: 50%;
//     td {
//       > a {
//         padding: 2em 0 .5em 0;
//         width: 100%;
//         height: 100%;
//         box-sizing: border-box;
//         cursor: pointer;
//         display: block;
//       }
//       border: 3px solid #fff;
//       width: 20%;
//       color: #fff;
//       background-position: center;
//       background-size: 110%;
//       background-repeat: no-repeat;
//       box-sizing: border-box;
//       font-size: 1.1em;
//       -webkit-transition: all 0.5s ease-in-out;
//       transition: all 0.5s ease-in-out;
//       &:hover {
//         background-size: 120%;
//         -webkit-filter: opacity(90%);
//         filter: opacity(90%);
//       }
//       img {
//         max-width: 170px;
//         max-height: 60px;
//         margin: 0 0 0 1.7em;
//         &.danone {
//           margin: -1.6em 0 .5em 1.3em;
//         }
//         &.bayer {
//           margin: -1em 0 1.5em 1.1em;
//         }
//         &.skanska {
//           margin: 0 0 2.2em 1.7em;
//         }
//         &.nfg {
//           margin: 0 0 2em 1.7em;
//         }
//       }
//       .i13m-project-category {
//         display: block;
//         padding: 0 1.7em 1em 1.7em;
//         margin-top: -1em;
//       }
//       .i13m-project-division {
//         display: block;
//         .i13m-bottom-separator();
//         padding: 0 1.7em 1.2em;
//         margin-bottom: 1.2em;
//         margin-top: -1.5em;
//         &:after {
//           left: 0;
//           -webkit-transform: translateX(0);
//           transform: translateX(0);
//           margin-left: 1.7em;
//         }
//       }
//       .i13m-project-description {
//         width: calc(~"100% - 40px");
//         padding: .5em 1.8em;
//         text-align: left;
//         line-height: 1.5em;
//         -webkit-transition: color 0.4s ease-in-out;
//         transition: color 0.4s ease-in-out;
//         display: inline-block;
//         box-sizing: border-box;
//         margin-top: -2.2em;
//         > *:not(:first-child) {
//           display: none;
//         }
//       }
//       .i13m-round-button-container {
//         box-sizing: border-box;
//         cursor: pointer;
//         width: 2.5em;
//         margin: -.7em 0;
//         height: 2.5em;
//         border-radius: 50%;
//         background: none;
//         transition: all 0.3s ease-in-out;
//         -webkit-transition: all 0.3s ease-in-out;
//         .i13m-flex(row);
//         > a {
//           .i13m-round-button();
//           text-decoration: none;
//           width: 2em;
//           height: 2em;
//         }
//         &:first-of-type {
//           float:left;
//           margin: 0 .5em 1.2em 1.2em;
//           > a {
//             background-color: #fff;
//           }
//         }
//         &:last-of-type {
//           > a {
//             background-color: #fff;
//             color: @honest-gray;
//           }
//         }
//         border: 1px solid transparent;
//         &:hover {
//           border: 1px #fff solid;
//         }
//       }
//     }
//     td:not([rowspan='2']) {
//       width: 40%;
//       vertical-align: top;
//     }
//     td[rowspan='2'] {
//       vertical-align: top;
//       padding: 3em 0;
//       position: relative;
//       a {
//         position: absolute;
//         top: 66.66%;
//         left: 50%;
//         -webkit-transform: translate(-50%,-50%);
//         transform: translate(-50%,-50%);
//       }
//     }
//   }
// }

.i13m-home-portfolio-container {
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 14em;
  box-sizing: border-box;
}

.i13m-home-portfolio-modal {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: @imagination-blue;
  color: #fff;
  > div {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    font-size: 1.3em;
    font-family: bariol-light;
    padding: 2em;
    .i13m-flex(column);
    text-align: center;
    strong {
      font-family: bariol-bold;
    }
    .i13m-project-category {
      width: 100%;
      margin-bottom: 0;
    }
    .i13m-project-division {
      width: 100%;
      margin-top: .5em;
      .i13m-bottom-separator();
    }
    .i13m-project-description {
      margin-top: -.3em;
      .i13m-flex(column);
      box-sizing: border-box;
      width: 100%;
      ul {
        list-style: none;
        padding: 0;
      }
      li {
        text-align: center;;
        margin-bottom: .7em;
      }
      > div {
        p {
          .i13m-bottom-separator();
          text-transform: uppercase;
          font-family: bariol-bold;
          font-size: 1.4em;
          padding-bottom: .35em;
        }
        &:nth-last-child(2) {
          .i13m-flex(row);
          align-items: flex-start;
          > div {
            width: 25%;
          }
        }
        &:last-child {
          ul {
            .i13m-flex(row);
          }
          li {
            display: block;
            float: left;
            &:last-child {
              &:after {
                content: ' ';
              }
            }
            &:not(:last-child) {
              &:after {
                content: '|';
                color: @empowering-yellow;
                margin: 0 .5em;
              }
            }
          }
        }
      }
      > * {
        width: 100%;
        text-align: center;
      }
    }
  }
}

.i13m-home-latest-container {
  .i13m-careers-latest-container {
    height: calc(~"100% - 69px");
  }
}

.i13m-portfolio-close {
  .i13m-modal-close();
  font-size: 1.7em;
  &:hover {
    &:before {
      color: @hover-dark;
    }
  }
}

.i13m-home-testimonials-content {
  width: 100%;
  .i13m-flex(column);
  height: 45%;
  margin-top: 5em;
}

.i13m-home-testimonials-customers {
  .i13m-flex(row);
  margin-bottom: 2em;
  .customer,
  a {
    cursor: pointer;
    width: 199.3333px;
    height: 37px;
    display: block;
  }
}

.i13m-home-testimonials-container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  // height: 100%;
  .i13m-flex(column);
  .i13m-home-testimonial {
    .i13m-flex(column);
    width: 60%;
    p {
      margin: 0;
    }
  }
}

.i13m-home-testimonials-mobile {
  display: none;
  > div {
    height: 300px;
    width: 300px;
    float: left;
    > a {
      cursor: pointer;
      width: 199.3333px;
      height: 37px;
      display: block;
    }
  }
}

.i13m-home-testimonial-text {
  width: 100%;
  border-top: 1px solid @medium-gray;
  border-bottom: 1px solid @medium-gray;
  border-left: 0 solid transparent;
  border-right: 4px solid @imagination-blue;
  color: #a1b1bc;
  height: 8em;
  .i13m-flex(row);
  text-align: center;
  box-sizing: border-box;
  padding: 1em;
  position: relative;
  &:before {
    content: ' ';
    height: 100%;
    width: 8em;
    background-image: url(http://cdn2.hubspot.net/hubfs/2422193/pictures/itmagination-check.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.i13m-home-testimonial-mobile {
  display: none;
}

.i13m-home-testimonial-person {
  font-family: bariol-bold;
  font-size: 1.4em;
  margin: 2em 0 0.3em;
}
.i13m-home-testimonial-post,
.i13m-home-testimonial-company {
  font-size: 1.1em;
  color: #a1b1c1;
  margin-bottom: 0.4em;
}
.i13m-home-testimonial-company {
  font-size: 1.25em;
}
.i13m-updates-grid {
  padding: 0;
  margin: 0;
}

.i13m-home-updates {
  .i13m-content {
    .i13m-flex(column);
  }
  .i13m-left-button,
  .i13m-right-button {
    &.pagination {
      display: none;
    }
  }
}

.i13m-home-testimonial-image {
  background-image: url(http://cdn2.hubspot.net/hubfs/2422193/pictures/testimonial-logos.png);
  background-repeat: no-repeat;
}

.i13m-home-testimonial-skanska {
  .i13m-home-testimonial-image();
  background-position: -4px 0;
  &:hover,
  &.selected {
    background-position: -4px -36px;
  }
}

.i13m-home-testimonial-trakcja {
  .i13m-home-testimonial-image();
  background-position: -208.33px 0;
  &:hover,
  &.selected {
    background-position: -208.33px -38px;
  }
}

.i13m-home-testimonial-ms {
  .i13m-home-testimonial-image();
  background-position: -415.67px 0;
  &:hover,
  &.selected {
    background-position: -415.67px -36px;
  }
}

.i13m-home-testimonial-mbank {
  .i13m-home-testimonial-image();
  background-position: -612px 0;
  &:hover,
  &.selected {
    background-position: -612px -36px;
  }
}

.i13m-home-testimonial-danone {
  .i13m-home-testimonial-image();
  background-position: -782.33px 0;
  &:hover,
  &.selected {
    background-position: -782.33px -36px;
  }
}

.i13m-home-testimonial-nfg {
  .i13m-home-testimonial-image();
  background-position: -974.67px 0;
  &:hover,
  &.selected {
    background-position: -974.67px -36px;
  }
}

.i13m-home-technologies {
  .i13m-content {
    padding: 12em 0 0 0;
  }
  .bx-wrapper,
  .bx-viewport {
    height: 100% !important;
    width: 100%;
  }
  .bx-controls-direction {
    .i13m-hide-phone();
    .i13m-flex(row);
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    .bx-prev,
    .bx-next {
      cursor: pointer;
      color: @empowering-yellow;;
      font-size: 2.6em;
      text-decoration: none;
      position: relative;
      display: block;
      padding: 1.2em 0.5em;
      background-color: rgba(45, 45, 45, 0.7);
      -webkit-transition: color 0.2s ease-in-out;
      transition: color 0.2s ease-in-out;
      &:hover {
        color: darken(@empowering-yellow, 30%);
      }
    }
  }
  .bx-pager {
    .i13m-bx-pager-row (#fff, @empowering-yellow);
    bottom: 1em;
  }
  .bxslider-technologies {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    li {
      .i13m-flex(row);
      -webkit-flex-flow: row wrap;
      -moz-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      flex-wrap: wrap;
      > div {
        width: 33.3333%;
        height: 50%;
        .i13m-flex(row);
        &:nth-child(2n+1) {
          background-color: #a1b1bc;
        }
        &:nth-child(2n) {
          background-color: #b7cbd8;
        }
        &:nth-child(2) {
          background-color: #3a4c5d;
        }
        > div {
          width: 256px;
          height: 143px;
          background-image: url(//cdn2.hubspot.net/hubfs/2422193/pictures/technologies/technologies.png);
          background-repeat: no-repeat;
          &.angularjs {
            background-position: 0 -18px;
          }
          &.aws {
            background-position: 0 -210px;
          }
          &.azure {
            background-position: -300px -18px;
          }
          &.hadoop {
            background-position: -300px -210px;
          }
          &.html5 {
            background-position: -594px -18px;
          }
          &.java {
            background-position: -600px -210px;
          }
          &.microsoft-dynamics {
            background-position: -900px -18px;
          }
          &.net {
            background-position: -900px -210px;
          }
          &.o365 {
            background-position: -1200px -18px;
          }
          &.oracle {
            background-position: -1200px -210px;
          }
          &.powerbi {
            background-position: -1500px -18px
          }
          &.qlik {
            background-position: -1500px -210px;
          }
          &.qlikview {
            background-position: -1800px -18px;
          }
          &.rlanguage {
            background-position: -1800px -210px;
          }
          &.salesforce {
            background-position: -2100px -18px;
          }
          &.sqlserver {
            background-position: -2100px -210px;
          }
          &.tagetik {
            background-position: -2400px -18px;
          }
          &.xamarin {
            background-position: -2400px -210px;
          }
        }
      }
    }
    li {
      height: 100%;
    }
  }
}
