.i13m-inlab {
  .i13m-navi {
    display: none;
  }
  .i13m-content {
    padding: 12em 2em;
  }
  .i13m-cookie-info {
    display: none;
  }

  .footer-container-wrapper {
    .span12.widget-span.widget-type-custom_widget {
      min-height: 0 !important;
    }
  }
}

.i13m-ifrs-contact-container {
  position: relative;
  .i13m-background {
    .i13m-background-image-container();
    background-color: #fff;
  }

  .i13m-navi {
    display:none;
  }

  h3, h4 {
    color: #0098da;
  }

  .i13m-ifrs-contact-form {

    padding-right:4em;
    padding-left:4em;

    p {
      max-width: 78.75em;
      clear: both;
      padding-left: .9375em;
      padding-right: .9375em;
      font-size:1.1em;
    }

    label > span {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 0.9em;
      letter-spacing: .07em;
      font-family: bariol-bold;
    }

    input[type="text"], input[type="email"], input[type="tel"] {
      margin: .3em 0 .5em;
    }

    .hs-form-required {
      display: inline-block;
      margin-left: .2em;
      color: #0098da;
    }
  }
}

.i13m-ifrs-contact-content {
  .i13m-flex(row);
  width:96vh;
  max-width:80%;
  margin: 4em 0;

  // display: table;
  // table-layout: fixed;
  // width: 100vh;
}

.i13m-ifrs-contact-form {
  // margin-right: 1em;
  // display: table-cell;
  // width: 50%;
  // vertical-align: middle;
  // position: relative;
  h3 {
    .i13m-center();
    // margin: 2.5em auto 2em;
    margin: 0;
    // font-size: 1.7em;
    // color: #858586;
    // font-weight: 400;
    // font-family: bariol-light;
  }

  > span,
  .hbspt-form {
    .i13m-center();
    display: block;
    form {
      // fieldset {
      // margin-left: 24px !important;
      //   > div:last-child {
      //     > div {
      //       margin-right: 24px !important;
      //     }
      //   }
      // }
      fieldset {
        &:nth-child(5),
        > div {
          margin: 0 !important;
        }
        margin-right: -8px !important;
        > div {
          &:not(:first-child) {
            width: calc(~"50% - 10px") !important;
            margin-left: 10px !important;
          }
        }
      }
      fieldset,
      > div {
        max-width: 76.75em;
        margin: 1.1em 0;
        input,
        select,
        textarea {
          width: 100% !important;
          box-sizing: border-box;
          padding: 0.9em 0.6em;
          background-color: #fff;
          border: 1px solid #ddd;
          -webkit-border-radius: 4px;
          border-radius: 4px;
          font-size: 1.1em;
          outline: none;
        }
        textarea {
          height: 11.5em;
        }
        input[type="submit"] {
          background-color: @imagination-blue;
          color: #fff;
          text-transform: uppercase;
          font-weight: 700;
          cursor: pointer;
          &:hover {
            background-color: @hover-dark;
          }
        }
        > div {
          > label {
            display: block;
            float: right;
            font-size: 1.5em;
            font-weight: 700;
            color: #f43718;
            -webkit-transform: translateX(5px);
            transform: translateX(5px);
          }
          // &:not(:last-of-type) {
          //   label {
          //     display: none !important;
          //   }
          // }
        }
      }
      // .hs_submit {
      //   .actions {
      //     margin-right: 24px;
      //     margin-left: 24px;
      //   }
      // }
    }
  }

  > span {
    text-align:left;
  }
}

// .i13m-ifrs-contact-content {
//   .i13m-ifrs-contact-person {
//     display: table-cell;
//     width: 50%;
//     vertical-align: middle;
//     position: relative;
//   }
// }

.i13m-ifrs-ebook {
  // display: table-cell;
  // width: 50%;
  // vertical-align: middle;
  // text-align: center;
  // position:relative;
  padding-left:1em;

  img {
    max-width:100%;
  }
}

.i13m-inlab-main {
  .i13m-content {
    padding: 8em 2em;
  }
  h1 {
    padding-bottom: .35em;
    margin-bottom: .35em;
    &:after {
      width: 1.5em;
    }
  }
  h3 {
    &:before {
      content: '- ';
    }
  }
  ul {
    font-size: 2.2em;
    width: 100%;
    text-align: left;
    list-style: none;
    padding: 0;
    margin: 0 0 3em;
    li {
      padding-left: 1em;
      text-indent: -.7em;
      margin: .2em 0;
      &:before {
        content: '\f0c8';
        font-family: FontAwesome;
        color: @imagination-blue;
        font-size: .5em;
        position: relative;
        left: -.5em;
        top: -.2em;
      }
    }
  }
  // .i13m-background {
  //   img {
  //     -webkit-transform: translate(-60%,-40%) scale(1.1);
  //     transform: translate(-60%,-40%) scale(1.1);
  //   }
  // }
}

.i13m-inlab-iterations-text {
  width: 100%;
  margin-bottom: 2em;
  p {
    font-size: 1.4em;
  }
}

.i13m-inlab-intro {
  width: 100%;
  ul {
    list-style: none;
    font-size: 1.7em;
    .i13m-flex(column);
    padding: 0;
    font-size: 1.4em;
    li {
      padding: 0 2em;
      box-sizing: border-box;
    }
  }
}

.i13m-left-button,
.i13m-right-button {
  &.iterations-text {
    top: 45%;
  }
  &.iterations {
    top: 75%;
  }
  &.iteration {
    top: 60%;
  }
}

.i13m-inlab-intro {
  .bx-pager {
    .i13m-bx-pager-row(lighten(@imagination-blue, 50%), @imagination-blue);
  }
}

.i13m-inlab-iterations-container {
  .i13m-flex(row);
  > div {
    height: 120px;
    &:first-child {
      .i13m-inlab-iteration-q {
        border-radius: 2em 0 0 2em;
      }
    }
    &:last-child {
      .i13m-inlab-iteration-q {
        border-radius: 0 2em 2em 0;
      }
    }
  }
}

.i13m-inlab-iterations {
  .bx-pager {
    .i13m-bx-pager-row(lighten(@imagination-blue, 50%), @imagination-blue);
    bottom: 1em;
  }
}

.i13m-inlab-iteration-q {
  .i13m-flex(row);
  height: 5px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  // background-image: -webkit-linear-gradient(#27f5cc, #21c2f8);
  // background-image: linear-gradient(#27f5cc, #21c2f8);
  background-color: @imagination-blue;
  position: relative;
  >   span {
    position: absolute;
    font-size: 1.25em;
    top: 2em;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  &:after {
    content: ' ';
    display: block;
    width: 90%;
    height: 1.2em;
    position: absolute;
    left: 50%;
    top: 250%;
    border-style: solid;
    border-width: 0 2px 2px 2px;
    border-color: fade(@imagination-blue, 50%);
    border-radius: 0 0 .3em .3em;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

.i13m-inlab-iteration-m-container {
  width: 5em;
  position: relative;
}

.i13m-inlab-iteration-m-month {
  background-color: #2c3e50;
  border-radius: 2px;
  padding: .5em 1.5em;
  color: #fff;
  position: relative;
  .i13m-flex(column);
}

.i13m-inlab-iterations {
  .i13m-inlab-iteration-m-month {
    margin: -4em .5em 0;
    &:after {
      content: ' ';
      position: absolute;
      border-color: #2c3e50 transparent;
      border-width: 5px 5px 0;
      border-style: solid;
      width: 0;
      bottom: -4px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }
}

.i13m-inlab-iteration-m-dot {
  border-radius: 50%;
  width: 1em;
  height: 1em;
  background: @imagination-blue;
  box-shadow: 0 0 1px @imagination-blue;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  &:after {
    content: ' ';
    border-radius: 50%;
    height: .6em;
    width: .6em;
    display: block;
    border: 1px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.i13m-right-button,
.i13m-left-button {
  &.iterations {
    display: none;
  }
}

.i13m-inlab-ideas {
  color: #fff;
  h3 {
    font-size: 1.5em;
    width: 80%;
  }
}

.i13m-inlab-ideas-innovations {
  .i13m-flex(row);
  flex-wrap: wrap;
  align-items: flex-start;
  > div {
    width: 33%;
    padding: 0 1em;
    box-sizing: border-box;
    > div {
      font-size: 1.2em;
      .i13m-flex(row);
      .fa {
        margin: 0 .3em;
        font-size: 2.5em;
        color: @imagination-blue;
      }
    }
  }
  .title {
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    width: 84%;
    text-align: center;
    margin: .5em auto;
  }
}

.i13m-inlab-iteration {
  color: #fff;
  .i13m-inlab-iteration-m-dot {
    z-index: 99;
    background: #fff;
    box-shadow: 0 0 1px #fff;
    &:after {
      border: 1px solid @imagination-blue;
    }
  }
  .i13m-inlab-iteration-m-container {
    width: 10em;
    height: 5px;
    // background-image: -webkit-linear-gradient(#27f5cc, #21c2f8);
    // background-image: linear-gradient(#27f5cc, #21c2f8);
    background-color: #fff;
    top: 75%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
  }
  .i13m-inlab-iteration-container {
    height: 200px;
  }
  .i13m-inlab-iteration-q {
    background-image: none;
    > div {
      height: 200px;
      &:first-child {
        .i13m-inlab-iteration-m-container {
          border-radius: 2em 0 0 2em;
        }
      }
      &:last-child {
        .i13m-inlab-iteration-m-container {
          border-radius: 0 2em 2em 0;
        }
      }
      // &:after {
      //   content: '}';
      //   font-size: 8em;
      //   transform: rotate(270deg);
      //   display: block;
      // }
    }
  }
  .i13m-inlab-iteration-date {
    position: absolute;
    left: 50%;
    top: 1em;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .i13m-inlab-iteration-m-month {
    -webkit-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    background-color: #2c3e50;
    border-radius: 2px;
    padding: .5em 1.5em;
    color: #fff;
    position: absolute;
    width: 9em;
    height: 7em;
    box-sizing: border-box;
    bottom: 3em;
    left: ~"calc(50% - 5em)";
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    > span {
      width: 6em;
    }
  }
  .bx-pager {
    .i13m-bx-pager-row(#fff, @empowering-yellow);
    bottom: 0;
  }
}

.i13m-inlab-qa {
  .i13m-faq-entries {
    -ms-overflow-x: hidden;
    margin: 0 auto;
    .i13m-flex(column);
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    width: 100%;
    &.pl {
      max-height: 98em;
    }
    &.en {
      max-height: 90em;
    }
    > div {
      max-width: 49%;
      width: 100%;
      text-align: left;
    }
  }
}

.i13m-inlab-council,
.i13m-inlab-mentors,
.i13m-inlab-iteration,
.i13m-inlab-iterations,
.i13m-inlab-teams,
.i13m-inlab-qa{
  h3 {
    font-size: 2em;
    margin: 0 0 1.5em;
    .i13m-bottom-separator();
  }
  .i13m-left-button,
  .i13m-right-button {
    display: none;
  }
}

.i13m-inlab-council {
  .bx-pager {
    .i13m-bx-pager-row(#fff, @empowering-yellow);
    bottom: 0;
  }
}

.i13m-inlab-mentors {
  .bx-pager {
    .i13m-bx-pager-row(lighten(@imagination-blue, 50%), @imagination-blue);
    bottom: 0;
  }
}

.i13m-inlab-council-cards,
.i13m-inlab-mentors-cards {
  .i13m-flex(row);
  flex-wrap: wrap;
  width: 100%;
}

.i13m-inlab-mentors-cards {
  .i13m-inlab-card {
    width: 250px;
  }
}

.i13m-inlab-card {
  margin: 0 1em;
  &:nth-child(3) {
    img {
      margin-left: -14px;
    }
  }
}

.i13m-inlab-card-header {
    width: 162px;
    height: 162px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    img {
      width: 175px;
      margin-left: -6.5px;
    }
}

.i13m-inlab-card-info {
  margin: .5em 0 0;
}

.i13m-inlab-card-name {
  font-family: bariol-bold;
}

.i13m-inlab-card-skills {
  max-width: 162px;
  margin: 0 auto 2em;
  min-height: 29px;
  height: 100%;
}

.i13m-inlab-contact-content {
  .i13m-flex(row);
}

.i13m-inlab-contact-form {
  margin-right: 1em;
  h3 {
    .i13m-center();
    margin: 0;
  }

  > span {
    .i13m-center();
    display: block;
    form {
      fieldset,
      > div {
        max-width: 76.75em;
        margin: 1.1em 0;
        input,
        select,
        textarea {
          width: 100% !important;
          box-sizing: border-box;
          padding: 0.9em 0.6em;
          background-color: #fff;
          border: 1px solid #ddd;
          -webkit-border-radius: 4px;
          border-radius: 4px;
          font-size: 1.1em;
          outline: none;
        }
        textarea {
          height: 11.5em;
        }
        input[type="submit"] {
          background-color: @imagination-blue;
          color: #fff;
          text-transform: uppercase;
          font-weight: 700;
          cursor: pointer;
          &:hover {
            background-color: @hover-dark;
          }
          -webkit-transition: background .3s ease-in-out;
          transition: background .3s ease-in-out;
        }
        > div {
          > div {
            margin-right: 8px !important;
          }
          > label {
            display: block;
            float: right;
            font-size: 1.5em;
            font-weight: 700;
            color: #f43718;
            -webkit-transform: translateX(5px);
            transform: translateX(5px);
          }
        }
        .hs_inlab_submission {
          input {
            display: none;
          }
          .i13m-inlab-sub-label {
            display: block;
            width: 100%;
            box-sizing: border-box;
            padding: 0.9em 0.6em;
            background: #fff;
            border: 1px solid #ddd;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            font-size: 1.1em;
            font-weight: 400;
            text-align: left;
            color: #9a9a9a;
            margin: 0;
          }
        }
      }
      .hs_submit {
        .actions {
          margin-right: 8px !important;
        }
      }
    }
  }
}

.i13m-innovation-board {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(25,160,221,.8);
  display: flex;
  justify-content: center;
  flex-direction: column;

  .i13m-round-control-items {
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: horizontal;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -ms-box-align: center;
    -ms-box-pack: center;
    align-items: center;
    justify-content: center;

    h5 {
      margin-bottom: 0.5em;
      font-size: 2.1em;
      color:#fff;
    }
  }
  .i13m-inlab-council-cards-history {

    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -ms-box-align: center;
    -ms-box-pack: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 78.75em;

    .i13m-inlab-card {
      width:20%;
      text-align:center;
      margin:0 auto;
    }

    .i13m-inlab-card-header {
      width: auto;
      height: auto;
      overflow: hidden;
      border-radius: 0;
      margin: 0 auto;

      img {
        width: auto;
        margin:0;
        max-width: 75%;
        border-radius: 50%;
        border:none;
      }
    }

    .i13m-inlab-card-info {
      color:#fff;
      text-align:center;
    }
  }
}

.i13m-inlab-teams {
  .i13m-content {
    padding-bottom:3em;
  }

  .i13m-btn-team {
    width:100%;
    margin:0 auto;
    cursor:pointer;
    border-bottom:1px solid #6aabcf;
    color:#fff;

    > span {
      position:relative;
      display: block;
      font-family:bariol-bold;
      font-size:1.5em;
      text-align:left;
      padding: 1em 2em;
      max-width:53.75em;

      &:after {
        color:#ffcc00;
        font-size:2em;
        content:"\003e";
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        position:absolute;
        right:20px;
        bottom:.2em;
        transition: all 0.25s ease-in-out;
      }
    }

    &.selected {
      background-color:#00557a;

      > span {
        &:after {
          -ms-transform: rotate(270deg);
          -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
          right:28px;
        }
      }
    }
  }

  .i13m-content-team {
    height:0px;
    margin:0 auto;
    overflow:hidden;
    background:#fefeff url(https://www.itmagination.com/hubfs/pictures/angular-background.png) no-repeat 0 0;
    color:#fff;

    &.open {
      height: auto;
    }

    .i13m-content-team-inner {
      max-width: 78.75em;
      margin: 0 auto;
      padding:4em 0;
      color:#4e5a62;
      display:flex;
      flex-direction: row;

      > div {
        padding:0 2em;

        h4 {
          font-size:2em;
          font-family: bariol-bold;
          font-weight: 500;
          color:#0098da;
          position:relative;

          &:first-child {
            margin-top:0;
          }

          &:after {
            content: ' ';
            display: block;
            position: absolute;
            background-color: #fc0;
            width: 2em;
            height: 3px;
            border-radius: 3px;
            bottom: -0.5em;
            left: 0;
          }
        }
      }

      .i13m-content-team-img {
        img {
          max-width:100%;
        }
      }

      .i13m-content-team-desc {
        max-width:35em;
      }
    }
  }
}

.i13m-inlab-contact {
  .i13m-services-contact-person {
    font-family: bariol-regular;
    .i13m-flex(row);
    p {
      margin: 5px 0;
    }
  }
}

.i13m-inlab-chips {
  border-radius: 50%;
  background-color: #fff;
  width: 75px;
  height: 75px;
  margin: 1em auto;
  box-shadow: 0 0 7px rgba(100, 100, 100, .4);
}

.round-iteration-front {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.i13m-round-bonus {
  margin-top: 3em;
  text-align: left;
  font-size: 1.2em;

  > div {
    text-transform: uppercase;
    font-size: 1.7em;
    width: 84%;
    text-align: center;
    margin: .5em auto;
  }
}

.i13m-round-control-items {

  h5 {
    text-align:center;
    margin-bottom: 0;

    + h5 {
      margin-top: .3em;
    }
  }

  .i13m-round-item {
    display:flex;
    flex-direction: row;
    justify-content: space-around;

    > div {
      text-align: center;
      padding:1em;
      margin:.5em;
      max-width:100px;

      span {
        font-weight: bold;
        font-size: 1.3em;
        display: block;
        margin-bottom: 0.22em;
      }
    }
  }
}
