.i13m-job-container {
  background-color: @flexible-gray;
}

.i13m-job-image {
  .i13m-standard-mask(60%);
}

.i13m-right-button,
.i13m-left-button {
  &.more {
    display: none;
  }
}

.i13m-job-post-content {
  background-color: @flexible-gray;
}

.i13m-job-background {
  height: 400px;
  color: #fff;
  > div {
    > div {
      position: absolute;
      top: 0;
      bottom: 0;

      overflow: hidden;

      & > img {
        position: absolute;
        top: 50%;
        left: 50%;

        width: auto;
        height: auto;

        max-height: none;
        max-width: none;

        min-height: 100%;
        min-width: 100%;

        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
      position: relative;
    }
  }

}

.i13m-job-header-row {
  .i13m-flex(row);
  justify-content: space-around;
  width: 100%;
  height: 400px;
  position: absolute;

}

.i13m-job-header-content {
  .i13m-flex(column);
  font-size: 2.5em;
  margin-top: 1em;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  h1 {
    font-size: 1em;
    font-weight: normal;
    margin: .1em;
    text-transform: uppercase;
    width: 100%;
  }
  span {
    font-size: 1em;
    margin: .1em;
    white-space: nowrap;
  }
  & > span:last-child {
    font-family: bariol-bold;
  }
}

.i13m-job-content {
  background-color: #f9fafb;
}

.i13m-job-refno {
  text-align: center;
  font-size: 2em;
  padding-top: 1em;
}

.i13m-job-intro {
  .i13m-center();
  p {
    font-size: 2em;
    line-height: 1.2em;
  }
}

.i13m-job-details {
  box-sizing: border-box;
  .i13m-center();
  .i13m-flex(row);
  justify-content: space-between;
}

.i13m-job-left-column {
  width: 65%;
  text-align: left;
  p {
    font-size: 2em;
    text-transform: uppercase;
    font-family: bariol-bold;
    margin: 2em 0 0.5em;
  }
  ul {
    list-style: none;
    padding:0;
    margin:0;
    font-size: 1.2em;
  }

  li {
    padding-left: 1em;
    text-indent: -9px;
    max-width: 70%;
  }

  li:before {
    content: "• ";
    color: @imagination-blue;
  }
}
.i13m-job-right-column {
  width: 35%;
  > .i13m-job-apply {
    margin-top: 3.077em;
  }
  > .i13m-job-recommend {
    margin: 1em 0;
  }
}

.i13m-job-team {
  position: relative;
  border-radius: 4px;
  & > img {
    width: 100%;
    border-radius: 4px;
  }
}

.i13m-job-team-link {
  position: absolute;
  color: #fff;
  text-align: center;
  left: 12.5%;
  bottom: 10%;
  width: 75%;
  display: block;
  font-size: 1.8em;
  border: 1px solid #fff;
  border-radius: 4px;
  line-height: 1.8em;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

.i13m-job-referral {
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 2em;
  &:visited {
    color: @imagination-blue;
  }
}

.i13m-job-buttons {
  box-sizing: border-box;
  .i13m-center();
  margin: 2em auto;
  .i13m-flex(row);
}

.i13m-job-button-column {
  width: 50%;
  > div {
    padding: 0 .5em;
  }
}

.i13m-job-apply,
.i13m-job-recommend {
  .i13m-horizontal-button();
  width: 100%;
  clear: both;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  padding: .7em 0;
}

.i13m-linkedin-btn {
  max-width: 76.85em;
  margin: 0 auto;
  padding-left: .9375em;
  padding-right: .9375em;

  span {
    .i13m-horizontal-button();
    font-family: bariol-regular;
    width: 100%;
    clear: both;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    font-weight:700;
    padding: .9em .6em;
    border: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 1.1em;
    background-color: @imagination-blue;
    color: #fff;
    &:hover {
      .i13m-button-hover();
    }
  }
}

.i13m-job-apply {
  background-color: @imagination-blue;
  border: 1px solid @imagination-blue;
  color: #fff;
  &:hover {
    .i13m-button-hover();
  }
}

.i13m-job-recommend, .i13m-job-read-more {
  background-color: #fff;
  border: 1px solid lightgray;
  &:hover {
    .i13m-button-hover();
  }
}

.i13m-job-read-more {
  margin-top:0.5em;
  color: #4e5a62;
  text-decoration: none;
  outline: 0;
  border-radius: 4px;
  font-size: 1.3em;
  font-family: bariol-bold;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  display: block;
  cursor: pointer;
  text-transform: uppercase;
  padding: .7em 0;
  width: 100%;
  text-align: center;
  clear: both;
}

.i13m-job-more {
  .i13m-center();
  padding: 1em .9375em;
  clear:both;
  position: relative;
  text-align: center;
  p {
      color: @imagination-blue;
      font-weight: normal;
      font-size: 3em;
      margin: 1.5em 0 .5em;
  }
}

.i13m-job-more-container {
  .i13m-flex(row);
  justify-content: space-around;
  width: 848px;
  margin: 0 auto;
}

.i13m-careers-latest-button-container {
  padding: 2.5em 0;
  margin: 0 0 2em;
  a {
    border: 1px solid lightgray;
  }
}

.i13m-job-apply-close,
.i13m-job-recommend-close {
  .i13m-modal-close();
  &:before {
    color: #ccc;
  }
}

.i13m-job-recommend-form {
  &.individual {
    position: relative !important;
  }
  > span {
    &:last-of-type {
      margin-top: -3em;
      fieldset:nth-last-child(3),
      fieldset:nth-last-child(4),
      fieldset:nth-last-child(5),
      fieldset:nth-last-child(6),
      fieldset:nth-last-child(7) {
        margin: 0;
      }
    }
  }
}

.widget-type-custom_widget {
  .absolute {
    .i13m-footer {
      position: absolute;
    }
  }
}

.i13m-job-apply-form,
.i13m-job-recommend-form {
  .i13m-job-apply-close,
  .i13m-job-recommend-close {
    &:after {
      margin-left: -0.27em;
    }
    &:before,
    &:after {
      color: #ccc;
    }
  }
  background-color: #f9fafb;
  h3, h4 {
    .i13m-center();
    margin: 2.5em auto 2em;
    font-size: 1.7em;
    color: #858586;
    font-weight: 400;
    font-family: bariol-light;
  }

  h4 {
    font-size: 1.2em;
    margin-bottom:.8em;
  }

  #hs_cos_wrapper_ITMAGINATION_Job_post_template_EN_job_offer_en,
  #hs_cos_wrapper_ITMAGINATION_Job_post_template_PL_job_offer_pl {
    fieldset:nth-last-child(3),
    fieldset:nth-last-child(4),
    fieldset:nth-last-child(5),
    fieldset:nth-last-child(6) {
      margin: 0;
    }
  }

  #hs_form_target_ITMAGINATION_Job_post_template_EN_refer_referrer_en,
  #hs_form_target_ITMAGINATION_Job_post_template_PL_refer_referrer_pl {
    form {
      > div {
        display: none;
      }
    }
  }

  #hs_cos_wrapper_ITMAGINATION_Job_post_template_EN_refer_lead_en,
  #hs_cos_wrapper_ITMAGINATION_Job_post_template_PL_refer_lead_pl {
    margin-top: -3em;
    fieldset:nth-last-child(3),
    fieldset:nth-last-child(4),
    fieldset:nth-last-child(5),
    fieldset:nth-last-child(6),
    fieldset:nth-last-child(7) {
      margin: 0;
    }
  }

  > span {
    .i13m-center();
    display: block;
    form {
      // fieldset {
      // margin-left: 24px !important;
      //   > div:last-child {
      //     > div {
      //       margin-right: 24px !important;
      //     }
      //   }
      // }
      fieldset {
        margin-right: -8px;
        > div {
          &:not(:last-child) {
            label {
              display: none;
            }
          }
        }
      }
      fieldset,
      > div {
        max-width: 76.75em;
        margin: 1.1em 0;
        input,
        select,
        textarea {
          width: 100% !important;
          box-sizing: border-box;
          padding: 0.9em 0.6em;
          background-color: #fff;
          border: 1px solid #ddd;
          -webkit-border-radius: 4px;
          border-radius: 4px;
          font-size: 1.1em;
          outline: none;
        }
        textarea {
          height: 7em;
        }
        input[type="submit"] {
          background-color: @imagination-blue;
          color: #fff;
          text-transform: uppercase;
          font-weight: 700;
          cursor: pointer;
          transition: all .4s ease-in-out;
          -webkit-transition: all .4s ease-in-out;

          &:hover {
            -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            .i13m-button-hover();
          }
        }
        > div {
          > label {
            display: block;
            float: right;
            font-size: 1.5em;
            font-weight: 700;
            color: #f43718;
            -webkit-transform: translateX(5px);
            transform: translateX(5px);
          }
          // &:not(:last-of-type) {
          //   label {
          //     display: none !important;
          //   }
          // }
        }
        .hs_firstname {
          label {
            display: none;
          }
        }
        // .hs_linkedin_profile {
        //   display: block !important;
        //   label {
        //     text-indent: -9999px;
        //     &:after {
        //       content: '*';
        //       display: block;
        //       float: right;
        //       font-weight: 700;
        //       color: #f43718;
        //       text-indent: 0;
        //       font-size: 1.5em;
        //     }
        //   }
        // }
        .hs_cv {
          input {
            display: none;
          }
          .i13m-jobs-cv-label {
            display: block;
            width: 100%;
            box-sizing: border-box;
            padding: 0.9em 0.6em;
            background: #fff;
            border: 1px solid #ddd;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            font-size: 1.1em;
            font-weight: 400;
            text-align: left;
            color: #9a9a9a;
            margin: 0;
          }
        }
      }
      // .hs_submit {
      //   .actions {
      //     margin-right: 24px;
      //     margin-left: 24px;
      //   }
      // }
    }
  }

  .hs-form-booleancheckbox {
    text-align:left;

    input[type="checkbox"] {
      width:auto !important;
    }
  }
}

.i13m-job-success_msg {
  .i13m-flex(row);
}

.i13m-job-success-content {
  .i13m-flex(column);
  background-color: #f9fafb;
  padding: 2em;
  font-size: 2em;
}

.i13m-job-success-dismiss {
  .i13m-horizontal-button();
  background-color: #fff;
  border: 1px solid @hover-dark;
  font-size: 0.65em;
  text-transform: uppercase;
}
