@baseBlue: #0098da;
@baseYellow: #ffcc00;

.i13m-navi {display: none;}


.ju-header {
    background: @baseBlue url(https://cdn2.hubspot.net/hubfs/2422193/landingPages/joinus/joinus_bg.jpg) no-repeat top center;    
    height:500px;
    .ju-logo {
        width:150px;
        margin-left:.7em;
    }    
    .verticals,.ju-headlines {
        display: flex;                
    }
    .ju-headlines {
        margin-top:8em;
        margin-left:0.5em;
    }    
    .verticals div {        
        width:5px;
        height:9.5em;
        border-radius:5px;
        background: @baseYellow;
        margin: 1.5em 0.5em 0 0;
    }
    .verticals .first {
        background-color: #10567a;
    }
    h2 {
        width:820px;
        color:white;
        font-size:5em;
        font-weight:normal;
        margin:0.1em 0;
    }

    @media (max-width:500px) {
         .verticals div {display:none;}
         h2 {
            font-size:4.5em;
            margin-top:-1em;
         }
    }
        
    @media (max-width:820px){
        h2 {
            width:auto;
        }
    }
    @media (max-width:360px) {
         
    }
}
.ju-row {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.ju-container {
    margin: 3em auto;
    max-width:820px;
    // border:1px solid #dddddd;    
}
.ju-content {
    p {
        font-size: 1.5em;
    }
    h2 {
    font-size: 3.5em;
    margin: 0;    
    padding: 0.2em 0;
    font-weight: 400;
    color: @baseBlue;
    }
ul {
    list-style: none;
    margin:0;
    padding:0;
    li {float:left;}
    }
    
    .ju-slide-desc {        
        background-color:#ECF0F1;
        color: #4e5a62;
        margin-top:-2px;
        height: 2em;
        padding: .5em .5em 1.5em .5em;
        text-align: left;
        position: relative;
        .role {
            font-size:.8em;
        }
        .ju-hover {
            position: absolute;
            top:-225px;           
            left:0;            
            z-index:98;
            display:block;
            width:180px;
            height:225px;            
            cursor:pointer;
            opacity:0.1;
            transition: opacity 0.3s;
            -webkit-transition: opacity 0.3s;
            background: linear-gradient(to bottom, rgba(0,152,218,0) 50%, rgba(0,152,218,1) 95%);
            
            
            // background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0.82) 63%, rgba(0,153,218,0.71) 100%);
            
        }        
        .ju-hover:hover {                        
            opacity: 1;
        }
        .ju-divider {
            position:absolute;
            border-radius:4px;
            z-index: 99;
            top: -5px;
            right:-3px;
            display: block;
            width:80px;
            height:6px;
            background-color: @baseYellow;
        }
    }
   
}

.left {
    text-align: left;
}
.center {
    text-align: center;
}
.i13m-left-button, .i13m-right-button {
    top:30%;
}

.ju-header {
     background: @baseBlue url(https://cdn2.hubspot.net/hubfs/2422193/landingPages/joinus/joinus_bg.jpg) no-repeat top center;    
     height:500px;
}

.i13m-careers-latest-carousel {
    position: relative;
    display: flex;
    justify-content: center;
}
