.i13m-joinus-main {
  .i13m-content {
    flex-direction: row;
    justify-content: flex-start;
  }
  h1 {
    text-align: left;
    font-size: 5em;
    padding: 0.5em;
    box-sizing: border-box;
    font-weight:normal;
    span {
      color: @imagination-blue;
      font-weight:bold;

      b {
        color:@empowering-yellow;
      }
    }
  }

  @media screen and (min-width: 64em) {
    h1 {
      font-size: 5.8em;
      padding: 1.5em;
    }
  }
}

.i13m-joinus-culture {

  .i13m-page-header {
    padding:2em;
  }

  color: #fff;
  h2 {
    margin:2em 0 0 0;
    color:@empowering-yellow;
    font-size: 3.7em;
  }

  @media screen and (min-width: 64em) {
    h2 {
      padding-bottom: .65em;
      margin:2em 0 .65em 0;
    }
  }
  .i13m-content {
    .i13m-flex(column);

    .i13m-text {
      .i13m-flex(column);
      text-align: center;
      margin: 2rem 3rem;

      h3 {
        margin: 0 7.5vw;
        font-size: 3em;
        font-family: bariol-bold;
        .i13m-bottom-separator();
        padding-bottom:.35em;
      }

      p {
        font-size: 1.5em;
      }

      .author {
        margin-top:0;

        b {
          display:block;
        }
      }
    }

    @media screen and (min-width: 64em) {

      .i13m-content {
        margin-top:6rem;

        .i13m-text {
          width: 25%;
        }
      }
    }
  }
}

.i13m-joinus-job-offers {
  h2 {
    margin:2em 0 0 0;
    color:#0098da;
    font-size: 3.7em;
  }

  @media screen and (min-width: 64em) {
    .i13m-see-more-offers {
      width: calc(~"75% + 12rem");
      //width:calc(75% + 12rem);
      //width: calc(~"25% - 16px");
    }

    h2 {
      padding-bottom: .65em;
      margin:2em 0 .65em 0;
    }
  }
  .i13m-content {
    padding-top:0;
    flex-wrap:wrap;

    .i13m-flex(column);

    .i13m-text {
      .i13m-flex(column);
      text-align: center;
      margin: 2rem 3rem;
      width: 80%;

      h3 {
        margin: 0 7.5vw;
        font-size: 3em;
        font-family: bariol-bold;
        .i13m-bottom-separator();
        padding-bottom:.35em;
        color:#0098da;
      }

      > ul {
        font-size: 1.5em;
        color:#4e5a62;
        text-align:left;
      }
    }
  }

  @media screen and (min-width: 64em) {

    .i13m-text {
      width: 25%;

      > ul {
        min-height:230px;
      }
    }
  }

  @media screen and (min-width: 90em) {
    .i13m-content .i13m-text > ul {
      min-height:160px;
    }
  }

  .i13m-text div.i13m-job-apply-form {
    font-size: 14px;
    right: 0;
    left: 0;
    max-width: none;

    h3 {
      width: 100%;
      max-width: 78.75em;
      clear: both;
      padding-left: .9375em;
      padding-right: .9375em;
      text-align: center;
      box-sizing: border-box;
      margin: 4em auto 0;
      font-size: 1.7em;
      color: #858586;
      font-weight: 400;
      font-family: bariol-light;

      &:after {
        display:none;
      }
    }

    h4 {
      margin-top:0;
      margin-bottom:2em;
    }

    .form-title {
      display:none;
    }

    > span form fieldset .hs_cv input {
        display:block;
    }

    .i13m-linkedin-btn {
        max-width: 76.85em;
        margin: 0 auto;
        padding-left: .9375em;
        padding-right: .9375em;
    }
  }

  @media screen and (min-width: 64em) and (min-height: 64em) {
    .i13m-text div.i13m-job-apply-form {
        h3 {
          margin-top:2.5em
        }

        h4 {
          margin-top:2.5em;
        }
    }
  }

  .i13m-text {
    div {
      font-size: 14px;
      text-align: center;
      line-height: 1;
      max-width: none;
    }
  }

  fieldset[data-reactid='.hbspt-forms-0.0:$6'], fieldset[data-reactid='.hbspt-forms-0.0:$7'],
  fieldset[data-reactid='.hbspt-forms-0.0:$8'], fieldset[data-reactid='.hbspt-forms-0.0:$9'],
  fieldset[data-reactid='.hbspt-forms-0.0:$10'], fieldset[data-reactid='.hbspt-forms-0.0:$11'],
  fieldset[data-reactid='.hbspt-forms-1.0:$6'], fieldset[data-reactid='.hbspt-forms-1.0:$7'],
  fieldset[data-reactid='.hbspt-forms-1.0:$8'], fieldset[data-reactid='.hbspt-forms-1.0:$9'],
  fieldset[data-reactid='.hbspt-forms-1.0:$10'], fieldset[data-reactid='.hbspt-forms-1.0:$11'],
  fieldset[data-reactid='.hbspt-forms-2.0:$6'], fieldset[data-reactid='.hbspt-forms-2.0:$7'],
  fieldset[data-reactid='.hbspt-forms-2.0:$8'], fieldset[data-reactid='.hbspt-forms-2.0:$9'],
  fieldset[data-reactid='.hbspt-forms-2.0:$10'], fieldset[data-reactid='.hbspt-forms-2.0:$11']
  {
    margin:0;
  }
}

.i13m-joinus-culture, .i13m-joinus-job-offers  {
  @media screen and (max-width: 64em) {
    &.fp-section {
        height: auto !important;
    }

    .fp-slide, .fp-tableCell{
        height: auto !important;
    }
  }

  @media screen and (max-height: 1100px) {
    &.fp-section {
        min-height: 800px !important;
    }

    .fp-slide, .fp-tableCell{
        min-height: 800px !important;
    }

    h4 {
      margin-top:0;
    }
  }
}

.i13m-see-more-offers {
  width:80%;
  background-color: #2c3e50;
  border: 1px solid transparent;
}

@media screen and (min-width: 64em) {
  .i13m-joinus-culture, .i13m-joinus-job-offers  {

    .i13m-content {
      .i13m-flex(row);

      .i13m-text {
        width: 25%;
        justify-content: normal;
        min-height: 21em;
      }
    }

    .i13m-see-more-offers {
      width: calc(~"75% + 12rem");
      //width:88%;
      margin-top:2.5rem;
    }
  }
}

iframe[name='google_conversion_frame'] {
    height: 0 !important;
    width: 0 !important;
    line-height: 0 !important;
    font-size: 0 !important;
    margin-top: -13px;
    float: left;
}

.empty-logo {
  .i13m-hamburger {
    display:none !important;
  }
}
