@baseBlue: #0098da;
@baseYellow: #ffcc00;


.ju-header {
       
    height:500px;    
    .ju-logo {
        width:150px;
    }       
    .ju-headlines {
        margin-top:16em;
    }
    h2,h3 {  
        width:820px;      
        color:white;
        font-size:5em;
        font-weight:normal;
        margin:0.1em 0;
    }
    h3 {
       font-size:4.5em;
       font-family: bariol-light; 
    }
    @media (max-width:820px){
        .ju-headlines {
            margin-top: 8em;
        }
        h2,h3 {
            width:auto;
        }
    }
     @media (max-width:550px){
        .ju-headlines {
            margin-top: 8em;
        }
        h2,h3 {
            width:auto;
            padding-left:0.2em;
        }
    }
}
article {
    padding: 0 0.5em;
}
.ju-row {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.ju-container {
    margin: 3em auto;
    max-width:820px;
    position: relative;   
    // border:1px solid #dddddd;    
}
@media(max-width:600px) {
    .ju-container {
        flex-direction:column;
    }
    a.goback {
        display:none;
    }
}
.ju-sidebar {
    width:200px;   
    height:auto;    
    margin-top:-5em;
    position: absolute;
    z-index:99;
}
.more-stories {
    position: relative;
}
.more-stories-menu-mobile {
    position: absolute;
    width: 100%;
    margin:auto;    
    padding-left:0.5em;
    opacity: 0.95;
    z-index:100;
    background: @baseBlue;   
    color: white;
    font-size:1.6em;
    h3 {
        margin: 0.5em 0 0 0;
    }
    
    a {
        text-decoration: none;
        color: white;
    }
    .ju-desc-m {        
        width:100%;
        border-radius:0;
        margin:0;        
        padding: 0.5em 0;
        
    }
}
.personImg {
    height:226px;
    width:180px;
}
.ju-desc {        
        background-color:#ECF0F1;
        border-radius:5px;
        color: #4e5a62;
        margin-top:-2px;
        margin-bottom:1em;
        height: auto;
        width:164px;
        padding: 8px;
        text-align: left;
        position: relative;
        font-size:1.2em;        
        .role {
            font-size:.8em;
            font-family: Bariol Light;
            font-weight:bolder;
        }
      
}
      .ju-divider {          
            margin-left:110px;
            margin-bottom:0.2em;
            border-radius:5px;
            display: block;
            width:80px;
            height:6px;
            z-index:99;
            position: absolute;
            top:-2px;
            right:-5px;
    
            background-color: @baseYellow;
        }
.toChange {
    cursor: pointer;
}
a.personUrl {
    text-decoration:none;
}
.ju-content {
    width:72%;
    margin-left:28%;

    p {
        font-size: 1.3em;
    }
    h2 {
    font-size: 3.5em;
    margin: 0;    
    padding: 0.2em 0;
    font-weight: 400;
    color: @baseBlue;
    }
  
}
.ju-questions {
    color:#fff;
    background: #0098da;
    padding: 2.5em;
    margin-top: -6em;
    border-radius:5px;
    width:64%;
    margin-left:28%;

    p {font-size:1.3em;}
    
    h2 {
        font-size:3.5em;
        font-family: bariol-light; 
    }

}
.blue-bg {
    background: url(https://cdn2.hubspot.net/hubfs/2422193/pictures/success-stories.jpg) no-repeat;
    background-size: cover;
}
.left {
    text-align: left;
}
.center {
    text-align: center;
}
.i13m-left-button, .i13m-right-button {
    top:30%;
}
.goback {
    position: absolute;
    right:0;
    top:-60px;
    border-radius:5px;
    text-align:center;
    line-height:37px;
    display:block;
    background: #fff;
    color: @baseBlue;
    width:157px;
    height:37px;
    text-decoration: none;
    font-size:1.5em;
    font-weight:bold;
    .fa-arrow-left {
       
    }
}
 .more-stories-menu-bottom {
        display:none;
}
@media (max-width:384px) {
    .ju-header .ju-headlines {
        margin-top: 3em;
        }
    }


@media (max-width:768px) {
    
    
    .personImg {
            position: absolute;
            left: 2%;
            top: -12em;
    }
    .ju-sidebar {
        position: static;
        width:100%;
        text-align:center;
        margin: auto;
    }
    .ju-sidebar {
        .ju-desc {
            margin-left:13em;
            margin-top:0.4em;
            max-width:140px;
        }
        .ju-divider {
            left: -300px;
            top:63px;
        }
    }
    
    .hamburger {
        display:block;        
    }
    .more-stories-menu, .more-stories {
        display:none;
    }
    
    .ju-desc {
        width:auto;
        margin: 1em auto;
    }
    .ju-content, {
        width:95%;
        margin:auto;
        padding-top:1em;
    }
    .ju-questions {
        width:90%;
        margin:auto;
    }
    .blue-bg {
        background: none;
    }
    .more-stories-menu-bottom {
        display:block;
        margin-top:2em;
        
        .ju-desc {       
        text-align: center;
        margin: 1em auto;
    }
    }
    .more-stories-bottom h3 {
        text-align: center;
        font-size:1.5em;
    }
    .more-stories-bottom h3:after {
        content: '';        
        display: block;
        margin:auto;
        width: 100px;
        height: 6px;
        border-radius:5px;
        background: #ffcc00;
    }
}

@media (max-width:340px) {
    .ju-sidebar {
        .ju-desc {
            margin-top:-1.6em;
        }
        .ju-divider {
            top:94px;
        }
    }
    .ju-content {
        padding-top: 2em;
    }
}