
@media screen and (max-width: 1024px) {

  .i13m-content {
    position: relative !important;
    padding: 3em 0 !important;
  }

  #i13m-header {
    position: fixed !important;
  }

  .i13m-logo-container {
    z-index: 1111;
    background: #fff;
    position: relative;
    width: 100% !important;
    > span {
      .i13m-flex(row);
      justify-content: space-between;
    }
  }
  .i13m-career-back-home {
    padding: 4px;
    svg {
      width: 24px;
      height: 24px;
    }
  }
  .i13m-careers-logo {
    margin-left: 2.5em;
  }
  .i13m-hamburger {
    display: block !important;
    margin-right: 20px;
    width: 40px;
    height: 25px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    cursor: pointer;

    span {
      display: block;
      position: absolute;
      height: 7px !important;
      width: 100%;
      background-color: @honest-gray;
      border-radius: 8px;
      opacity: 1;
      left: 0;
      -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2),
      &:nth-child(3) {
        top: 50%;
      }

      &:nth-child(4) {
        top: 100%;
      }

    }
    &.open {
      span {
        &:nth-child(1),
        &:nth-child(4) {
          -webkit-transform: scale3d(0, 0, 0);
          transform: scale3d(0, 0, 0);
          opacity: 0;
        }

        &:nth-child(2) {
          -webkit-transform: rotateZ(45deg) rotateX(360deg);
          transform: rotateZ(45deg) rotateX(360deg);
          width: 100%;
        }

        &:nth-child(3) {
          -webkit-transform: rotateZ(-45deg) rotateX(360deg);
          transform: rotateZ(-45deg) rotateX(360deg);
          width: 100%;
        }
      }
    }
  }
  .i13m-menu-container {
    overflow-y: scroll;
    margin-top: -100vh;
    z-index: 99;
    width: 100% !important;
    margin-left: 0 !important;
    height: calc(~"100vh - 72px") !important;
    > span {
      width: 100%;
      > div {
        width: 100%;
        background-color: fade(@imagination-blue, 85%);
        font-size: 2em;
        text-align: center;
        &:last-child {
          .i13m-flex(row);
        }
      }
    }
  }

  .nav-btn,
  .language-btn {
    width: 100%;
    color: #fff !important;
  }
  .language-btn {
    margin: 0 !important;
  }

  .i13m-services-menu,
  .i13m-innovations-menu {
    position: relative;
    font-size: 0.7em;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    a {
      text-transform: capitalize;
      width: 100% !important;
      color: darken(#fff, 15%);
      background-color: transparent;
      box-sizing: border-box;
    }
  }

  .i13m-white-separator,
  .i13m-blue-separator {
    padding: .4em;
    box-sizing: border-box;
    p,
    .desktop {
      display: none;
    }
    .mobile {
      display: inline-block !important;
      width: 100%;
      margin: 0;
    }
  }

  .i13m-home-portfolio {
    .i13m-content {
      padding: 9em 0 3em !important
    }
    .i13m-text {
      width: 80%;
      top: 1em !important;
    }
    .bx-pager {
      .i13m-flex(row);
      position: absolute;
      width: 100%;
      bottom: 2em;
      left: 0;
      .bx-pager-item {
        margin: 2em 1em;
        text-align: center;
        width: 4px;
        a {
          color: transparent;
          position: relative;
          &:before {
            content: '\f111';
            position: absolute;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            font-family: FontAwesome;
            color: #fff;
            -webkit-transition: color 0.3s ease-in-out;
            transition: color 0.3s ease-in-out;
            width: 2em;
          }
          &.active {
            &:before {
              color: @empowering-yellow;
            }
          }
        }
      }
    }
  }
  .i13m-home-portfolio-container2 {
    padding: 0 !important;
    display: block;
    > li {
      height: 400px !important;
      background-size: cover !important;
    }
  }

  .i13m-home-portfolio-modal {
    > div {
      overflow-y: scroll;
    }
    * :not(a) {
      display: inline-block !important;
      min-height: 1em;
    }
    .i13m-project-description {
      > div:nth-last-child(2) {
        > div {
          width: 85% !important;
        }
      }
    }
  }

  .i13m-home-testimonials {
    .bx-controls {
      margin-top: 1em;
    }
    .bx-pager {
      .i13m-flex(row);
      position: relative;
      width: 100%;
      bottom: 1em;
      left: 0;
      .bx-pager-item {
        margin: 1em 1em;
        text-align: center;
        width: 4px;
        a {
          color: transparent;
          position: relative;
          &:before {
            content: '\f111';
            position: absolute;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            font-family: FontAwesome;
            color: lighten(@imagination-blue, 20%);
            -webkit-transition: color 0.3s ease-in-out;
            transition: color 0.3s ease-in-out;
            width: 2em;
          }
          &.active {
            &:before {
              color: @imagination-blue;
            }
          }
        }
      }
    }
  }
  .i13m-home-testimonial {
    width: 90% !important;
  }
  .i13m-home-testimonial-text {
    height: 18em !important;
    &:before {
      display: none;
    }
    border-left: 1px solid #ecf0f1 !important;
  }
  .i13m-home-testimonial-person {
    margin: 1em 0 .3em !important;
  }
  .i13m-home-testimonial-post {
    height: 32px;
    .i13m-flex(row);
    text-align: center;
  }
  .i13m-home-testimonial-company {
    height: 36px;
    .i13m-flex(row);
    text-align: center;
  }

  .i13m-home-updates {
    .i13m-update-summary {
      max-height: 2.4em !important;
    }
    .i13m-left-button,
    .i13m-right-button {
      &.pagination {
        display: block !important;
        top: 33% !important;
        background-color: fade(@flexible-gray, 50%);
        &:hover {
          background-color: fade(@flexible-gray, 80%);
        }
      }
    }
  }

  .i13m-updates-grid {
    height: auto !important;
  }

  #i13m-map {
    display: none !important;
  }

  #i13m-contact-main-background,
  .i13m-contact-main-background-container {
    background-image: none !important;
    display: none !important;
    background-color: transparent !important;
  }

  .i13m-home-contact-form {
    width: 100%;
    > span {
      .i13m-center();
      display: block;
      form {
        fieldset {
          &.form-columns-3 {
            .hs-form-field {
              width: 100% !important;
              margin: 1.1em 0 !important;
              &:last-child {
                margin: 1.1em 0 0 !important;
              }
            }
          }
        }
      }
    }
  }

  .i13m-contact-offices-mobile {
    background-color: @imagination-blue;
    z-index: 2;
    width: 100%;
    height: 100%;
    .i13m-flex(row);
    display: flex !important;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    color: #fff;
    padding: 8em 0 2em;
    font-size: .85em !important;
    div {
      margin: .6em 0;
    }
    p {
      margin: .6em 0;
    }
    a {
      text-decoration: none !important;
      color: #fff !important;
    }
  }

  #i13m-contact-main-container {
    height: 500px !important;
    .i13m-page-header {
      position: absolute !important;
      display: block !important;
      color: #fff;
      z-index: 999;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  .i13m-booster-body {
    .grid-item {
      width: 100%;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }

  .i13m-home-contact {
    .i13m-page-header {
      background-color: #fff !important;
      h3 {
        color: @honest-gray !important;
      }
      h4 {
        color: @imagination-blue !important;
        &.mobile {
          display: block !important;
        }
        &:not(.mobile) {
          display: none !important;
        }
      }
    }
    .i13m-content {
      justify-content: center !important;
    }
  }

  .i13m-home-map {
    height: 0 !important;
  }

  .i13m-left-button.technologies,
  .i13m-right-button.technologies {
    display: none !important;
  }

  .i13m-main-text {
    font-size: 5em;
    .i13m-flex(column);
    display: flex !important;
    align-items: flex-start;
    p {
      margin: 0;
      &:last-child {
        color: @imagination-blue;
      }
    }
  }
  .blog-section {
    max-width: 39.55em !important;
  }
  .i13m-about-main-text {
    font-size: .6em !important;
  }
  .bxslider-story {
    font-size: .67em !important;
    li {
      height: 520px !important;
    }
  }
  .i13m-about-story {
    .bx-pager {
      bottom: .5em !important;
      margin-top: -2em !important;
    }
    .i13m-content {
      height: 671px !important;
    }
  }
  .i13m-about-board {
    .i13m-container {
      height: 600px !important;
      overflow: hidden;
    }
  }
  .i13m-about-board-board {
    margin-top: 0 !important;
  }
  .i13m-about-board-bottom,
  .i13m-about-board-top {
    flex-direction: column !important;
    margin: 0 !important;
    > div {
      .i13m-flex(row);
      margin: .3em 4em !important;
    }
  }
  .i13m-about-board-header {
    img {
      width: 100px !important;
    }
  }
  .i13m-about-board-info {
    margin-left: 1em !important;
    text-align: left !important;
  }
  .i13m-home-board-modal-content {
    font-size: .7em !important;
    > div,
    > h6,
    > h5 {
      // max-width: 8em !important;
      line-height: 1.5 !important;
    }
  }
  .i13m-home-board-modal {
    overflow-y: scroll;
  }

  .i13m-about-awards-awards {
    img {
      margin: 0 !important;
      width: 175px;
    }
  }
  .i13m-about-awards {
    .bx-controls {
      margin-top: 1em;
    }
    .bx-pager {
      .i13m-flex(row);
      position: relative;
      width: 100%;
      bottom: 0;
      left: 0;
      .bx-pager-item {
        margin: 1em 1em;
        width: 4px;
        a {
          text-align: center;
          color: transparent;
          position: relative;
          &:before {
            content: '\f111';
            position: absolute;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            font-family: FontAwesome;
            color: lighten(@imagination-blue, 20%);
            -webkit-transition: color 0.3s ease-in-out;
            transition: color 0.3s ease-in-out;
            width: 2em;
          }
          &.active {
            &:before {
              color: @imagination-blue;
            }
          }
        }
      }
    }
  }
  .bxslider-values {
    font-size: .8em !important;
    li {
      padding: 9em 1em !important;
      box-sizing: border-box !important;
    }
  }
  .i13m-about-values-carousel {
    position: static !important;
  }
  .i13m-about-vision {
    .i13m-background {
      img {
        right: 0 !important;
        left: auto !important;
        -webkit-transform: translate(30%,-50%) !important;
        transform: translate(30%,-50%) !important;
      }
    }
  }
  .i13m-about-press {
    .i13m-content {
      > div {
        &:first-child {
          z-index: 2 !important;
          padding: 1em !important;
        }
        &:last-child {
          left: 0;
          position: absolute !important;
          opacity: .3 !important;
        }
      }
    }
  }
  .i13m-about-resources {
    font-size: .8em;
    .i13m-content {
      > div {
        &:first-child {
          width: 100% !important;
          padding: 1em !important;
          * {
            width: 100% !important;
            box-sizing: border-box;
          }
        }
        &:last-child {
          display: none !important;
        }
      }
    }
  }

  .i13m-contact-contact {
    .i13m-page-header {
      padding: 0 1em !important;
    }
    .i13m-content {
      justify-content: flex-start;
    }
  }
  .i13m-contact-info-container {
    flex-direction: column-reverse !important;
    > section {
      width: 100% !important;
      &:first-child {
        padding: 2em 0 0 !important;
        // display: none !important;
      }
      &:last-child {
        padding: 0 !important;
        width: 100% !important;
        // .i13m-contact-modal-open {
        //   display: inline-block !important;
        //   margin-top: 1em;
        // }
        h2 {
          margin: 1em 0 !important;
        }
        p {
          margin: 0 !important;
          &:last-of-type {
            display: none !important;
          }
        }
      }
    }
  }
  .i13m-contact-contact-modal {
    background-color: rgba(255, 255, 255, 0.9);
    .i13m-contact-form {
      width: 100% !important;
      padding: 0 !important;
      overflow-y: scroll !important;
    }
    .i13m-modal-close {
      font-size: 1em;
      &:before,
      &:after {
        color: @imagination-blue;
      }
    }
  }
  .i13m-contact-modal-open {
    .i13m-horizontal-button();
    background-color: @imagination-blue;
    color: #fff;
  }

  .i13m-about-awards {
    .awards {
      display: block !important;
    }
  }

  .i13m-tagetik-main {
    .i13m-content {
      font-size: .5em !important;
      padding: 18em 0 !important;
      h2 {
        margin-bottom: 5em !important;
      }
    }
  }

  .i13m-tagetik-processes {
    .i13m-content {
      font-size: 1.2em !important;
      padding: 0 1em !important;
      .process {
        display: block !important;
      }
    }
  }

  .i13m-tagetik-gauges {
    display: block !important;
    > div {
      margin: 0 !important;
      height: 300px;
    }
    .i13m-text {
      p {
        margin: .75em auto !important;
      }
    }
  }

  .i13m-left-button,
  .i13m-right-button {
    &.process {
      -webkit-transform: translateY(150%);
      transform: translateY(150%);
    }
  }

  .i13m-tagetik-processes {
    .bx-wrapper {
      margin-top: -6em !important;
    }
    .bx-pager {
      .i13m-flex(row);
      width: 100%;
      bottom: 4em;
      left: 0;
      .bx-pager-item {
        margin: 2em 1em;
        a {
          color: transparent;
          text-align: center;
          position: relative;
          &:before {
            content: '\f111';
            position: absolute;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            font-family: FontAwesome;
            color: #fff;
            -webkit-transition: color 0.3s ease-in-out;
            transition: color 0.3s ease-in-out;
            width: 2em;
          }
          &.active {
            &:before {
              color: @empowering-yellow;
            }
          }
        }
      }
    }
  }

  .i13m-tagetik-management-texts {
    font-size: 1.5em !important;
  }

  .i13m-tagetik-management {
    .i13m-content,
    .i13m-separator {
      font-size: 1.25em;
    }
    .i13m-text {
      top: 0 !important;
      -webkit-transform: translate(-50%, 50%) !important;
      transform: translate(-50%, 50%) !important;
      font-size: 1.5em !important;
    }
    .i13m-page-header {
      h3 {
        padding: 3em 0 0 !important;
      }
    }
    .bx-viewport {
      margin: 9em 0 3em !important;
    }
    .bx-pager {
      .i13m-flex(row);
      position: absolute;
      width: 100%;
      bottom: 4em;
      left: 0;
      .bx-pager-item {
        margin: 2em 1em;
        a {
          color: transparent;
          position: relative;
          text-align: center;
          &:before {
            content: '\f111';
            position: absolute;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            font-family: FontAwesome;
            color: #fff;
            -webkit-transition: color 0.3s ease-in-out;
            transition: color 0.3s ease-in-out;
            width: 2em;
          }
          &.active {
            &:before {
              color: @empowering-yellow;
            }
          }
        }
      }
    }
  }

  .i13m-tagetik-management-animation {
    display: none !important;
  }

  .i13m-tagetik-management-animation-mobile {
    display: block !important;
  }

  .i13m-tagetik-benefits {
    .i13m-left-button,
    .i13m-right-button {
      .benefit {
        display: block !important;
      }
    }
    .i13m-page-header {
      padding: 1em 0 0;
    }
    .i13m-text {
      top: 0 !important;
      position: relative !important;
      padding: 2em 0 0 !important;
      font-size: 1.8em !important;
    }
    .bx-pager {
      .i13m-flex(row);
      position: relative;
      width: 100%;
      bottom: 1em;
      left: 0;
      .bx-pager-item {
        margin: 2em 1em;
        text-align: center;
        width: 4px;
        a {
          color: transparent;
          position: relative;
          &:before {
            content: '\f111';
            position: absolute;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            font-family: FontAwesome;
            color: lighten(@imagination-blue, 20%);
            -webkit-transition: color 0.3s ease-in-out;
            transition: color 0.3s ease-in-out;
            width: 2em;
          }
          &.active {
            &:before {
              color: @imagination-blue;
            }
          }
        }
      }
    }
  }

  .i13m-tagetik-benefits-table-mobile {
    display: block !important;
  }

  .i13m-tagetik-benefits-table {
    display: none !important;
  }

  .i13m-left-button {
    left: 1% !important;
  }

  .i13m-right-button {
    right: 1% !important;
  }

  .i13m-careers-itmw-people-container {
    .i13m-content {
      padding: 4em 2em !important;
    }
    .i13m-text {
      position: relative !important;
      margin-bottom: 2em !important;
      font-size: .8em !important;
      top: 0 !important;
      padding: 1em !important;
    }
  }
  .i13m-careers-itmw-people-people {
    flex-direction: column !important;
    align-items: flex-start !important;
    width: 80% !important;
  }
  .i13m-careers-itmw-people-person {
    flex-direction: row !important;
  }
  .i13m-careers-itmw-people-person-name {
    margin-top: 0 !important;
  }
  .i13m-careers-itmw-people-image-container {
    img {
      max-width: 90px !important;
      width: 100% !important;
      height: auto !important;
    }
  }
  .i13m-careers-itmw-people-row {
    margin-left: 1em;
  }
  .i13m-career-story-modal {
    font-size: .7em !important;
  }
  .i13m-careers-referral-story {
    font-size: .5em !important;
    flex-direction: column !important;
    > div {
      max-width: 100% !important;
      width: 100% !important;
      opacity: 1 !important;
      > p {
        padding: 1em !important;
      }
    }
  }
  .i13m-careers-offers-container {
    margin: 0 !important;
    height: auto !important;
  }
  .i13m-careers-itmw-initiatives-text {
    opacity: 1 !important;
  }

  .i13m-careers-main-widget {
    font-size: .8em !important;
    h1 {
      padding: .4em !important;
    }
    h2 {
      height: 68px !important;
    }
  }
  .i13m-careers-recruitment-text-container {
    text-align: center !important;
    p {
      font-size: 1.75em !important;
    }
  }
  .i13m-careers-recruitment-text-title {
    font-size: 2.5em !important;
  }

  .i13m-careers-recruitment-widget {
    .i13m-content {
      font-size: 1em !important;
    }
  }

  .i13m-careers-recruitment-mobile {
    display: block !important;
    > div {
      .i13m-flex(column);
    }
  }

  .i13m-careers-recruitment-animation {
    display: none !important;
  }
  .i13m-careers-recruitment-mobile {
    .i13m-right-button,
    .i13m-left-button {
      top: 62% !important;
    }
    > div {
      > div {
        &:last-child {
          font-size: 1.2em !important;
        }
      }
    }
    .bx-pager {
      .i13m-flex(row);
      width: 100%;
      bottom: 12%;
      left: 0;
      .bx-pager-item {
        margin: 2em 1em;
        text-align: center;
        width: 4px;
        a {
          color: transparent;
          position: relative;
          &:before {
            content: '\f111';
            position: absolute;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            font-family: FontAwesome;
            color: #fff;
            -webkit-transition: color 0.3s ease-in-out;
            transition: color 0.3s ease-in-out;
            width: 2em;
          }
          &.active {
            &:before {
              color: @empowering-yellow;
            }
          }
        }
      }
    }
  }

  .i13m-left-button,
  .i13m-left-button {
    .referral {
      display: block !important;
    }
  }

  .i13m-careers-itmw-facts-widget {
    font-size: .8em !important;
  }
  .i13m-careers-itmw-facts-table {
    margin: 2em 0 0;
  }
  .i13m-careers-itmw-perks-table {
    padding: 0 .4em !important;
    td {
      &:nth-child(2n+1) {
        width: 33% !important;
      }
    }
  }
  .i13m-initiatives-mobile {
    display: block !important;
    font-size: 1.6em;
  }

  .i13m-careers-itmw-facts-container {
    padding: 4em 1em !important;
    box-sizing: border-box !important;
    color: #0098da !important;
    background-color: #fff;
  }
  .i13m-careers-itmw-perks-container {
    .i13m-content {
      padding: 4em 0 !important;
    }
  }

  .i13m-careers-itmw-initiatives-animation {
    display: none !important;
  }

  .i13m-careers-itmw-referral-widget {
    .i13m-content {
      padding: 1em;
    }
    .i13m-text {
      opacity: 1 !important;
      padding: 0 2em;
    }
  }
  .i13m-careers-referral-story {
    > div {
      overflow: hidden;
      height: 12em;
      img {
        -webkit-transform: translateY(-7em);
        transform: translateY(-7em);
      }
      &:before {
        display: none !important;
      }
    }
  }
  .i13m-referral-faq-link {
    -webkit-transform: translate(0) !important;
    transform: translate(0) !important;
    width: 100% !important;
    box-sizing: border-box;
    opacity: 1 !important;
    border-radius: 0 !important;
  }


  .i13m-rebranding-main,
  .i13m-rebranding-name,
  .i13m-rebranding-promise,
  .i13m-rebranding-brands,
  .i13m-rebranding-logo,
  .i13m-rebranding-culture,
  .i13m-rebranding-colors,
  .i13m-rebranding-materials1,
  .i13m-rebranding-materials2,
  .i13m-rebranding-contact {
    .i13m-content {
      font-size: .75em !important;
    }
  }
  .i13m-rebranding-why {
    .i13m-background {
      background-color: @honest-gray;
      img {
        display: none !important;
      }
    }
    .i13m-content {
      font-size: .55em !important;
      padding: 1em !important;
      .i13m-text {
        &:last-child {
          display: none !important;
        }
      }
    }
  }
  .i13m-rebranding-logo {
    .i13m-logo-evo-container {
      background: none !important;
    }
  }
  .i13m-rebranding-materials1 {
    .content {
      font-size: 1.2em !important;
    }
  }
  .i13m-rebranding-name {
    .i13m-content {
      padding: 1em !important;
      font-size: .55em !important;
    }
  }
  .i13m-rebranding-symbology {
    .i13m-content {
      padding: 1em !important;
      font-size: .65em !important;
    }
  }
  .i13m-rebranding-promise {
    .i13m-content {
      font-size: .6em !important;
      padding: 1em !important;
    }
  }
  .bxslider-promise,
  .bxslider-symbology {
    padding: 4em !important;
    box-sizing: border-box !important;
  }
  .i13m-rebranding-brands {
    span,
    .i13m-container {
      width: 100% !important;
    }
    .i13m-content {
      width: 100% !important;
      > div {
        display: block !important;
      }
    }
    .bx-pager {
      .i13m-flex(row);
      position: relative;
      width: 100%;
      bottom: 1em;
      left: 0;
      .bx-pager-item {
        margin: 2em 1em;
        text-align: center;
        width: 4px;
        a {
          color: transparent;
          position: relative;
          &:before {
            content: '\f111';
            position: absolute;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            font-family: FontAwesome;
            color: lighten(@imagination-blue, 20%);
            -webkit-transition: color 0.3s ease-in-out;
            transition: color 0.3s ease-in-out;
            width: 2em;
          }
          &.active {
            &:before {
              color: @imagination-blue;
            }
          }
        }
      }
    }
  }
  .i13m-right-button,
  .i13m-left-button {
    &.brands {
      display: block !important;
    }
  }
  .i13m-brand-slider {
    display: block !important;
    > div {
      margin: 0 0 !important;
      span {
        text-align: center !important;
      }
      > div {
        justify-content: space-between !important;
        height: 100px !important;
      }
    }
    img {
      max-width: 200px !important;
      height: auto !important
    }
  }
  .bxslider-symbology {
    .mobile {
      display: block !important;
      img {
        max-height: 250px !important;
        margin-top: 2em !important;
      }
    }
    .desktop {
      display: none !important;
    }
    .bx-pager {
      .i13m-flex(row);
      position: relative;
      width: 100%;
      bottom: 1em;
      left: 0;
      .bx-pager-item {
        margin: 2em 1em;
        text-align: center;
        width: 4px;
        a {
          color: transparent;
          position: relative;
          &:before {
            content: '\f111';
            position: absolute;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            font-family: FontAwesome;
            color: lighten(@imagination-blue, 20%);
            -webkit-transition: color 0.3s ease-in-out;
            transition: color 0.3s ease-in-out;
            width: 2em;
          }
          &.active {
            &:before {
              color: @imagination-blue;
            }
          }
        }
      }
    }
  }
  .i13m-rebranding-culture {
    .bxslider-culture {
      li {
        p {
          max-width: 15em !important;
          margin-bottom: 0 !important;
        }
      }
    }
  }
  .i13m-rebranding-brands {
    .i13m-brand-slider {
      > div {
        .i13m-flex(column);
        height: 180px !important;
      }
    }
  }
  .i13m-clio-main {
    .i13m-content {
    font-size: 0.5em !important;
    }
    .i13m-content {
      padding: 18em 0 !important;
    }
  }
  .i13m-clio-characteristics {
    .i13m-content {
      padding: 2em !important;
    }
    .i13m-text-absolute {
      top: 0 !important;
      left: 0 !important;
      -webkit-transform: translateZ(0) !important;
      transform: translateZ(0) !important;
      position: relative !important;
    }
    .i13m-text {
      p {
        line-height: 1.4em !important;
        br {
          line-height: 2em !important;
        }
      }
    }
  }
  .i13m-clio-processes {
    .i13m-processes:not(.modal) {
      display: none !important;
    }
    .i13m-content {
      padding: 7em 2em !important;
    }
    .i13m-text-absolute {
      top: 0 !important;
      left: 0 !important;
      -webkit-transform: translateZ(0) !important;
      transform: translateZ(0) !important;
      position: relative !important;
    }
    .i13m-clio-processes-buttons {
      margin-top: 3em;
      &.i13m-button-group {
        display: none !important;
      }
      &.i13m-button-group-vertical {
        display: table !important;
        bottom: 0 !important;
        left: 0 !important;
        -webkit-transform: none !important;
        transform: none !important;
        position: relative !important;
      }
      button {
        width: 20em !important;
      }
    }
    .i13m-processes {
      &.modal {
        box-sizing: border-box;
        margin: 0 !important;
        width: 100% !important;
        border-radius: 0 !important;
      }
    }
  }
  .i13m-clio-performance {
    .i13m-content {
      padding: 12em 0 5em !important;
    }
    .i13m-text-absolute {
      top: 2em !important;
      width: 100% !important;
    }

    .i13m-clio-performance-carousel {
      .i13m-left-button,
      .i13m-right-button {
        top: 32% !important;
        position: absolute !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
      }
    }
    .bxslider-performance {
      h5 {
        max-width: 10em;
        margin: 0 auto !important;
      }
      p {
        margin: 1em .3em !important;
      }
    }
    .bx-pager {
      position: static !important;
    }
  }
  .i13m-clio-trust {
    .i13m-separator {
      display: none !important;
    }
    .i13m-clio-trusted {
      img {
        margin: 0 !important;
      }
    }
    .bx-pager {
      .i13m-flex(row);
      position: relative;
      width: 100%;
      bottom: 1em;
      left: 0;
      .bx-pager-item {
        margin: 2em 1em;
        text-align: center;
        width: 4px;
        a {
          color: transparent;
          position: relative;
          &:before {
            content: '\f111';
            position: absolute;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            font-family: FontAwesome;
            color: lighten(@imagination-blue, 20%);
            -webkit-transition: color 0.3s ease-in-out;
            transition: color 0.3s ease-in-out;
            width: 2em;
          }
          &.active {
            &:before {
              color: @imagination-blue;
            }
          }
        }
      }
    }
  }
  .i13m-careers-offers-search {
    flex-direction: column !important;
  }
  .i13m-careers-offers-list {
    justify-content: center !important;
    align-items: center !important;
    width: 100% !important;
  }
  .i13m-careers-offers-specialization-button {
    -webkit-transform: translateY(160%) !important;
    transform: translateY(160%) !important;
    right: 8% !important;
  }
  .i13m-careers-offers-city-button {
    right: 8% !important;
  }
  .i13m-job-details {
    flex-direction: column !important;
  }
  .i13m-job-left-column {
    width: 95% !important;
    li {
      max-width: 95% !important;
    }
  }
  .i13m-job-right-column {
    width: 100% !important;
  }
  .i13m-job-buttons {
    display: none !important;
  }
  .i13m-job-header-row {
    > div {
      &:not(.i13m-job-header-content) {
        margin-top: 8em !important;
      }
    }
  }
  .i13m-job-header-content {
    font-size: 1.3em !important;
    span {
      white-space: normal !important;
    }
  }
  .i13m-footer,
  .i13m-last-section>div>span:last-child {
    max-height: 96.68px !important;
  }
  .i13m-job-more {
    position: relative;
    .bx-pager {
      .i13m-flex(row);
      position: relative;
      width: 100%;
      bottom: 1em;
      left: 0;
      .bx-pager-item {
        margin: 2em 1em;
        text-align: center;
        width: 4px;
        a {
          color: transparent;
          position: relative;
          &:before {
            content: '\f111';
            position: absolute;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            font-family: FontAwesome;
            color: lighten(@imagination-blue, 20%);
            -webkit-transition: color 0.3s ease-in-out;
            transition: color 0.3s ease-in-out;
            width: 2em;
          }
          &.active {
            &:before {
              color: @imagination-blue;
            }
          }
        }
      }
    }
    .i13m-job-more-container {
      display: block !important;
    }
    .bx-wrapper {
      margin: 0 auto !important;
    }
  }
  .i13m-cookie-info {
    font-size: 1.2em !important;
    height: 200px !important;
    padding: 0 !important;
    > div {
      height: auto !important;
      > img {
        display: none !important;
      }
    }
    .i13m-close {
      font-size: 1em !important;
    }
  }
  .i13m-cookie-text {
    font-size: .9em !important;
  }
  .i13m-error-page {
    .i13m-content {
      font-size: .7em !important;
      padding-top: 12em !important;
    }
    .i13m-logo-container {
      background-color: transparent !important;
    }
    .i13m-hamburger {
      span {
        background: #fff !important;
      }
    }
  }

  .i13m-thankyou-tiles {
    .grid-row {
      .grid-item {
        .background {
          height: calc(~"50vh - 280px") !important;
        }
      }
    }
  }

  .i13m-inlab {
    .i13m-content {
      padding: 4em 2em !important;
    }
  }

  .i13m-inlab-iterations {
    .i13m-content {
      padding: 4em !important;
    }
  }
  .i13m-inlab-intro {
    ul {
      font-size: 1.2em !important;
    }
    .bx-pager {
      bottom: 0 !important;
    }
  }
  .i13m-inlab-qa {
    .i13m-faq-entries {
      flex-wrap: nowrap !important;
      max-height: none !important;
      > div {
        max-width: 100% !important;
      }
    }
  }
  .i13m-inlab-iterations-text {
    p {
      font-size: 1em !important;
      height: 160px !important;
    }
  }

  .i13m-inlab-council,
  .i13m-inlab-mentors,
  .i13m-inlab-iteration,
  .i13m-inlab-iterations {
    .i13m-left-button,
    .i13m-right-button {
      display: block !important;
    }
  }

  .i13m-inlab-iteration {
    .i13m-inlab-iteration-m-month {
      opacity: 1 !important;
      // font-size: .8em !important;
      // left: ~"calc(50% - 6em)" !important;
    }
  }

  .i13m-inlab-card {
    margin: 0 !important;
  }

  .i13m-last-section {
    .fp-tableCell {
      > span:first-child {
        height: calc(~"100% - 85.25px") !important;
      }
    }
  }

  .i13m-inlab-ideas-innovations {
    > div {
      width: 100% !important;
    }
  }

  .i13m-booster-related-container {
    .related-post-item {
      width: 100% !important;
    }
  }

  .form-columns-2,
  .form-columns-3 {
    > div {
      width: 100% !important;
      margin: 14px 0 0 !important;
    }
  }

  .i13m-inlab-contact-content {
    flex-direction: column !important;
  }

  .i13m-inlab-contact {
    .i13m-button-yellow {
      max-width: 11.5em;
    }
  }

  .i13m-inlab-main {
    .i13m-content {
      font-size: .6em !important;
    }
  }

  .i13m-imagine-background {
    position: fixed !important;
    top: 0;
    left: 0;
  }

  .i13m-home-portfolio-modal {
    .i13m-customer-logo {
      &.skanska {
        height: 100px !important;
        background-position-y: -188px !important;
      }
      &.danone {
        background-position-y: -38px !important;
        height: 122px !important;
      }
      &.bayer {
        height: 142px !important;
      }
      &.nfg {
        height: 102px !important;
      }
    }
  }


  .i13m-project-description {
    > div {
      &:nth-last-child(2) {
        > div {
          width: 100% !important;
        }
      }
      &:last-child {
        li {
          float: none !important;
          width: 100% !important;
          &:after {
            content: ' ' !important;
          }
        }
      }
    }
  }

  .i13m-tagetik-contact {
    .i13m-page-header {
      font-size: .8em;
      padding-top: 1em !important;
      margin-top: 0 !important
    }
    .i13m-content {
      padding-top: 10em !important;
    }
  }

  .i13m-container {
    overflow: auto;
  }

  .i13m-widget {
    flex-direction: column !important;
    padding: 18em 0 !important;
  }

  .i13m-services-main-content {
    padding: 15em 3em !important;
  }

  .i13m-services-contact-container {
    .i13m-page-header {
      margin: 0 !important;
    }
    .i13m-content {
      padding: 3em 0 !important;
    }
  }

  .i13m-about-main-container {
    padding: 12em 0 !important;
  }

  .i13m-about-story-carousel {
    position: relative !important;
    .bx-controls,
    .bx-pager {
      position: static !important;
    }
  }

  .i13m-about-values-content {
    position: relative !important;
  }

  .i13m-about-values-container {
    .i13m-page-header {
      position: absolute !important;
      width: 100% !important;
      z-index: 99;
    }
  }

  .i13m-about-mission {
    .i13m-content {
      padding: 3em !important;
      font-size: .75em !important;
    }
  }

  .i13m-about-updates {
    .i13m-content {
      padding: 3em !important;
    }
  }

  .i13m-careers-latest-widget {
    .fp-tableCell {
      > div {
        height: auto !important;
      }
    }
  }

  .i13m-careers-recruitment-container {
    overflow: auto;
  }

  .i13m-careers-offers-search {
    margin: 0 !important;
    min-height: 147.075px !important;
    width: 100% !important;
    .awesomplete,
    > input {
      margin: 5px 0 !important;
      width: 90% !important;
    }
  }

  .i13m-plus {
    > a {
      top: 0 !important;
      -webkit-transform: translateX(-50%) !important;
      transform: translateX(-50%) !important;
    }
  }

  .i13m-careers-latest-body {
    height: 378px !important;
  }

  .bxslider-recruitment-mobile {
    > div {
      > div {
        &:last-child {
          text-align: center;
        }
      }
    }
  }

  // .i13m-right-bracket {
  //   margin-left: 4px;
  //   &:after {
  //     right: 80% !important;
  //   }
  // }
  //
  // .i13m-left-bracket {
  //   margin-left: 4px;
  //   &:after {
  //     left: 80% !important;
  //   }
  // }
}

// Max-width: 1024px above

@media screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

  .i13m-careers-offers-specialization-button {
    -webkit-transform: translateY(204%) !important;
    transform: translateY(204%) !important;
  }
}

@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

  .i13m-careers-offers-specialization-button {
    -webkit-transform: translateY(204%) !important;
    transform: translateY(204%) !important;
  }
}

@media screen and (max-width: 767px) {

  .i13m-hide-phone {
    display: none;
  }

  .i13m-footer {
    & > .row-fluid {
      & > div {
        & > ul, > p {
          float: none;
          margin: 1em auto;
          text-align: center;
        }
      }
    }
  }

  .i13m-page-header {
    h3 {
      font-size: 1em !important;
    }
    h4 {
      font-size: 2em !important;
    }
  }

  .bxslider-technologies {
    li {
      > div {
        width: 100% !important;
        height: 80px !important;
        &:nth-child(3n+1) {
          background-color: #a1b1bc !important;
        }
        &:nth-child(3n) {
          background-color: #b7cbd8 !important;
        }
        &:nth-child(3n+2) {
          background-color: #3a4c5d !important;
        }
        > div {
          -webkit-transform: scale(.5);
          transform: scale(.5);
        }
      }
    }
  }

  .i13m-home-technologies {
    .bx-pager {
      bottom: -1.7em !important;
    }
    .i13m-content {
      padding: 5em 0 0 !important;
      height: 550px !important;
    }
  }

  .i13m-home-updates {
    .i13m-update-summary {
      max-height: 2.4em !important;
    }
  }
  .i13m-services-main-content {
    .i13m-services-main-text {
      display: none !important;
    }
  }
  .i13m-services-main-read {
    display: block !important;
  }
  .i13m-services-main-content {
    font-size: .87em !important;
  }
  .i13m-services-main-background {
    background-position-x: -360px !important;
    background-position-y: top !important;
    -webkit-filter: opacity(30%) !important;
    filter: opacity(30%) !important;
  }
  .i13m-services-service-container {
    padding: 3em !important;
    font-size: .75em !important;
  }
  .i13m-services-service-heading {
    font-size: 1.5em !important;
  }
  .i13m-services-service-buttons {
    &.i13m-button-group {
      display: none !important;
    }
    &.i13m-button-group-vertical {
      display: table !important;
      bottom: 0 !important;
      left: 0 !important;
      -webkit-transform: none !important;
      transform: none !important;
      position: relative !important;
    }
    button {
      width: 20em !important;
      height: 40px !important;
    }
  }
  .i13m-content {
    .i13m-services-service-texts {
      display: none !important;
    }
  }
  .i13m-services-service-texts {
    &.modal {
      box-sizing: border-box;
      overflow-y: scroll !important;
    }
  }
  .i13m-services-service-modal {
    overflow-y: hidden !important;
  }
  .i13m-services-customers-container {
    padding: 3em 0;
    .i13m-page-header {
      margin: 0 !important;
    }
    .bx-pager {
      height: 100%;
      margin-top: 2em;
    }
    // .bx-viewport {
    //   margin-top: -8em !important;
    // }
  }
  .i13m-services-team-container {
    .teams {
      display: block !important;
    }
    .i13m-content {
      padding: 3em 0 5em !important;
      height: 450px !important;
    }
    .bx-viewport {
      margin-bottom: 1em !important;
    }
    .bx-pager {
      margin-top: -4.5em !important;
    }
  }
  .i13m-services-team-widget {
    margin: 0 !important;
    display: block !important;
    > div {
      width: 200px;
      margin: 0 !important;
      .i13m-services-team-header {
        height: 220px;
        img {
          height: 220px;
        }
      }
      .i13m-services-team-info {
        font-size: .8em;
      }
    }
  }

  .grid-item {
    width:100% !important;
    box-sizing: border-box !important;
    margin: 8px !important;
  }
  .i13m-booster-post-header {
    div {
      &:first-child {
        width: 100% !important;
      }
    }
  }
  .i13m-booster-header {
    font-size: .75em !important;
  }
  .i13m-booster-header-background {
    > div:not(.i13m-booster-header-content) {
      justify-content: flex-end !important;
      a {
        margin-bottom: 6em !important;
      }
    }
  }
  .i13m-about-board-header {
    img {
      width: 45px !important;
    }
  }
  .i13m-about-board-info {
    font-size: .8em !important;
  }
  .i13m-about-board-name {
    margin: 0 !important;
  }

  .i13m-services-contact-content, .i13m-ifrs-contact-content {
    margin: 0 !important;
    flex-direction: column-reverse !important;
  }

  .i13m-services-contact-container, .i13m-ifrs-contact-container {
    margin: 0 !important;
    .i13m-content {
      justify-content: flex-start !important;
    }
  }

  .i13m-ifrs-contact-container {
    .i13m-ifrs-contact-form {
      padding-right:0;
    }
  }

  .i13m-services-contact-person {
    margin:  0 !important;
    .i13m-flex(row);
    font-size: .75em;
    img {
      max-width: 50px !important;
      max-height: 50px !important;
      height: 100% !important;
    }
  }

.i13m-ifrs-ebook {
    margin:  0 !important;
    .i13m-flex(row);
    font-size: .75em;
    img {
      max-width: 100px !important;
      width: 100% !important;
      max-height: 100px !important;
      height: 100% !important;
    }
  }

  .i13m-services-contact-form,  .i13m-ifrs-contact-form {
    font-size: .8em !important;
    width: 100% !important;
    fieldset {
      &:first-of-type {
        > div {
          float: left !important;
          width: 50% !important;
        }
      }
      > div {
        &:not(:last-child) {
          label {
            display: none;
          }
        }
      }
    }
  }

  textarea {
    height: 5em !important;
  }

  a.gallery.negative {
      display: none;
  }

  .i13m-gallery img {
      height: auto !important;
      width: 100% !important;
      max-width: none !important;
      min-height: 0 !important;
  }

  .i13m-careers-itmw-success-container {
    .i13m-content {
      padding: 12em 0 2em !important;
      height: 46em !important;
    }
  }

  .i13m-careers-itmw-success-text {
    padding: 2em .9735em !important;
    font-size: .8em !important;
    margin: 0 auto !important;
  }

  .i13m-success-graphic-person {
    font-size: .8em !important;
  }

  .i13m-success-years-container,
  .i13m-succes-graphic-glue {
    display: none !important;
    width: 0 !important;
  }

  .i13m-success-control {
    flex-direction: column !important;
    > div {
      flex-direction: row !important;
      width: 100%;
      justify-content: flex-start !important;
      margin-top: -30px !important;
      > img {
        width: 50px;
        height: 50px;
        margin-left: 20px;
      }
    }
  }

  .i13m-success-control.i13m-innovation-board {
    flex-direction: column !important;
    background-color: rgba(25,160,221, 1) !important;
    > div {
      flex-direction: column !important;
      width: 100%;
      justify-content: flex-start !important;
      margin-top: -30px !important;
      > img {
        width: 50px;
        height: 50px;
        margin-left: 20px;
      }
    }

    .i13m-inlab-council-cards-history {
      align-items:flex-start;
    }
  }

  .i13m-success-text-container {
    display: block !important;
    font-size: .65em !important;
    padding: 1em !important;
    height: 40em !important;
    > div {
      max-width: 70% !important;
    }
  }

  .i13m-careers-itmw-success-content-front {
    height: auto !important;
  }

  .person-name {
    font-size: .75em !important;
  }

  .i13m-career-faq-modal {
    display: block !important;
    font-size: .7em !important;
    padding: 2em !important;
    overflow-y: scroll !important;
    > * {
      width: 100% !important;
      margin: 1em 0 0 !important;
      li {
        width: 85% !important;
      }
    }
  }

  .i13m-round-control-items {
    .i13m-round-item {
      flex-direction:column !important;

      > div {
        margin:0.5em !important;
        padding:0.1em !important;
        max-width:none !important;
      }
    }
  }
}

// Max-width: 767px above

@media screen and (max-height: 700px) {
  .i13m-careers-itmw-people-image-container {
    img {
      max-width: 200px !important;
      width: 100% !important;
      height: auto !important;
    }
  }
}

@media screen and (max-height: 867px) {
  .i13m-updates-grid {
    height: 320px !important;
  }
}

.i13m-hide-tablet {
  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.i13m-hide-phone {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .i13m-inlab-teams {
    .i13m-content-team-inner {
      flex-direction:column !important;

      .i13m-content-team-img {
        margin-bottom:2em;
      }
    }
  }
}
