@media print {
  .i13m-menu-container,
  .footer-container-wrapper,
  .i13m-job-intro,
  .i13m-booster-navigation-buttons {
    display: none !important;
  }
  .i13m-job-post-content {
    > span {
      > div {
        &:last-child {
          display: none !important;
        }
      }
    }
  }
  .i13m-job-background {
    height: auto !important;
    > div {
      &:first-child {
        display: none !important;
      }
    }
  }
  .i13m-job-header-row {
    height: auto !important;
    position: relative !important;
    color: @honest-gray !important;
    > div {
      &:not(.i13m-job-header-content) {
        display: none !important;
      }
    }
  }

  .i13m-round-back-button, .i13m-round-back-button {
      display:none;
  }

  .hs-blog-post .body-container-wrapper {
    padding-top:150px;
  }

  #i13m-header {
    position:relative !important;
  }

  @page {
    size: portrait;
  }
  .i13m-job-header-content,
  .i13m-job-refno {
    padding: 0 !important;
    margin: 0 !important;
  }
}
