body {
  margin: 0;
}

.i13m-gallery {
  background-color: @honest-gray;
  .fp-slides {
    height: 100%;
    .fp-slidesContainer {
      height: 100%;
      .i13m-background-image-container {
        height: 100%;
      }
    }
  }
}
