.i13m-rebranding-main {
  .i13m-content {
    flex-direction: row;
    justify-content: flex-start;
  }
  h2 {
    text-align: left;
    font-size: 4em;
    font-family: bariol-light;
    padding: 1em;
    box-sizing: border-box;
    max-width: 10em;
    span {
      color: @imagination-blue;
    }
  }
}

.i13m-rebranding-why {
  color: #fff;
  h4 {
    .i13m-bottom-separator();
    padding-bottom: .65em;
    margin-bottom: .65em;
    &:after {
      width: 1.5em;
    }
  }
  .i13m-text {
    .i13m-flex(row);
    font-size: 2.3em;
    text-align: center;
    padding-top: 1.5em;
    p {
      margin: 0 7.5vw;
    }
    &:first-child {
      padding-top: 30vh;
      font-size: 3em;
      max-width: 25em;
    }
  }
}

.i13m-rebranding-name {
  color: #00557a;
  h4 {
    .i13m-bottom-separator();
    padding-bottom: .65em;
    margin-bottom: .65em;
    &:after {
      width: 1.5em;
    }
  }
  .i13m-text {
    font-size: 2.5em;
    margin: .8em 0;
    &.name {
      color: @empowering-yellow;
      font-family: bariol-bold;
      font-size: 3.75em;
      margin: .1em 0;
    }
    &.noun {
      color: @imagination-blue;
      font-size: 2em;
      margin: .15em 0;
    }
  }
  .i13m-content {
    text-align: center;
    > * {
      max-width: 27.25em;
    }
  }
}

.i13m-rebranding-promise {
  .i13m-background {
    background-color: #00557a;
  }
  color: #fff;
  h4 {
    .i13m-bottom-separator();
    padding-bottom: .65em;
    margin-bottom: .65em;
    &:after {
      width: 1.5em;
    }
  }

  .i13m-rebranding-promise-carousel,
  .bx-wrapper,
  .bx-viewport {
    position: relative;
    height: 100% !important;
    width: 100%;
    top: 0;
    left: 0;
    border: none !important;
  }

  .bx-pager {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    .bx-pager-item {
      margin: 2em 1em;
      a {
        color: transparent;
        position: relative;
        text-align: center;
        &:before {
          content: '\f111';
          width: 2em;
          position: absolute;
          left: 50%;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
          font-family: FontAwesome;
          color: fade(@empowering-yellow, 25%);;
          -webkit-transition: color 0.3s ease-in-out;
          transition: color 0.3s ease-in-out;
        }
        &.active {
          &:before {
            color: @empowering-yellow;
          }
        }
      }
    }
  }

  .bxslider-promise {
    height: 100% !important;
    z-index: -99;
    margin: 0;
    padding: 0;
    li {
      height: 100% !important;
      width: 100% !important;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      .i13m-flex(column);
      .i13m-text();
      p {
        font-size: 3em;
        max-width: 27.5em;
        text-align: center;
      }
    }
  }
}

.i13m-rebranding-symbology {
  .i13m-background {
    background-color: #f1f1f1;
  }
  color: #00557a;
  h4 {
    .i13m-bottom-separator();
    padding-bottom: .65em;
    margin-bottom: .65em;
    &:after {
      width: 1.5em;
    }
  }

  .i13m-rebranding-symbology-carousel,
  .bx-wrapper,
  .bx-viewport {
    position: relative;
    height: 100% !important;
    width: 100%;
    top: 0;
    left: 0;
    border: none !important;
  }

  .bx-pager {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    .bx-pager-item {
      margin: 2em 1em;
      a {
        color: transparent;
        position: relative;
        text-align: center;
        &:before {
          content: '\f111';
          width: 2em;
          position: absolute;
          left: 50%;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
          font-family: FontAwesome;
          color: fade(@imagination-blue, 25%);;
          -webkit-transition: color 0.3s ease-in-out;
          transition: color 0.3s ease-in-out;
        }
        &.active {
          &:before {
            color: @imagination-blue;
          }
        }
      }
    }
  }

  .bxslider-symbology {
    height: 100% !important;
    z-index: -99;
    margin: 0;
    padding: 0;
    li {
      height: 100% !important;
      width: 100% !important;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      .i13m-flex(column);
      .i13m-text();
      p {
        font-size: 3em;
        max-width: 27.5em;
        text-align: center;
      }
    }
  }
}

.i13m-rebranding-brands {
  > div {
    .i13m-flex(column);
    justify-content: space-around;
    margin: 0 0 !important;
  }
  h4 {
    .i13m-bottom-separator();
    padding-bottom: .65em;
    margin-bottom: .65em;
    &:after {
      width: 1.5em;
    }
  }
  img {
    max-height: 150px;
    &:first-child {
      margin-bottom: -7em;
    }
  }
  .i13m-content {
    .i13m-brand-slider {
      .i13m-flex(row);
      > div {
        .i13m-flex(column);
        height: 300px;
        justify-content: space-between;
        margin: 0 3em;
        > div {
          .i13m-flex(column);
        }
        > img {
          margin-bottom: 4em;
        }
      }
      span {
        font-size: 2.2em;
      }
    }
  }
  .i13m-vertical-separator {
    height: 300px;
    border-radius: 100%;
    width: 2px;
    margin-bottom: -6em;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    background-color: @honest-gray;
  }
  .i13m-right-button,
  .i13m-left-button {
    &.brands {
      display: none;
    }
  }
}

.bxslider-symbology {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
}

.i13m-rebranding-logo {
  .i13m-background ,
  .twentytwenty-container > img {
    background-color: #f1f1f1;
  }
  .i13m-logo-evo-container {
    .i13m-center();
    max-width: 735px;
  }
  .twentytwenty-overlay {
    display: none;
  }
  .twentytwenty-handle {
    background-color: #fff;
    border: 3px solid #a1b1bc;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
    &:before,
    &:after {
      -webkit-box-shadow: 0 0 0 transparent !important;
      box-shadow: 0 0 0 transparent !important;
      background: #a1b1bc !important;
    }
  }
  .twentytwenty-left-arrow {
    border-right: 6px solid #a1b1bc;
  }
  .twentytwenty-right-arrow {
    border-left: 6px solid #a1b1c1;
  }
}

.i13m-rebranding-colors {
  h4 {
    .i13m-bottom-separator();
    padding-bottom: .65em;
    margin-bottom: .65em;
    &:after {
      width: 1.5em;
    }
  }
  .i13m-content {
    .column-colors,
    .column-picture {
      width: 400px;
      .i13m-flex(column);
      justify-content: space-between;
      margin: 0 2em;
      height: 100%;
    }
    .row-main {
      .i13m-flex(row);
      height: 460px;
    }
    .column-colors {
      width:500px;
      > div {
        width: 100%;
        .i13m-flex(column);
        > div {
          .i13m-flex(row);
          width:100%;
          &:nth-child(2n) {
            justify-content: space-around;
          }
        }
      }
    }
    .column-picture {
      img {
        height: 415px;
      }
    }
    p {
      font-size: 1.2em;
    }
    .color {
      padding: 2em;
      font-size: 1.5em;
      box-sizing: border-box;
      .i13m-flex(row);
      &.imagination-blue {
        background-color: @imagination-blue;
        color: #fff;
        width: 50%;
      }
      &.innovator-blue {
        background-color: #00557A;
        color: #fff;
        width: 50%;
      }
      &.honest-gray {
        background-color: @honest-gray;
        color: #fff;
        width: 45%;
      }
      &.empowering-yellow {
        background-color: @empowering-yellow;
        color: #fff;
        width: 20%;
      }
      &.flexible-gray {
        background-color: @flexible-gray;
        color: @honest-gray;
        width: 35%;
      }
    }
  }
}

.i13m-rebranding-culture {
  h4 {
    .i13m-bottom-separator();
    padding-bottom: .65em;
    margin-bottom: .65em;
    &:after {
      width: 1.5em;
    }
  }

  .i13m-rebranding-culture-carousel,
  .bx-wrapper,
  .bx-viewport {
    position: relative;
    height: 100% !important;
    width: 100%;
    top: 0;
    left: 0;
    border: none !important;
  }

  .bx-pager {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    .bx-pager-item {
      margin: 2em 1em;
      a {
        color: transparent;
        position: relative;
        text-align: center;
        &:before {
          content: '\f111';
          width: 2em;
          position: absolute;
          left: 50%;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
          font-family: FontAwesome;
          color: fade(@imagination-blue, 25%);;
          -webkit-transition: color 0.3s ease-in-out;
          transition: color 0.3s ease-in-out;
        }
        &.active {
          &:before {
            color: @imagination-blue;
          }
        }
      }
    }
  }

  .bxslider-culture {
    height: 100% !important;
    z-index: -99;
    margin: 0;
    padding: 0;
    li {
      height: 100% !important;
      width: 100% !important;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      .i13m-flex(column);
      .i13m-text();
      align-items: flex-start;
      padding-left: 4em;
      color: @imagination-blue;
      h5 {
        font-size: 3em;
        font-family: bariol-bold;
        text-transform: uppercase;
        margin-bottom: .3em;
      }
      p {
        font-size: 2em;
        max-width: 27.5em;
        text-align: center;
        margin-bottom: 7em;
        text-align: left;
      }
    }
  }
}

.i13m-rebranding-materials1 {
  h4 {
    .i13m-bottom-separator();
    padding-bottom: .65em;
    margin-bottom: .65em;
    &:after {
      width: 1.5em;
    }
  }

  .i13m-content {
    .i13m-flex(row);
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    flex-wrap: wrap;
    padding-top: 15em;
    box-sizing: border-box;
  }

  .image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50%;
    width: 25%;
  }

  .content {
    width: 75%;
    background-color: #4e5a62;
    height: 50%;
    color: #fff;
    padding: 1em 3em;
    box-sizing: border-box;
    font-size: 1.8em;
    .i13m-flex(column);
    justify-content: flex-end;
    align-items: flex-start;
    h5 {
      text-transform: uppercase;
      font-size: 1.3em;
      margin: 0;
    }
    p {
      max-width: 30em;
    }
  }

  .chocolates {
    background-image: url(http://cdn2.hubspot.net/hubfs/2422193/pictures/materials/itmagination-chocolates.jpg);
    width: 50%;
  }

  .pack {
    background-image: url(http://cdn2.hubspot.net/hubfs/2422193/pictures/materials/itmagination-welcome-pack.jpg);
  }

  .cards {
    background-image: url(https://cdn2.hubspot.net/hubfs/2422193/pictures/materials/itmagination-business-cards2.jpg);
  }

  .foil {
    background-image: url(http://cdn2.hubspot.net/hubfs/2422193/pictures/materials/itmagination-foil.jpg);
  }
}

.i13m-rebranding-materials2 {

  .materials {
    .i13m-flex(row);
    width: 100%;
    height: 100%;
  }

  .image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50%;
    width: 25%;
  }

  .row {
    .i13m-flex(row);
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    flex-wrap: wrap;
    width: 75%;
    height: 100%;
  }

  .rollup {
    background-image: url(http://cdn2.hubspot.net/hubfs/2422193/pictures/materials/itmagination-rollup.jpg);
    height: 100%;
  }

  .bags {
    background-image: url(http://cdn2.hubspot.net/hubfs/2422193/pictures/materials/itmagination-bags.jpg);
    width: 34%;
  }

  .fb {
    background-image: url(http://cdn2.hubspot.net/hubfs/2422193/pictures/materials/itmagination-facebook-profile.jpg);
    width: 66%;
  }

  .guides {
    background-image: url(http://cdn2.hubspot.net/hubfs/2422193/pictures/materials/itmagination-guides.jpg);
    width: 66%;
  }

  .shirt {
    background-image: url(http://cdn2.hubspot.net/hubfs/2422193/pictures/materials/itmagination-shirt.jpg);
    width: 34%;
  }
}

.i13m-rebranding-contact {
  .i13m-content {
    height: 350px;
    position: relative;
    h6 {
      font-size: 2em;
      margin: 1em;
    }
  }
}
