.i13m-services-contact-content {
  .i13m-flex(row);
  margin: 4em 0;
}

.i13m-services-contact-container {
  position: relative;
  .i13m-background {
    .i13m-background-image-container();
    background-color: #fff;
  }
}

.i13m-services-main-container {
  width: 100%;
  position: relative;
}

.i13m-services-main-background {
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255,255, 0) 50%), -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 0%);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255,255, 0) 50%), linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 0%);
}

.i13m-services-main-content {
  .i13m-flex(column);
  align-items: flex-start;
  height: calc(~"100% - 60px");
  padding-left: 3em;
  font-size: 1.5em;
}

.i13m-services-main-competence {
  max-width: 35%;
  font-weight: 300;
}

.i13m-services-main-read {
  .i13m-horizontal-button();
  padding: .5em;
  background-color: #fff;
  margin-top: .5em;
  display: none;
}

.i13m-services-main-text {
  font-style: italic;
  font-size: .87em;
  line-height: 1.05;
  max-width: 35%;
  margin-top: .2em;
  > *:first-child:before,
  > *:last-child:after {
    content: "\"";
  }
  a {
    text-decoration: none;
    font-family: bariol-bold;
    color: @imagination-blue;
  }
}

.i13m-services-main-leader {
  box-sizing: border-box;
  margin-top: .85em;
  padding-top: .85em;
  position: relative;
  font-size: 1.7em;
  max-width: 35%;
  &:before {
    content: ' ';
    display: block;
    position: absolute;
    background-color: @empowering-yellow;
    width: 3em;
    height: 3px;
    border-radius: 3px;
    top: 0;
    left: 0;
  }
}

.i13m-services-main-post {
  font-size: 1.1em;
  margin-top: .2em;
  max-width: 35%;
}

.i13m-services-main-modal {
  background-color: rgba(255, 255, 255, 0.85);
  .i13m-modal-close {
    &:before,
    &:after {
      color: @imagination-blue;
    }
  }
  .i13m-services-main-text {
    max-width: initial;
    padding: 2.5em 1em;
    box-sizing: border-box;
    font-size: 1.4em;
  }
}
.i13m-services-service-modal {
  background-color: rgba(255, 255, 255, 0.85);
  .i13m-modal-close {
    &:before,
    &:after {
      color: @imagination-blue;
    }
  }
}

.i13m-services-service-texts {
  overflow-y: scroll;
  > div {
    top: 0 !important;
    -webkit-transform: translateX(-50%) !important;
    transform: translateX(-50%) !important;
    margin-top: 6em !important;
  }
}

.i13m-services-customers-container {
  width: 100%;
  position: relative;
  .i13m-services-customers-background {
    .i13m-background-image-container();
    background-color: @imagination-blue;
    z-index: -1;
  }
  .i13m-page-header {
    color: #fff;
  }
}

.i13m-services-customers {

  .bx-controls-direction {
    .i13m-flex(row);
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    .bx-prev,
    .bx-next {
      cursor: pointer;
      color: @empowering-yellow;;
      font-size: 2.6em;
      text-decoration: none;
      display: block;
      padding: 1.2em 0.5em;
      background-color: rgba(45, 45, 45, 0.7);
      -webkit-transition: color 0.2s ease-in-out;
      transition: color 0.2s ease-in-out;
      &:hover {
        color: darken(@empowering-yellow, 30%);
      }
    }
  }
  .bx-pager {
    .i13m-flex(row);
    position: absolute;
    width: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    .bx-pager-item {
      margin: 1em;
      a {
        color: transparent;
        position: relative;
        text-align: center;
        &:before {
          content: '\f111';
          position: absolute;
          width: 2em;
          left: 50%;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
          font-family: FontAwesome;
          color: #fff;
          -webkit-transition: color 0.3s ease-in-out;
          transition: color 0.3s ease-in-out;
        }
        &.active {
          &:before {
            color: @empowering-yellow;
          }
        }
      }
    }
  }
  .bx-wrapper {
    position: relative;
    // height: 100%;
    // * {
    //   padding: 0;
    //   margin: 0;
    // }
  }
  // .i13m-services-customers-content {
  //   height: 450px;
  // }
  .bx-controls {
    // height: 100% !important;
    width: 100%;
    position: absolute;
    bottom: 0;
    .i13m-flex(row);
  }

  .bx-viewport {
    // height: 100% !important;
  }
}

.i13m-services-customers-content {
  .bxslider-customers {
    div {
      width: 150px;
      height: 150px;
      display: block;
      background-image: url(//cdn2.hubspot.net/hubfs/2422193/pictures/logos.png);
      background-repeat: no-repeat;
      &:first-child {
        background-position-y: 15px;
      }
      &:last-child {
        background-position-y: -135px;
      }
      &.audatex {
        background-position-x: 25px;
      }
      &.axa {
        background-position-x: 25px;
      }
      &.bauer {
        background-position-x: -125px;
      }
      &.bgz {
        background-position-x: -125px;
      }
      &.cdp {
        background-position-x: -275px;
      }
      &.creditagricole {
        background-position-x: -275px;
      }
      &.danone {
        background-position-x: -425px;
      }
      &.db {
        background-position-x: -425px;
      }
      &.dnb {
        background-position-x: -575px;
      }
      &.ds360 {
        background-position-x: -575px;
      }
      &.edf {
        background-position-x: -725px;
      }
      &.eiffage {
        background-position-x: -725px;
      }
      &.eurofins {
        background-position-x: -875px;
      }
      &.gddkia {
        background-position-x: -875px;
      }
      &.igt {
        background-position-x: -1025px;
      }
      &.ing {
        background-position-x: -1025px;
      }
      &.innogy {
        background-position-x: -1175px;
      }
      &.intrum {
        background-position-x: -1175px;
      }
      &.kp {
        background-position-x: -1325px;
      }
      &.krd {
        background-position-x: -1325px;
      }
      &.lot {
        background-position-x: -1475px;
      }
      &.mars {
        background-position-x: -1475px;
      }
      &.mbank {
        background-position-x: -1625px;
      }
      &.medicover {
        background-position-x: -1625px;
      }
      &.naspers {
        background-position-x: -1775px;
      }
      &.play {
        background-position-x: -1775px;
      }
      &.pramerica {
        background-position-x: -1925px;
      }
      &.proservice {
        background-position-x: -1925px;
      }
      &.provident {
        background-position-x: -2075px;
      }
      &.pwpw {
        background-position-x: -2075px;
      }
      &.raiffeisen {
        background-position-x: -2225px;
      }
      &.skanska {
        background-position-x: -2225px;
      }
      &.tikkurila {
        background-position-x: -2375px;
      }
      &.tvn {
        background-position-x: -2375px;
      }
      &.volvo {
        background-position-x: -2525px;
      }
      &.wardynski {
        background-position-x: -2525px;
      }
    }
  }
}

.bxslider-customers {
  li {
    height: 100%;
    box-sizing: border-box;
    .i13m-flex(column);
    justify-content: space-around;
    div {
      width:150px;
      height: 150px;
      .i13m-flex(column);
    }
    img {
      max-width: 100px;
      max-height: 100px;
    }
  }
}

.i13m-services-service-container {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  color: @imagination-blue;
  .i13m-content {
    z-index: 1;
  }
}

.i13m-services-service-background {
  .i13m-background-image-container();
  z-index: -1;
  .i13m-standard-mask(30%);
}

.i13m-services-service-heading {
  text-transform: uppercase;
  font-size: 3.5em;
  font-family: bariol-bold;
  position: relative;
  margin-bottom: .5em;
  padding-bottom: .5em;
  box-sizing: border-box;
  text-align: center;
  &:after {
    content: ' ';
    display: block;
    position: absolute;
    background-color: @empowering-yellow;
    width: 1em;
    height: 5px;
    border-radius: 5px;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

.i13m-services-service-text {
  .i13m-center();
  text-align: left;
  font-size: 1.3em;
  max-width: 78.75em;
  ul {
    text-align: left;
  }
  table {
    td {
      &:first-child {
        display: none;
      }
    }
    p {
      a {
        color: @imagination-blue;
      }
      &:last-child {
        a {
          .i13m-horizontal-button;
          background-color: @imagination-blue;
          color: #fff;
          display: inline-block;
          margin-top: 1em;
        }
      }
    }
  }
}

.i13m-services-service-texts {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 2em;
  > div {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    margin-top: -2em;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.i13m-services-service-buttons {
  width: 100%;
  .i13m-flex(row);
  box-sizing: border-box;
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  &.i13m-button-group {
    button {
      border-right: none;
      display: table-cell;
    }
  }
  &.i13m-button-group-vertical {
    button {
      border-bottom: none;
      display: block;
    }
    display: none;
  }
  button {
    background: none;
    font-size: 1em;
    padding: 1em;
    text-transform: uppercase;
    // -webkit-transition: all 0.5s ease-in-out;
    // transition: all 0.5s ease-in-out;
    vertical-align: middle;
    border: 1px solid @imagination-blue;
    width: 11.2em;
    box-sizing: border-box;
    text-align: center;
    color: @imagination-blue;
    height: 66px;
    &:last-child {
      border-right: 1px solid @imagination-blue;
      border-bottom: 1px solid @imagination-blue;
    }
    &:hover,
    &.selected {
      color: #fff;
      background-color: @imagination-blue;
      // -webkit-transition: all 0.2s ease-in-out;
      // transition: all 0.2s ease-in-out;
    }
  }
}

.i13m-services-team-main {
  height: 100%;
  .i13m-flex(column);
}

.i13m-services-team-container {
  height: 100%;
  width: 100%;
  color: @imagination-blue;
  .i13m-home-separator-container {
    z-index: 99;
    p:before,
    p:after {
      content: '';
    }
  }
  .teams {
    display: none;
  }
  .bx-wrapper,
  .bx-viewport {
    height: 100% !important;
  }
  .bx-pager {
    .i13m-flex(row);
    position: relative;
    width: 100%;
    bottom: 1em;
    left: 0;
    .bx-pager-item {
      margin: 1em 1em;
      text-align: center;
      width: 4px;
      a {
        color: transparent;
        position: relative;
        &:before {
          content: '\f111';
          position: absolute;
          left: 50%;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
          font-family: FontAwesome;
          color: lighten(@imagination-blue, 20%);
          -webkit-transition: color 0.3s ease-in-out;
          transition: color 0.3s ease-in-out;
          width: 2em;
        }
        &.active {
          &:before {
            color: @imagination-blue;
          }
        }
      }
    }
  }
}

.i13m-services-team-widget {
  .i13m-flex(row);
  margin-top: 4em;
  > div {
    width: 252px;
    margin: 0 15px;
    .i13m-flex(column);
  }
}

.i13m-services-team-header {
  height: 270px;
  margin-bottom: 10px;
  width: 100%;
  position: relative;
  cursor: pointer;
  p {
    opacity: 0;
    z-index: -99;
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    margin: 1em;
  }
}

.i13m-services-team-info {
  width: 100%;
  padding: 1.2em 1em 1.6em;
  box-sizing: border-box;
  border: 1px solid #e3e3e3;
}

.i13m-service-team-name {
  font-size: 1.4em;
  text-transform: uppercase;
  color: @honest-gray;
  font-family: bariol-bold;
}

.i13m-service-team-post {
  color: #aeaeae;
  max-height: 1em;
}

.i13m-services-team-you {
  .i13m-services-team-header {
    background-color: #e3e3e3;
    .i13m-flex(row);
    a {
      width: 5em;
      height: 5em;
      display: block;
      border-radius: 50%;
      background-color: @imagination-blue;
      position: relative;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      &:hover {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
      }
      &:after {
        content:'\f067';
        font-family: FontAwesome;
        color: @empowering-yellow;
        font-size: 2em;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
    }
  }
  .i13m-services-team-info {
    background-color: @imagination-blue;
    border: 1px solid @imagination-blue;
    .i13m-service-team-name,
    .i13m-service-team-post {
      color: #fff;
    }
  }
}

.i13m-services-contact-form {
  margin-right: 1em;
  h3 {
    .i13m-center();
    // margin: 2.5em auto 2em;
    margin: 0;
    // font-size: 1.7em;
    // color: #858586;
    // font-weight: 400;
    // font-family: bariol-light;
  }

  > span,
  .hbspt-form {
    .i13m-center();
    display: block;
    form {
      // fieldset {
      // margin-left: 24px !important;
      //   > div:last-child {
      //     > div {
      //       margin-right: 24px !important;
      //     }
      //   }
      // }
      fieldset {
        &:nth-child(5),
        > div {
          margin: 0 !important;
        }
        margin-right: -8px !important;
        > div {
          &:not(:first-child) {
            width: calc(~"50% - 10px") !important;
            margin-left: 10px !important;
          }
        }
      }
      fieldset,
      > div {
        max-width: 76.75em;
        margin: 1.1em 0;
        input,
        select,
        textarea {
          width: 100% !important;
          box-sizing: border-box;
          padding: 0.9em 0.6em;
          background-color: #fff;
          border: 1px solid #ddd;
          -webkit-border-radius: 4px;
          border-radius: 4px;
          font-size: 1.1em;
          outline: none;
        }
        textarea {
          height: 11.5em;
        }
        input[type="submit"] {
          background-color: @imagination-blue;
          color: #fff;
          text-transform: uppercase;
          font-weight: 700;
          cursor: pointer;
          &:hover {
            background-color: @hover-dark;
          }
        }
        > div {
          > label {
            display: block;
            float: right;
            font-size: 1.5em;
            font-weight: 700;
            color: #f43718;
            -webkit-transform: translateX(5px);
            transform: translateX(5px);
          }
          // &:not(:last-of-type) {
          //   label {
          //     display: none !important;
          //   }
          // }
        }
      }
      // .hs_submit {
      //   .actions {
      //     margin-right: 24px;
      //     margin-left: 24px;
      //   }
      // }
    }
  }
}

.i13m-services-contact-person {
  font-family: bariol-light;
  margin-left: 1em;
  h5 {
    text-transform: uppercase;
    font-size: 1.8em;
    margin: .3em;
  }
  h6 {
    font-size: 1.3em;
    margin: -.3em 0 0 .415em;
  }
}
