.i13m-tagetik-main {
  .i13m-background {
    .i13m-standard-mask(30%);
  }
  .i13m-content {
    h1 {
      text-transform: uppercase;
      font-size: 6em;
      .i13m-bottom-separator();
      padding-bottom: .25em;
      margin-bottom: .25em;
      font-family: bariol-bold;
      &:after {
        width: .7em;
      }
    }
    h2 {
      color: @imagination-blue;
      font-family: bariol-light;
      margin: 0;
      max-width: 60em;
      text-align: center;
      p {
        &:first-child {
          font-size: 3em;
        }
        &:last-child {
          font-size: 2.5em;
        }
      }
    }
    .i13m-white-separator {
      .desktop {
        min-width: 6em;
      }
    }
  }

  .i13m-separator {
    background-color: #fff;
    color: @imagination-blue;
    .i13m-flex(row);
    a {
      .i13m-horizontal-button();
      background-color: @imagination-blue;
      font-size: 0.8em;
      color: #fff;
      text-transform: uppercase;
      margin: 0 0 0 1em;
    }
    p {
      max-width: 48em;
    }
  }
}

.i13m-tagetik-processes {
  color: #fff;
  h4 {
    .i13m-bottom-separator();
    padding-bottom: .65em;
    margin-bottom: .65em;
    &:after {
      width: 1.5em;
    }
  }
  .i13m-content {
    .process {
      display: none;
    }
    .i13m-text {
      p {
        text-align: center;
        font-size: 1.5em;
        word-break: break-word;
        max-width: 78.75em;
        margin: 1.5em 0;
      }
    }
    .i13m-tagetik-gauges {
      margin-top: 5em;
      .i13m-flex(row);
      > div {
        margin: 0 5em;
        padding: 25px;
        box-sizing: border-box;
      }
      .i13m-text {
        p {
          max-width: 200px;
        }
      }
    }
  }
}

.i13m-tagetik-gauge {
  .i13m-flex(column);
  height: 150px;
  position: relative;
  p {
    position: absolute;
    font-size: 2em;
    font-family: bariol-light;
    margin: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.i13m-tagetik-management {
  .i13m-background {
    .i13m-standard-mask(30%);
    img {
      top: 0;
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
    }
  }
  color: @imagination-blue;
  h4 {
    .i13m-bottom-separator();
    padding-bottom: .35em;
    margin-bottom: .35em;
    &:after {
      width: 1.5em;
    }
  }
  .i13m-text {
    font-size: 1.8em;
    .i13m-text-absolute();
  }
  .i13m-separator {
    background-color: @imagination-blue;
    color: #fff;
  }
}

.i13m-tagetik-management-animation {
  td {
    opacity: 0;
  }
}

.i13m-tagetik-management-smalldot {
  div {
    background: @imagination-blue;
    border-radius: 50%;
    width: .5em;
    height: .5em;
    margin: 1em;
  }
}

.i13m-tagetik-management-dot {
  div {
    background: @imagination-blue;
    border-radius: 50%;
    width: 1.4em;
    height: 1.4em;
    margin: 1em;
  }
}

.i13m-tagetik-management-icon {
  div {
    background-color: @imagination-blue;
    background-image: url(http://cdn2.hubspot.net/hubfs/2422193/pictures/tagetik_sprites.png);
    background-position: center;
    background-repeat: no-repeat;
    background-position: -169px 27px;
    border-radius: 50%;
    width: 125px;
    height: 125px;
  }
}

.i13m-tagetik-management-horizontal-glue {
  height: 2em;
}

.i13m-tagetik-management-animation-mobile {
  display: none;
}

.i13m-right-button,
.i13m-left-button {
  &.management {
    display: none;
  }
}

.i13m-tagetik-management-texts {
  td,
  p {
    text-transform: uppercase;
    font-size: 1.4em;
    max-width: 125px;
    text-align: center;
  }
  p {
    font-size: 1em;
  }
}

.i13m-tagetik-management-left-glue,
.i13m-tagetik-management-right-glue {
  width: 3em;
}

.i13m-tagetik-management-icon-2 {
  div {
    background-position: 28px 27px;
  }
}

.i13m-tagetik-management-icon-3 {
  div {
    background-position: -71px 27px;
  }
}

.i13m-tagetik-management-icon-4 {
  div {
    background-position: -368px 27px;
  }
}

.i13m-tagetik-management-icon-5 {
  div {
    background-position: -270px 27px;
  }
}

.i13m-tagetik-benefits {
  .i13m-background {
    .i13m-standard-mask(30%);
  }

  color: @imagination-blue;
  h4 {
    .i13m-bottom-separator();
    padding-bottom: .35em;
    margin-bottom: .35em;
    &:after {
      width: 1.5em;
    }
  }
  .i13m-text {
    font-size: 1.8em;
    .i13m-text-absolute();
  }
  .i13m-separator {
    background-color: @imagination-blue;
    color: #fff;
  }
  .i13m-left-button,
  .i13m-right-button {
    &.benefit {
      display: none;
    }
  }
}

.i13m-tagetik-benefits-table {
  .i13m-flex(column);
  margin-top: 5em;
  p {
    text-transform: uppercase;
    color: @honest-gray;
    text-align: left;
    font-family: bariol-bold;
    font-size: 1.4em;
    letter-spacing: 1px;
    max-width: 30em;
  }
}

.i13m-tagetik-benefits-card {
  opacity: 0;
  width: 600px;
  height: 105px;
  margin: 1em 0;
  .i13m-flex(row);
  > div:not(.i13m-tagetik-benefits-icon) {
    .i13m-flex(column);
    height: 105px;
    width: 450px;
    padding: 2.5em;
    box-sizing: border-box;
  }
}

.i13m-tagetik-benefits-icon {
  &.icon1 {
      background-position: 45px 35px;
    }
  &.icon2 {
    background-color: @imagination-blue;
  }
  &.icon3 {
    background-position: -173px 35px;
  }
}

.i13m-tagetik-benefits-table-mobile  {
  display: none;
  .i13m-tagetik-benefits-card {
    flex-direction: column;
    height: auto;
    width: 192px;
    div {
      &:last-of-type {
        width: auto;
        padding: 0;
        p {
          text-transform: uppercase;
          font-size: 1.2em;
          text-align: center;
          color: @honest-gray;
          width: 12em;
        }
      }
    }
  }
}

.i13m-tagetik-benefits-icon {
  width: 145px;
  height: 145px;
  background-image: url(http://cdn2.hubspot.net/hubfs/2422193/pictures/tagetik-benefits_sprites.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: @medium-gray;
  border-radius: 50%;
  background-position: -64px 35px;
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  flex-shrink: 0;
}

.i13m-tagetik-choose {
  color: #fff;
  .i13m-background {
    .i13m-background-image-container();
    z-index: -99;
    background-color: @imagination-blue;
  }
  h4 {
    .i13m-bottom-separator();
    padding-bottom: .35em;
    margin-bottom: .35em;
    &:after {
      width: 1.5em;
    }
  }
  .i13m-text {
    font-size: 1.8em;
    .i13m-text-absolute();
    top: 7.5em;
    width: 100%;
  }

  .bx-controls-direction {
    .i13m-flex(row);
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .bx-prev,
    .bx-next {
      cursor: pointer;
      font-size: 2.6em;
      text-decoration: none;
      display: block;
      border-radius: 50%;
      width: 1em;
      font-size: 2em;
      height: 1em;
      background-color: rgba(45, 45, 45, 0.7);
      position: relative;
      border: 3px solid rgba(45, 45, 45, 0.7);
      -webkit-transition: background-color 0.2s ease-in-out;
      transition: background-color 0.2s ease-in-out;
      &:after {
        font-size: .4em;
        font-family: FontAwesome;
        position: absolute;
        top: 50%;
        left: 50%;
        color: #fff;
        transform: translate(-50%, -50%);
      }
      &:hover {
        background-color: fade(@empowering-yellow,  70%);
      }
    }
    .bx-next {
      &:after {
        content: '\f054';
      }
    }
    .bx-prev {
      &:after {
        content: '\f053';
      }
    }
  }
  .bx-pager {
    .i13m-flex(row);
    position: absolute;
    width: 100%;
    bottom: 4em;
    .bx-pager-item {
      margin: 2em 1em;
      a {
        color: transparent;
        position: relative;
        text-align: center;
        &:before {
          content: '\f111';
          position: absolute;
          width: 2em;
          left: 50%;
          font-family: FontAwesome;
          color: #fff;
          -webkit-transition: color 0.3s ease-in-out;
          transition: color 0.3s ease-in-out;
        }
        &.active {
          &:before {
            color: @empowering-yellow;
          }
        }
      }
    }
  }
  .bx-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    // * {
    //   padding: 0;
    //   margin: 0;
    // }
  }

  .bx-controls {
    height: 100% !important;
    width: 100%;
    position: absolute;
    top: 0;
  }

  .bx-viewport {
    height: 389px !important;
    width: 524px !important;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
  }
}

.i13m-tagetik-choose-ipad {
  margin-top: -2em;
  z-index: 99;
  width: 600px;
  img {
    width: 600px;
  }
}

.i13m-tagetik-choose-carousel {
  margin-top: 2em;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}

.bxslider-tagetik {
  margin: 0;
  li {
    height: 389px !important;
    width: 524px;
    .i13m-flex(column);
    img {
      width: 524px;
    }
  }
}
