.i13m-thankyou-page {
  .i13m-content {
    > div {
      .i13m-flex(column);
      justify-content: space-between;
    }
    > span {
      width: 100%;
    }
  }
  .body-container-wrapper {
    padding-top: 0;
  }
  .i13m-navi {
    display: none;
  }
}

.i13m-thankyou-header-content {
  height: 100%;
  width: 100%;
  color: #fff;
  overflow: auto;
  .i13m-flex(column);
  max-width: 78.75em;
  margin: 0 auto;
  > * {
    margin: 0;
  }
  h1 {
    font-size: 4em;
    text-transform: uppercase;
  }
  h2 {
    font-size: 2em;
    font-weight: normal;
    text-align: center;
    max-width: 20em;
  }
}
.i13m-thankyou-header-background {
  height: 300px;
  min-height: 300px;
}

.i13m-thankyou-tiles {
  .i13m-flex(row);
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 78.75em;
  height: 100%;
  width: 100%;
  padding: 2em;
  .grid-row {
    .i13m-flex(row);
    flex-wrap: wrap;
    min-width: 50%;
    min-height: 50%;
    justify-content: space-around;
    .grid-item {
      max-width: 19em;
      max-height: 38em;
      height: 100%;
      width: 100%;
      position: relative;
      overflow: hidden;
      .background {
        background-color: fade(@honest-gray, 40%);
        height: calc(~"100vh - 480px");
        max-height: 38em;
        position: relative;
        display: block;
        z-index: 3;
        cursor: pointer;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        > span {
          text-decoration: none;
          font-size: 2em;
          text-transform: uppercase;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          display: inline-block;
          text-align: center;
          color: #fff;
          z-index: 4;
          .i13m-flex(column);
          pointer-events: none;
        }
      }
      > div {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
      }
      &:hover {
        .background {
          background-color: fade(@imagination-blue, 40%);
        }
        > div {
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
        }
      }
    }
  }
}
