.tooltipster-base {display:flex; pointer-events:none; position:absolute;}
.tooltipster-box {flex: 1 1 auto;}
.tooltipster-content {box-sizing:border-box; max-height:100%; max-width:100%; overflow:auto;}
.tooltipster-ruler {bottom:0; left:0; overflow:hidden; position:fixed; right:0; top:0; visibility:hidden;}
.tooltipster-fade {opacity: 0; -webkit-transition-property: opacity; -moz-transition-property: opacity; -o-transition-property: opacity; -ms-transition-property: opacity; transition-property: opacity;}
.tooltipster-fade.tooltipster-show {opacity: 1;}

@keyframes tooltipster-fading {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.tooltipster-update-fade {animation: tooltipster-fading 400ms;}
.tooltipster-sidetip .tooltipster-box {width:350px; padding:1em 0.75em; background:#fff; text-align:left; box-shadow:5px 5px 25px rgba(0,0,0,0.25);}
.tooltipster-sidetip .tooltipster-box strong {font-size:1.13em; color:#2c3e50; text-transform:uppercase}
.tooltipster-sidetip .tooltipster-box p {margin:0.5em 0 0 0;}
.tooltipster-sidetip.tooltipster-left .tooltipster-box {margin-right:8px;}
.tooltipster-sidetip.tooltipster-right .tooltipster-box {margin-left:8px;}
.tooltipster-sidetip.tooltipster-top .tooltipster-box {margin-bottom:8px;}
.tooltipster-sidetip .tooltipster-content {color:#a1b1bc; line-height:18px; padding:6px 14px;}
.tooltipster-sidetip .tooltipster-arrow {overflow:hidden; position:absolute;}
.tooltipster-sidetip.tooltipster-left .tooltipster-arrow {height:20px; margin-top:-10px; right:0; top:0; width:10px;}
.tooltipster-sidetip.tooltipster-right .tooltipster-arrow {height:20px; margin-top:-10px; left:0; top:0; width:10px;}
.tooltipster-sidetip.tooltipster-top .tooltipster-arrow {bottom:0; height:10px; margin-left:-10px; width:20px;}
.tooltipster-sidetip .tooltipster-arrow-background, .tooltipster-sidetip .tooltipster-arrow-border {height:0; position:absolute; width:0;}
.tooltipster-sidetip .tooltipster-arrow-background {border:10px solid transparent;}
.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-background {border-left-color:#fff; left:-3px; top:0px;}
.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-background {border-right-color:#fff; left:3px; top:0px;}
.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {border-top-color:#fff; left:0px; top:-3px;}
.tooltipster-sidetip .tooltipster-arrow-border {border: 10px solid transparent; left:0; top:0;}
.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border {border-left-color:#fff; }
.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-border {border-right-color:#fff;}
.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border {border-top-color:#fff;}
.tooltipster-sidetip .tooltipster-arrow-uncropped {position:relative;}
.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-uncropped {left:-10px;}

.tooltipster-right {
	.tooltipster-box {
		background: none;
		box-shadow: none;
	}
}

.tooltipster-base {
	z-index: 1 !important;
}
