@font-face {
	font-family: Bariol;
  src: url('bariol_bold-webfont.woff2') format('woff2'),
       url('bariol_bold-webfont.woff') format('woff'),
       url('bariol_bold-webfont.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}




@font-face {
	font-family: Bariol;
  src: url('bariol_light-webfont.woff2') format('woff2'),
       url('bariol_light-webfont.woff') format('woff'),
       url('bariol_light-webfont.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}




@font-face {
	font-family: Bariol;
  src: url('bariol_regular-webfont.woff2') format('woff2'),
       url('bariol_regular-webfont.woff') format('woff'),
       url('bariol_regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
