@font-face {
	font-family: Bariol;
  src: url('bariol_bold-webfont.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: Bariol;
  src: url('bariol_light-webfont.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: Bariol;
  src: url('bariol_regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
